

.cmp-cards__inner-wrap{
    --cards-page-title-font-size: var(--font-size-4000);
}

.cmp-cards__inner-wrap h1 {
    color: var(--reactive-text-color);
    font-size: var(--cards-page-title-font-size);
    margin: 2rem auto;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
    width: 70%;
    max-width: var(--layout-max-width-desktop);
}

.cmp-cards__inner-wrap > h2 { 
    --cards-page-subhead-font-size: var(--font-size-900);

    color: var(--reactive-text-color);
    font-size: var(--cards-page-subhead-font-size);
    font-weight: 100;
    margin: 2rem auto;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
    width: 70%;
    max-width: var(--layout-max-width-desktop);
    margin-bottom: 4em;
}

.callout{
    width: 95%;
    background: var(--color-base-white);
    margin: auto;
    max-width: var(--layout-max-width-desktop);
    color: var(--color-base-red);
    display: flex;
    justify-content: center;
    align-items: center;
}

.callout>div{
    font-size: var(--font-size-2500);
    font-weight: var(--font-weight-black);
    line-height: 1.2em;
    margin: 4.2em 15%;
}

.cards.block {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    column-gap: 12px;
    row-gap: 12px;
    margin: 0 auto;
    width: 95%;
    max-width: var(--layout-max-width-desktop);
}

.cards .cmp-cards-card.dark-text{
    --text-color: var(--color-base-dark-slate);
}

.cards .cmp-cards-card.light-text{
    --text-color: var(--color-base-white);
}

.cards .cmp-cards-card {
    grid-column: col-start 1 / span 6;
    color: var(--text-color);
}

.cards .cmp-cards-card__body {
    padding: 2.25rem 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards .cmp-cards-card__title a,
.cards .cmp-cards-card__title a:hover,
.cards .cmp-cards-card__title a:focus {
  color: var(--text-color);
}

.cards .cmp-cards-card__title {
    --home-card-title-font-size: var(--font-size-900);

    font-size: var(--home-card-title-font-size);
    font-weight: var(--font-weight-black);
    margin: 1rem 0 4.5rem;
}

.cards .cmp-cards-card__description {
    --home-card-intro-font-size: var(--font-size-400);
    
    font-size: var(--home-card-intro-font-size);
    line-height: 1.3;
    margin-bottom: 1.5rem;
}

@media (min-width: 900px) {
    .cmp-cards__inner-wrap h1 {
        --stories-page-title-font-size: var(--font-size-2500);

        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    .cards {
        grid-template-columns: repeat(12, [col-start] 1fr);
    }
    
    .cards .cmp-cards-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: col-start 1 / span 12;
    }
    
    .cards .cmp-cards-card:nth-of-type(even) picture {
        grid-column-start: 2;
        grid-row-start: 1;
    }
    
    .cards .cmp-cards-card:nth-of-type(odd) picture {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    
    .cards .cmp-cards-card:nth-of-type(even) > div {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    
    .cards .cmp-cards-card:nth-of-type(odd) > div {
        grid-column-start: 2;
        grid-row-start: 1;
    }
    
    .cards .cmp-cards-card__media {
        height: 100%;
    }

    .cards .cmp-cards-card__title {
        --home-card-title-font-size: var(--font-size-1000); 

        line-height: 1;
        margin-top: 20%;
    }
}

@media (min-width: 1300px) {
    .cmp-cards__inner-wrap h1 {
        --stories-page-title-font-size: var(--font-size-4000);
    }
}
  