.author-bio {
    background: #F5F5F5;
    height: 30em;
    display: flex;
    align-items: center;
}

.author-bio > div {
    display: flex;
    margin: 0 25% 5em 25%;
    align-items: center;
}

.author-image {
    width: 6em;
}

.author-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%
}

.author-info {
    margin-left: 7em;
    padding-top: 10em;
}

.author-info > p:nth-child(1) {
    margin-bottom: 2em;
}

.author-info > p:nth-child(3) {
    margin-top: 8em;
}

.title {
    font-size: clamp(5px, 6vw, 12px);
}

.name {
    font-size: clamp(20px, 5vw, 25px);
    margin: 0;
}

@media (max-width: 767px) {
    .author-bio {
        height: 25em;
    }

    .author-name {
        width: 80%;
    }

    .author-image {
        border: 1px solid black;
    }

    .author-bio > div {
        margin: 0 12% 5em 12%;
        flex-direction: column;
    }

    .author-info {
        padding-top: 1em;
        margin-left: 0;
        text-align: center;
    }

    .author-info > p:nth-child(1) {
        font-weight: bold;
        font-size: 1.5em;
        margin-bottom: 1em;
    }

    .author-info > p:nth-child(3) {
        margin-top: 2em;
    }
}