.collaborators {
  background-color: var(--color-base-light-rose);
  grid-column: 1 / -1;
  padding: 5.25rem var(--page-inline-padding) 0;
}

.design-circle-scholars .collaborators {
  margin-bottom: 12px;
}

.collaborators:last-of-type {
  padding-top: 0;
  padding-bottom: 5.25rem;
}

.cmp-collaborator {
  margin-bottom: 4rem;
}

.cmp-collaborator:last-of-type {
  margin-bottom: 0;
  padding-bottom: 4rem;
}

.cmp-collaborator picture {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.cmp-collaborator img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cmp-collaborator .cmp-collaborators__media-parent {
  margin-bottom: 1rem;
}

.cmp-collaborator h2,
.cmp-collaborator h3 {
  color: var(--color-base-dark-slate-secondary);
  font-family: var(--font-stack-sans);
  font-size: var(--font-size-300);
  font-weight: var(--font-weight-bold);
}

.cmp-collaborator h2 {
  line-height: 1;
  margin-bottom: 0.25rem;
}

.design-circle-scholars .cmp-collaborator h2 {
  margin-bottom: 12px;
}

.cmp-collaborator h3 {
  line-height: 1.2;
  margin-bottom: 1rem;
}

.cmp-collaborator p {
  color: var(--color-base-dark-slate-secondary);
  font-family: var(--font-stack-serif);
  font-size: var(--font-size-100);
  font-style: italic;
  line-height: 1.2;
  margin-bottom: 0;
}

.cmp-collaborator.cmp-collaborator--intro h2 {
  color: var(--color-base-dark-slate-secondary);
  font-family: var(--font-stack-sans);
  font-size: var(--font-size-800);
  font-weight: var(--font-weight-black);
  line-height: 1.1;
}

.cmp-collaborator.cmp-collaborator--intro h2:only-child {
  margin-bottom: 0;
}

.cmp-collaborator.cmp-collaborator--intro p {
  color: var(--color-base-dark-slate-secondary);
  font-family: var(--font-stack-serif);
  font-size: var(--page-subtitle-font-size);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 1.3;
}

.design-circle-scholars .cmp-collaborator p,
.design-circle-scholars .cmp-collaborator p + p {
  margin-top: 0;
}

@media (min-width: 900px) {
  .collaborators {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    padding-right: 0;
    padding-left: 0;
  }

  .collaborators:last-of-type {
    padding-top: 5.25rem;
  }
  
  .cmp-collaborators__inner-wrap {
    grid-column: 2 / -2;
    column-gap: 12px;
    row-gap: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cmp-collaborator {
    grid-column: auto / auto;
  }

  .cmp-collaborator.cmp-collaborator--intro {
    grid-column: 1 / -1;
    margin-bottom: 4rem;
  }

  .cmp-collaborator h2,
  .cmp-collaborator h3 {
    font-size: var(--font-size-400);
  }

  .cmp-collaborator p {
    font-size: var(--font-size-400);
  }

  .cmp-collaborator.cmp-collaborator--intro h2 {
    font-size: var(--font-size-900);
    margin-bottom: 2rem;
  }

  .cmp-collaborator.cmp-collaborator--intro h2:only-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1300px) {
  .collaborators {
    grid-template-columns: repeat(16, [col-start] 1fr);
  }
}
