.page-type-tools{
    background: #4BA78D;
}
#our-toolkit{
    color: white;
    font-size: 50px;
    font-weight: 400;
    display: flex;
    align-items: center;
    height: calc(30vh - 55px)
}
#the-ideas-systems-and-tools-that-guide-our-thinking-our-processes-and-our-designs{
    color: white;
    font-size: 35px;
    font-weight: 300;
    display: flex;
    align-items: center;
    height: calc(30vh - 55px)
    
}
body > .toolkit > div{
    display: flex;
    justify-content: center;
}
body > .toolkit > div > div{
    width: 1000px;
}

.toolkit > .text{
    color: white;
}
body > .toolkit > div > div > div:nth-child(4) > div > div.image{
    background-color: #F4F4F4;
}
body > .toolkit > div > div > div > div > div.text{
    color: white;
}