
.toolkit-header{
    height: calc(60vh - 110px);
    width: 1000px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#our-toolkit{
    color: white;
    font-size: 50px;
    font-weight: 400;
}
#the-ideas-systems-and-tools-that-guide-our-thinking-our-processes-and-our-designs{
    color: white;
    font-size: 35px;
    font-weight: 300;
}
body > .toolkit > div{
    display: flex;
    justify-content: center;
}
body > .toolkit > div > div{
    width: 1000px;
}
.toolkit-page-content{
    background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 160px,rgba(255,255,255, 1) 160px);
    padding: 30px 30px 1px 30px;
    box-sizing: border-box;
}

body > .toolkit > div > div > div.toolkit-page-content > .article-card{
    min-width: unset;
}

.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
  }

  .js-scroll.scrolled {
    opacity: 1;
  }

  .scrolled.fade-in {
    animation: fade-in-bottom .8s cubic-bezier(.63,.07,.46,.99) both;
  }



.toolkit > .text{
    color: white;
}
.toolkit > div > div > div.toolkit-page-content > div:nth-child(2) > div > div.image{
    background-color: #F4F4F4;
}
body > main.toolkit > div > div > div.toolkit-page-content > div > div > div.text{
    color: white;
}
body > main.toolkit > div > div > div.toolkit-page-content > div:nth-child(5) > div > div.text{
    color: black;
}
body > main.toolkit > div > div > div.toolkit-page-content > div:nth-child(8) > div > div.text{
    color: black;
}
.big-red-text{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #E91D25;
    padding: 0 15%;
    box-sizing: border-box;
}


/* bottom container css */
.toolkit-bottom-container{
    height: 500px;
    width: 100%;
    background: #0B1C40;
    color: #FAECE7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.toolkit-bottom-bar-header{
    margin-top: 8%;
    margin-left: 20%;
    font-weight: 300;
    font-size: 35px;
    width: 36%;
}
.toolkit-bottom-bar-subheader{
    font-weight: 300;
    font-size: 16px;
    margin-left: 20%;
    border-bottom: 2px solid #fAEce7
}
.toolkit-bottom-container-stats{
    display: flex;
    width: 100%;
    justify-content: center;
}

/* animations */
@keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(100px) scale(.95);
      transform: translateY(100px) scale(.95);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }