.cmp-join-us__title {
  --join-us-title-font-size: var(--font-size-4500);

  color: var(--color-base-red);
  font-size: var(--join-us-title-font-size);
  font-weight: var(--font-weight-black);
  line-height: 0.85;
  padding: 0 2rem 0 3rem;
  margin-bottom: 4rem;
}

.home .cmp-columns__inner {
  background-color: var(--color-base-white);
  display: grid;
  grid-template-columns: repeat(6, [col-start] 1fr);
  margin: 0 auto;
  width: 95%;
  max-width: var(--layout-max-width-desktop);
}

.cmp-stats-parent {
  display: none;
}

.cmp-columns__item:first-of-type {
  grid-column: 1 / -1;
}

.cmp-columns__item:last-of-type {
  background-color: var(--color-base-tan);
}

@media (min-width: 900px) {
  .cmp-join-us__title {
    --join-us-title-font-size: 200px;

    padding: 0;
  }

  .cmp-stats-parent {
    display: block;
  }

  .home .cmp-columns__inner {
    grid-template-columns: repeat(12, [col-start] 1fr);
  }

  .cmp-columns__item:first-of-type {
    grid-column: col-start 2 / span 5;
  }

  .cmp-columns__item:last-of-type {
    grid-column: 8 / -1;
  }
}

@media (min-width: 1300px) {
  .cmp-join-us__title {
    --join-us-title-font-size: var(--font-size-6000);

    margin-bottom: 6rem;
  }

  .home .cmp-columns__inner {
    display: grid;
    grid-template-columns: repeat(16, [col-start] 1fr);
  }

  .cmp-columns__item {
    grid-column: col-start 2 / span 7;
  }

  .cmp-columns__item:last-of-type {
    grid-column: 9 / -1;
  }
}
