.two-column.block > div {
    display:flex;
    flex-direction:row;
}

.two-column.block > div > div {
    flex-grow:1;
    flex-basis:0;
}

@media (max-width: 1024px) and (min-width: 768px){
    
    .job-listing h3{
        margin-top: .8em;
        font-size: 2.2em;
    }
    .job-listing p{
        margin: 0;
    }

    .two-column.block{
        margin-bottom: 0.5rem;
    }

    /* Only targets the joinus/scoreboard block */
    .two-column.block:last-of-type{
        margin-bottom: 0;
    }
    .two-column.block:last-of-type > div > div:first-child {
        flex-grow:7;
    }
    .two-column.block:last-of-type > div > div:last-child {
        flex-grow:5;
    }
}
@media (max-width: 767px) {
    .two-column.block > div {
        flex-direction: column;
    }
    .two-column.block > div > div {
        height: auto;
    }
    
}

/* .two-column.block > div {
    display:grid;
    grid-template-columns: 50% 50%;
} */