.pull-quote.block {
  margin-bottom: 3rem;
}

.cmp-pullquote__text p {
  --pq-font-size: var(--font-size-400);

  color: var(--color-base-brown);
  font-family: var(--font-stack-serif);
  font-size: var(--pq-font-size);
  line-height: 1.3;
  margin: 1.5rem 0 1rem;
}

.cmp-pullquote__attribution p {
  --pq-attribution-font-size: var(--font-size-300);

  font-size: var(--pq-attribution-font-size);
  font-family: var(--font-stack-sans);
} 

@media (min-width: 900px) {
  .pull-quote.block {
    margin-bottom: 5.25rem;
  }

  .cmp-pullquote__text p {
    --pq-font-size: 2.125rem;

    margin: 3.75rem 0 1rem;
  }

  .cmp-pullquote__attribution p {
    --pq-attribution-font-size: var(--font-size-400);
  }
}
