.cmp-pullquote__text p {
  --pq-font-size: var(--font-size-400);

  font-size: var(--pq-font-size);
  font-family: var(--font-stack-serif);
  margin: 3rem 0 1rem;
}

.cmp-pullquote__attribution p {
  --pq-attribution-font-size: var(--font-size-400);

  font-size: var(--pq-font-size);
  font-family: var(--font-stack-sans);
  margin-bottom: 3rem;
} 

@media (min-width: 900px) {
  .cmp-pullquote__text p {
    --pq-font-size: var(--font-size-900);
  }

  .cmp-pullquote__attribution p {
    --pq-attribution-font-size: var(--font-size-400);
  }
}

@media (min-width: 1300px) {
  .cmp-pullquote__text p {
    --pq-font-size: var(--font-size-650);
  }

  .cmp-pullquote__attribution p {
    --pq-attribution-font-size: var(--font-size-800);
  }
}
