.block.pull-quote {
    padding-top: 2em;
    font-size: 1.5em;
    font-family: var(--serif-font);
    font-weight: var(--weight-regular);
    width: auto;
    line-height: 1.5;
    text-align: left;
    color: #FF7D4F;
}
.block.pull-quote .attribution {
    padding-top: 1em;
}
.block.pull-quote{
    padding: 0;
}

.block.pull-quote .block-content .quote p{
    padding-top: 2em;
    padding-left: 0;
    padding-right: 0;
    font-size: 1em;
    font-family: var(--serif-font);
    font-weight: var(--weight-regular);
    width: auto;
    line-height: 1.5;
    text-align: left;
    color: #FF7D4F;
}
.block.pull-quote .block-content .quote p:nth-child(2){
    padding-top: 0;
    margin-top: 0;
    font-size: .6em;
}