/* @import url(../../blocks/job-posting-blocks/job-post-header.css); */
@import url(../../blocks/job-posting-blocks/about-adobe-design.css);
@import url(../../blocks/job-posting-blocks/equal-opp-policy-stmnt.css);
@import url(../../blocks/job-posting-blocks/similar-opportunities.css);
/* @import url(../../blocks/job-posting-blocks/left-blocks.css); */


@media screen and (max-width: 1000px) {
    .job-post,
    .job-post header.split,
    .job-post main > div,
    .job-post .post-container,
    .job-post .about-adobe-design{
        font-size: 16px
    }
}
@media screen and (min-width: 1000px) and (max-width: 1920px) {
    .job-post,
    .job-post header.split,
    .job-post main > div,
    .job-post .post-container,
    .job-post .about-adobe-design{
        font-size: 1.6vw;
    }
}
@media screen and (min-width: 1920px) {
    .job-post,
    .job-post header.split,
    .job-post main > div,
    .job-post .post-container,
    .job-post .about-adobe-design{
        font-size: 30.7px;
    }
}

.job-post .section-wrapper.post-container{
    display: grid;
    grid-template-rows: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
}


@media screen and (min-width: 1300px) {
    .job-post .section-wrapper.post-container{
        width:        100%;
        max-width: 62.54em; /* 1920px */
        margin-right: auto;
        margin-left:  auto;
        grid-template-columns: 19.37em 42.63em;
        display: grid;
        height:     calc(100vh - 5.2em);
        max-height: calc(100vh - 5.2em);
        overflow-x: hidden;
        overflow-y: auto;
        gap: 10px;
    }
}


.job-post {
    background-image: none;
}

.job-post .post-container,
.job-post .about-adobe-design{
    margin: auto;
    max-width: 100vw;
    width: 100vw;
}

@media screen and (max-width: 1300px) {
    .job-post .sticky-container{
        display: none;
    }
    body.job-post {
        /* background: var(--bkg-navy-dark);
        background-color: var(--bkg-navy-dark); */
    }
    .post-container,
    .about-adobe-design{
        font-size: 16px;
    }
    .about-adobe-design{
        font-size: 1.6vw;
        max-height: 95em;
    }
}


@media screen and (min-width: 1300px) {
    body.job-post {
        background: #ffffff;
        background-color: #ffffff;
    }
    .job-post .sticky-container{
        width: 100%;
        max-width: 7.36em; /* 226px */
        /* background: #ff000081; */
        display: block;
        position: sticky;
        top: 8.5em;
        margin: 16.3em 3.84em auto auto;
    }
    .job-post .sticky-container button.unfilled,
    .job-post .sticky-container .details{
        width: 100%;
    }

    .job-post .details .detail-value,
    .job-post .details .detail-label{
        width: fit-content;
        margin-block: 0em;
    }

    .job-post .details .detail-label{
        font-size:   0.525em; /* 16px */
        line-height: 1.285em; /* 21px */
        margin-block-end: 1.25em; /* 25px; */
        text-transform: uppercase;
    }

    .job-post .details .detail-value{
        font-size: 0.67em;   /* 20px */
        line-height: 1.47em; /* 30px */
    }

    .job-post .sticky-container button.unfilled {
        margin: 14.6em 0 13.94em 0;
        width: 100%;
    }
    .job-post .sticky-container .details{
        margin: 2.4em 2.4em 8.5em auto ;
        display: grid;
        grid-template-rows: repeat(auto-fill, minmax(1fr, auto));
        gap: 2.4em  0 ;
    }
    .post-container .post-body,
    .sticky-container{
        display: inline-block;
    }
    .post-container{
        max-width: 100vw;
        width: fit-content;
        display: block;
        max-height: calc(100vh - 160px);
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .sticky-container{
        min-height: 41.5em;
    }
}

/* ---------- START Post Body/Text Section: ---------- */


.post-text{
    overflow-y: auto;
    background-color: #ffffff;
}

.job-post .post-text{
    max-width: 31.25em; /* 250px */
    padding: 0 2.5em 2.5em 2.5em; /* 40px */
}
@media screen and (max-width: 1300px) {
    .job-post .post-text{
        margin: auto;
    }
    .job-post .post-container{
        grid-column: span 1;
        grid-row: 2;
        margin: auto;
    }
}
.job-post .job-title{
    font-size: 3.91em; /* 120px */
    max-width: 5.83em;
    width: 5.83em;
    line-height: 0.916em; /* 110px */
    font-weight: var(--weight-black);
    margin-top: 2.25em;    /* 270px */
    /* margin-bottom: 2.3em; */
    font-family: var(--sans-serif-font);
}
@media screen and (min-width: 1300px) {
    .job-post .job-title{
        margin-bottom: 2.18em; /* 262px */
    }
}

.job-post .dek_blurb,
.job-post .post-text h2{
    font-family: var(--serif-font);
    font-size: 1.47em;    /* 45px */
    line-height: 1.551em; /* 70px */
}

.job-post .dek_blurb{
    margin-block: 2.17em;
}

.job-post .post-text h2{
    font-weight: var(--weight-regular);
    margin-block: 3em 0 1.650em 0; /* 136px 74px */
    color: var(--text-med);
}
.job-post .post-text h3,
.job-post .post-text p,
.job-post .post-text li{
    color: var(--text-dkr);
}

.job-post .post-text h3{
    font-weight: var(--weight-bold);
    font-size: 0.98em;    /* 30px */
    line-height: 1.23em;   /* 37px */
    margin-block: 0px;  /* TODO: 74px */
    margin: 2.46em 0;
}
.job-post .post-text p,
.job-post .post-text li {
    font-weight: var(--weight-regular);
    font-size: 0.977em; /* 30px */
    line-height: 1.56em; /* 28px  (28/18=1.555) */
    margin-block: 1.5em 1.5em;
}

.job-post .post-text p:last-of-type,
.job-post .post-text li:last-of-type{
    margin-bottom: 4.5rem;
}

.job-post .post-text ul {
    list-style: none;
    padding-inline-start: 0;
    margin-block: 0;
}
.job-post .post-text ul li:before{
    content: "• ";
}
.job-post .hed{
    font-weight: var(--weight-black);
    font-size: 3.5em; /* 56px */
}

.job-post .post-text button.unfilled{
    margin-top: 2em; /* height: 48px; */
}





.job-post footer{
    font-size: 16px;
}


/*  .job-post{grid}
-------------------------------------------------------
|                          | .post-text               |
|--------------------------|                          |
|  .sticky-container       |                          |
|                          |                          |
-------------------------------------------------------
|          Similar Jobs *block* goes here...          |
-------------------------------------------------------
|  .about adobe design                                |
|  grid-column: 1 / span 2                            |
|  grid-row:    3 / span 1                            |
-------------------------------------------------------
|  .eo-stmt                                           |
|  grid-column: 1 / span 2                            |
|  grid-row:    4 / span 1                            |
-------------------------------------------------------  */



.section-wrapper.post-container,
.sticky-container,
.post-body,
.post-text,
.job-info{
    /* border: 3px dotted #ff0000; */
}

.section-wrapper.post-container{
    /* border-color: #77770088; */
}
.sticky-container{
    /* border-color: #00ff0088; */
}
.post-body{
    /* border-color: #00ffff88; */
}
.post-text{
    /* border-color: #0000ff88; */
}
.job-info{
    /* border-color: #ff00ff88; */
}

div.boxy{
    height: calc(100vh - 160px);
    width: 100vw;
    /* background: #ff00ff77; */
    position: absolute;
    top: 160px;
    left: 0;
    color: #ff00ff00;
}