.job-post{
    font-weight: 1rem;
    background:  var(--color-grey);
    background-color: var(--bkg-navy-dark);
}
/* .job-post main .section-wrapper.page-container.job-info-container.block-content{} */

.job-post .text  {
    font-size: 1.125em; /* 18px */
}
.job-post .section-header{
    font-size: 1.375px; /* 22px */
}

.hed{
    font-weight: var(--weight-black);
    font-size: 3.5em; /* 56px */
}
.paragraph, p.text, .p-text, .paragraph-text{
    font-weight: var(--weight-regular);
    font-size: 1.875em; /* 30px */
}