.block.story {
    background: whitesmoke;
}

.block.story-text {
    position: relative;
    bottom: 3em;
    padding-left: 5em;
}

.block.story .image picture {
    width:300px;
    height:auto;
}

.block.story h2 {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 2px;
}

.block.story h3 {
    font-size: 1em;
    font-weight: 300;
}

.block.story .author {
    font-size: .75em;
    font-weight: 300;
    margin-bottom: .5em;
}

.block.story .position {
    font-size: .75em;
    font-weight: 300;
    margin-top: .25em;
}

.block.story .tag {
    position: relative;
    bottom: 270px;
    font-size: .75em;
    border-bottom: 2px solid black;
    width: 10em;
}