.cmp-lede__inner-wrap {
  margin: 0 auto;
  padding: 0;
  width: var(--content-width);
  max-width: var(--layout-max-width-desktop); 
}

.cmp-lede__article-title-wrap {
  display: grid;
  grid-template-columns: repeat(6, [col-start] 1fr);
  column-gap: 12px;
}

.cmp-lede__article-bg {
  background-color: var(--color-base-white);
  padding: 0 1.875rem;
}

.cmp-lede__article-title-wrap > * {
  grid-column: col-start 1 / -2;
}

.cmp-lede__article-bg > *:last-child:not(.cmp-author-details) {
  margin-bottom: 0;
  padding-bottom: 10rem;
}

.cmp-lede__article-bg .cmp-author-details {
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: repeat(6, [col-start] 1fr);
  left: 50%;
  margin-left: -45vw;
  margin-right: -45vw;
  margin-top: 8rem;
  padding-bottom: 6rem;
  padding-top: 6rem;
  position: relative;
  right: 50%;
  width: 90vw;
}

.cmp-lede__article-bg .cmp-author-details__meta {
  display: none;
}

.cmp-lede__article-bg .cmp-author-details__bio {
  grid-column: 2 / -2;
}

.image-with-caption {
  margin: 5.25rem 0;
}

.cmp-lede__media-parent img,
.cmp-image-with-caption__image img {
  margin-right: auto;
  margin-left: auto;
}

.cmp-lede__attribution {
  display: grid;
  grid-template-columns: auto 2fr;
  column-gap: 8px;
  row-gap: 8px;
  margin: 2rem 0 3rem;
}

.cmp-lede__attribution picture {
  grid-column: 1;
  grid-row: 1 / span 2;
  max-width: 45px;
}

.cmp-lede__attribution p.cmp-lede__author {
  --lede-author-font-size: var(--font-size-100);

  font-size: var(--lede-author-font-size);
  font-weight: var(--font-weight-bold);
  grid-column: 2;
  margin: 0;
  padding: 0;
  line-height: 1;
  align-self: start;
}

.cmp-lede__attribution p.cmp-lede__author-title {
  --lede-author-title-font-size: 0.75rem; /* 12px */

  font-size: var(--lede-author-title-font-size);
  grid-column: 2;
  grid-row-start: 2;
  margin: 0;
  padding: 0;
  line-height: 1;
  align-self: start;
}

.profile .cmp-lede__hero {
  aspect-ratio: 1 / 1;
}

.profile .cmp-lede__hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.profile .cmp-lede__article-bg {
  margin-top: 0;
  padding-top: 3rem;
}

.cmp-lede__article-bg .cmp-lede__media-parent.cmp-lede__hero-parent img {
  width: 100%;
}

/* hidden on small */
.cmp-lede__inner-wrap p.cmp-lede__hero-caption {
  display: none;
}

.cmp-lede__article-bg p,
.cmp-lede__article-bg ul,
.cmp-lede__article-bg ol {
  --body-copy-font-size: var(--font-size-100);
  
  font-family: var(--font-stack-sans);
  font-size: var(--body-copy-font-size);
  line-height: var(--article-copy-line-height);
  margin-bottom: 1.5rem;
}

.cmp-lede__article-bg p.cmp-lede__author {
  --lede-author-font-size: var(--font-size-100);

  font-size: var(--lede-author-font-size);
}

.cmp-lede__intro,
.cmp-lede__article-bg h2,
.cmp-lede__article-bg h3,
.cmp-lede__article-bg h4,
.cmp-lede__article-bg h5,
.cmp-lede__article-bg h6,
.cmp-lede__article-bg ul,
.cmp-lede__article-bg ol,
.cmp-lede__article-bg sup,
.cmp-lede__article-bg sub,
.cmp-lede__article-bg p,
.cmp-lede__article-bg a {
  color: var(--color-base-dark-slate-tertiary);
}

.cmp-lede__article-bg .cmp-author-details p {
  font-family: var(--font-stack-serif);
  font-size: var(--font-size-100);
}

.cmp-lede__article-bg a {
  text-decoration: underline;
}

.cmp-lede__article-bg a:hover,
.cmp-lede__article-bg a:focus {
  text-decoration: none;
}

.cmp-lede__article-bg h2 {
  --body-copy-h2-font-size: var(--font-size-650);

  font-family: var(--font-stack-serif);
  font-size: var(--body-copy-h2-font-size);
  font-weight: var(--font-weight-normal);
  line-height: 1.1;
  margin-bottom: 1.875rem;
}

.cmp-lede__article-bg h3 {
  --body-copy-h3-font-size: var(--font-size-400);

  font-family: var(--font-stack-serif);
  font-size: var(--body-copy-h3-font-size);
  line-height: 1;
  margin-bottom: 0.5rem;
}

.cmp-lede__article-bg p + h2,
.cmp-lede__article-bg p + h3 {
  margin-top: 4.375rem;
}

.page-title {
  margin-bottom: 2rem;
}

.page-subtitle {
  color: var(--reactive-text-color);
  margin-bottom: 4rem;
}

.cmp-lede__tag span {
  --lede-tag-font-size: var(--font-size-100);

  color: var(--reactive-text-color);
  display: inline-block;
  font-size: var(--lede-tag-font-size);
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 5px;
  position: relative;
  text-transform: uppercase;
}

.cmp-lede__tag span::after {
  background-color: var(--reactive-text-color);
  border-radius: 10px;
  bottom: 0;
  content: '';
  left: 0;
  height: 4px;
  position: absolute;
  width: 100%;
}

.cmp-lede__intro {
  --lede-intro-font-size: var(--font-size-400);
  
  font-family: var(--font-stack-serif);
  font-size: var(--lede-intro-font-size);
  margin-bottom: 4rem;
}

p.cmp-lede__hero-parent {
  width: 90vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 0 -45vw;
}

@media (min-width: 900px) {
  .cmp-lede__article-bg {
    display: grid;
    column-gap: 12px;
    padding: 0;
  }

  .cmp-lede__article-title-wrap,
  .cmp-lede__article-bg {
    grid-template-columns: repeat(12, [col-start] 1fr); 
  }

  .cmp-lede__article-title-wrap {
    padding: 5rem 0 25rem;
  }

  .cmp-lede__article-bg > * {
    grid-column: col-start 3 / span 8;
  }

  .page-title {
    grid-column: col-start 2 / span 8;
  }
  
  .cmp-lede__intro {
    --lede-intro-font-size: var(--font-size-1000);
  }

  .cmp-lede__tag,
  .page-subtitle,
  .cmp-lede__article-bg .cmp-lede__attribution {
    grid-column: col-start 2 / span 6;
  }
  
  .cmp-lede__article-bg .cmp-lede__media-parent {
    grid-column: col-start 3 / span 8;
  }

  /* extra specificity added to target the hero image */
  .cmp-lede__article-bg .cmp-lede__media-parent.cmp-lede__hero-parent,
  .cmp-lede__article-bg .cmp-lede__intro {
    grid-column: col-start 2 / span 10;
  }

  p.cmp-lede__hero-parent {
    width: auto;
    left: auto;
    right: auto;
    margin: auto;
  }

  .cmp-lede__article-bg .cmp-lede__media-parent.cmp-lede__hero-parent {
    margin-top: -20rem;
  }

  .cmp-lede__article-bg p.cmp-lede__hero-caption {
    display: block;
    font-style: italic;
    font-size: var(--font-size-100);
    grid-column: col-start 9 / span 3;
    margin-bottom: 0;
    text-align: right;
  }

  .cmp-lede__article-bg .cmp-lede__attribution {
    column-gap: 15px;
    row-gap: 10px;
    margin-bottom: 9.5rem;
  }

  .cmp-lede__attribution p.cmp-lede__author-title {
    --lede-author-title-font-size: var(--font-size-100);
  }

  .cmp-lede__article-bg p,
  .cmp-lede__article-bg ul,
  .cmp-lede__article-bg ol {
    --body-copy-font-size: var(--font-size-650);
  }

  .cmp-lede__article-bg p.cmp-lede__author {
    --lede-author-font-size: var(--font-size-400);
  }

  .cmp-lede__article-bg h2 {
    --body-copy-h2-font-size: var(--font-size-1000);
  }

  .cmp-lede__inner-wrap h3 {
    --body-copy-h3-font-size: var(--font-size-800);
  }

  .cmp-lede__article-bg .cmp-author-details {
    grid-column: 1 / -1;
    grid-template-columns: repeat(12, [col-start] 1fr);
    column-gap: 12px;
    row-gap: 12px;
    width: auto;
    position: relative;
    left: auto;
    right: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .cmp-lede__article-bg .cmp-author-details__meta {
    display: block;
    grid-column: col-start 2 / span 2;
  }

  .cmp-lede__article-bg .cmp-author-details__meta img {
    margin: 0.25rem auto 0.5rem;
    max-width: 41px;
  }

  .cmp-lede__article-bg p.cmp-author-details__name {
    font-family: var(--font-stack-sans);
    font-size: var(--font-size-400);
    font-weight: var(--font-weight-bold);
    line-height: 1.1;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .cmp-lede__article-bg p.cmp-author-details__title {
    font-family: var(--font-stack-sans);
    font-size: 0.8125rem;
    line-height: 1.1;
    text-align: center;
  }

  .cmp-lede__article-bg .cmp-author-details__bio {
    grid-column: col-start 4 / span 8;
    padding-left: 0.5rem;
  }

  .profile .cmp-lede__inner-wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-content: center;
    align-items: center;
  }
  
  .profile .cmp-lede__article-title-wrap {
    flex: 1 1 45%;
  }
  
  .profile .cmp-lede__hero-parent {
    flex: 1 1 45%;
    position: relative;
    z-index: 98;
    margin-right: 5%;
  }

  .profile .cmp-lede__hero {
    aspect-ratio: 6 / 8;
  }

  .profile .cmp-lede__hero img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  
  .profile .cmp-lede__article-bg {
    flex-basis: 100%;
    margin-top: -200px;
    padding-top: 200px;
  }
}

@media (min-width: 1300px) {
  .cmp-lede__article-title-wrap,
  .cmp-lede__article-bg {
    grid-template-columns: repeat(16, [col-start] 1fr); 
  }

  .cmp-lede__article-bg > * {
    grid-column: col-start 4 / span 10;
  }

  .page-title {
    grid-column: col-start 2 / span 12;
  }

  .cmp-lede__intro {
    --lede-intro-font-size: var(--font-size-950);
  }
  
  .cmp-lede__tag,
  .page-subtitle {
    grid-column: col-start 2 / span 9;
  }
  
  .cmp-lede__article-bg .cmp-lede__attribution {
    grid-column: col-start 2 / span 6;
  }

  .cmp-lede__attribution picture {
    max-width: 68px;
  }
  
  .cmp-lede__article-bg .cmp-lede__media-parent {
    grid-column: col-start 3 / span 8;
    margin: 5.25rem 0;
  }

  /* extra specificity added to target the hero image */
  .cmp-lede__article-bg .cmp-lede__media-parent.cmp-lede__hero-parent,
  .cmp-lede__article-bg .cmp-lede__intro {
    grid-column: col-start 2 / span 14;
  }

  .cmp-lede__article-bg p.cmp-lede__hero-caption {
    grid-column: col-start 10 / span 6;
  }

  .cmp-lede__article-bg .image-with-caption,
  .cmp-lede__article-bg .cmp-lede__media-parent {
    grid-column: col-start 3 / span 11;
  }

  .cmp-lede__article-bg p,
  .cmp-lede__article-bg ul,
  .cmp-lede__article-bg ol {
    --body-copy-font-size: var(--font-size-400); /* was previously 27px */
  }

  .cmp-lede__article-bg p.cmp-lede__author {
    --lede-author-font-size: var(--font-size-400); /* was previously 27px */

    align-self: start;
  }

  .cmp-lede__article-bg p.cmp-lede__author-title {
    align-self: start;
  }

  .cmp-lede__article-bg h2 {
    --body-copy-h2-font-size: var(--font-size-1050);
  }

  .cmp-lede__article-bg h3 {
    --body-copy-h3-font-size: var(--font-size-900);
  }

  .cmp-lede__article-bg .cmp-author-details {
    grid-template-columns: repeat(16, [col-start] 1fr);
  }

  .cmp-lede__article-bg .cmp-author-details__meta {
    grid-column: col-start 2 / span 2;
  }

  .cmp-lede__article-bg .cmp-author-details__bio {
    grid-column: col-start 5 / span 11;
  }

  .profile .cmp-lede__hero-parent {
    flex: 1 1 40%;
    position: relative;
    z-index: 98;
    margin-right: 5%;
  }

  .profile .cmp-lede__hero {
    aspect-ratio: 6 / 8;
  }

  .profile .cmp-lede__hero img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  
  .profile .cmp-lede__article-bg {
    flex-basis: 100%;
    margin-top: -200px;
    padding-top: 200px;
  }
}
