
.page-type-article{
    background: rgb(224,194,208);
    background: linear-gradient(0deg, rgba(224,194,208,1) 50%, rgba(255,111,22,1) 90%, rgba(255,80,42,1) 100%);
}

.page-type-article main{
    width: 98vw;
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.page-type-article h1{
    font-size: 3em;
    padding: 0 3em;
}

.page-type-article .content{
    background: whitesmoke;
    padding-top: 10em
    
}

.page-type-article .header >div{
    display: grid;
    grid-template-rows: auto auto;
}

.page-type-article .header >div > div:first-child{
    grid-row: 2;
}

.page-type-article h2{
    font-size: 2.5em;
    margin: 0;
    padding: 0 3em;

}
.page-type-article p:not(.article-picture) {
    font-size: 1.5em;
    padding:  0 1em;
    text-align: left;
}

.page-type-article img{
    width: 100%;
}

.page-type-article .header img{
    width: 90%;
    position:relative;
    top: 10em;
}

.header.block{
    width: 100%;
}
.lede.block{
    font-size: 2em;
    width: auto;
    padding: 2em;
    line-height: 1.5;
    text-align: left;
}
.chapters.block{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 5em;
    width: 100%;
}
.chapter-heading{
    position: relative;
    right: 35em;
}
.chapters.block .chapter{
    grid-column-start: 2;
}
.chapter-content{
    font-size: 1.2em;
    line-height: 1.5;
}
.additional-reading.block li, a, ul{
    list-style: none;
    text-decoration: none;
    text-align: center;
    padding: 0;
}
.additional-reading.block{
    padding: 1em;
}

@media (min-width:1024px) and (max-width:1440px){

}
@media (min-width:768px) and (max-width:1024px){
    .page-type-article main{
        width: 90%;
    }
    .chapter-heading{
        right: 30em;
    }
    .page-type-article h2{
        padding: 0 1em;
    }
}
@media (min-width:425px) and (max-width:768px){

    .chapters.block{
        display: flex;
        flex-direction: column;
    }
    .chapter-heading{
        position: static;
    }
}
@media (min-width: 375px) and (max-width: 425px){
    .lede.block{
        padding: 1em;
    }
    .chapters.block{
        padding: 0;
    }
    .chapter-heading{
        font-size: .9em;
    }
    .page-type-article main{
        width: 90%;
    }
    .page-type-article h1{
        padding: 1em;
    }
    .page-type-article h2{
        padding: 1em;
    }
    .page-type-article p{
        font-size: 1.5em;
        padding:  0 1em;
    }
}
@media (min-width:320px) and (max-width:375px){
    .page-type-article main{
        width: 90%;
    }
    
    .page-type-article h1{
        font-size: 2em;
        padding: 0 1em;;
    }
    .page-type-article h2{
        font-size: 2em;
        padding: 0 1em;
    }
    .page-type-article p{
        font-size: 1.2em;
        padding:  0 1em;
    }
    main > div{
        margin: 0;
    }
    body > main > div{
        margin: 0;
    }
    .header.block img{
        position: relative;
        top: 4em;
        width: 80%;
    }
    .header.block h1{
        position: relative;
        bottom: 6em;
    }
    .lede.block{
        font-size: 1.5em;       
        padding-top: 10em;
    }
    .chapters.block{
        display: flex;
        flex-direction: column;
        padding-top: 5em;
    }
    .chapter-heading{
        position: static;
    }
}