.page-type-article{
    background: rgb(224,194,208);
    background: linear-gradient(0deg, rgba(224,194,208,1) 20%, rgba(255,111,22,1) 50%, rgba(213,237,245,1) 100%);
}

.page-type-article main{
    width: 98vw;
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;

}

.page-type-article  {
    font-size:16px;
}
.page-type-article .content{
    padding-top:140px;;
    padding-bottom: 5em;
    position:relative;
}
.page-type-article .content{
    padding-left: 5rem;
    padding-right: 5rem;
}

.page-type-article .content .block{
    width: auto
}

.page-type-article .header-image{
    display: flex;
    position: absolute;
    left: 9em;
    transform: translateY(-100%);
}

.page-type-article main p {
    text-align:left;
    font-size:1em;
    line-height:1.5em;
}
.page-type-article main h1{
    font-size: 3em;
}

.page-type-article .content{
    background: white;
}

.page-type-article .header >div{
    display: grid;
    grid-template-rows: auto;
}

.page-type-article .header.block h1{
    text-align: left;
    margin: unset;
    font-weight: 500;
}
.page-type-article .header.block h2{
    text-align: left;
}

.header.block > div{
    width: 60%;
    padding-left: 5em;
    height: 75%;
}
body > main > div > div:nth-child(1) > div.header.block > div > div:nth-child(2){
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.page-type-article main > div > div > p {
    font-size: 1.5em;
    padding:  0 1em;
    text-align: left;
}

.page-type-article main img{
    width: 100%;
}

.page-type-article .header img{
    width: 90%;
    position:relative;
    top: 20em;
}

.page-type-article .header.block{
    width: 100%;
    color: black;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.lede.block{
    font-size: 2em;
    width: auto;
    padding: 2em;
    line-height: 1.5;
    text-align: left;
}

.page-type-article .additional-reading.block > div{
    display: grid;
    grid-template-columns: 50% 50%;
}

.page-type-article .content ul{
    list-style: none;
    text-align: left;
    grid-column-start: 2;
}
.page-type-article .additional-reading.block p{
    grid-column-start: 2;
}
.page-type-article .additional-reading.block a{
    font-weight: 700;
    text-decoration: none;
    color: black;
}

.additional-reading.block{
    font-size: 1.2em;
}
.page-type-article li{

    padding: .5em;
}
.additional-reading.block{
    width: 100%;
    padding: 1em;
}



@media (min-width:1024px) and (max-width:1440px){

}
@media (min-width:768px) and (max-width:1024px){
    .page-type-article main{
        width: 90%;
    }
    /* .page-type-article main > div > div > h2{} */
    .page-type-article .article-picture{
        width: 50%;
    }
}
@media (min-width: 375px) and (max-width: 425px){
    .lede.block{
        padding: 1em;
    }
    .page-type-article main{
        width: 90%;
    }
    .page-type-article main h1{
        padding: 1em;
    }
    .page-type-article main > div > div > h2{
        padding: 1em;
    }
    .page-type-article main > div > div > p:not(.article-picture) {
        font-size: 1.5em;
        padding:  0 1em;
        text-align: left;
    }
}
@media (min-width:320px) and (max-width:768px){

    /* header */
    .page-type-article .header.block{
        padding: 1em;
    }
    /* header */

    /* main */
    .page-type-article .header.block > div{
        padding: 0;
        width: 100%;
    }
    body > main > div > div.content > picture > img{
        bottom: 10em;
    }
    .page-type-article .header.block  h1{
        padding: 0 0 1em 0;

    }
    .page-type-article .header h2{
        padding: 0;
        font-size: 1.2em;
    }
    .page-type-article .chapter-heading h2{
        text-align: left;
        font-weight: normal;
    }
    .page-type-article main > div > div > h2{
        padding: 0;
    }
    .page-type-article main h2{
        text-align: left;
        font-weight: normal;
    }
    .page-type-article .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
    }
    .page-type-article .lede.block{
        padding: 0;
        font-size: 1.5em;
    }
    .page-type-article .chapters.block .chapter{
    grid-template-columns: auto;
    justify-items: center;

    }
    .page-type-article .chapter-heading{
        text-align: start;
        padding-bottom: 1em;
    }
    .page-type-article .additional-reading.block{
        width: auto;
        padding: 0;
    }
    .page-type-article main p{
        padding: 0;
    }
    .page-type-article main > div > div > p:not(.article-picture){
        padding: 0;
    }
    .page-type-article main ul{
        padding: 0;
    }
    .page-type-article main li{
        padding: 0 0 1em 0;
    }
    .page-type-article .additional-reading.block li{
        text-align: left;
        padding: 0 0 1em 0;
    }
    .page-type-article .additional-reading.block a{
        font-weight: 500;

    }
    .page-type-article .content > :not(.article-picture){
        padding: 0;
    }
    /* main */
}
