.two-up-content {
  padding: var(--page-inline-padding) var(--page-inline-padding);
  background-color: var(--color-base-white);
  color: var(--color-base-dark-slate-tertiary);
  margin: 12px 0;
}



@supports not selector(:has(div)) {
  .two-up-content > div > .has-picture {
    display: flex;
  }
  
  .two-up-content > div > div:not(.has-picture):only-child {
    padding: 0;
  }
}

@supports selector(:has(div)) {
  .two-up-content > div > div:has(picture:only-child) {
    display: flex;
  }

  .two-up-content > div > div:not(:has(picture:only-child)):only-child {
    padding: 0;
  }
}

.two-up-content picture:only-child img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.two-up-content h2 {
  color: var(--color-base-dark-slate-secondary);
  font-family: var(--font-stack-sans);
  font-size: clamp(var(--font-size-800), 4vw, var(--font-size-1000));
  font-weight: var(--font-weight-black);
  margin-bottom: 1.25rem;
}

@supports selector(:has(div)) {
  .two-up-content h2:not(:has(+ *)) {
    margin-bottom: 0;
  }

  /* This selector is complex so, here is the explanation:
   * We want to pull up the picture to be aligned with the bottom
   * side of the block heading, when the heading is on the right side.
   * To detect this, we want to scope to the `.two-up-content` block
   * then, if the first `div` child has a child structure that starts
   * with an empty `div` element followed by another `div`, then there
   * is space above the image to pull it up `-1rem`. So then we want to target
   * the `picture` element that is an only child.
   */
  .two-up-content > div:first-child:has(div:empty + div) + div > div picture:only-child {
    transform: translateY(-1rem);
    height: calc(100% + 1rem);
  }
}

.two-up-content h3 {
  --body-copy-h3-font-size: var(--font-size-300);

  font-family: var(--font-stack-serif);
  font-size: var(--body-copy-h3-font-size);
  line-height: 1;
  margin-bottom: 0.5rem;
}

.two-up-content p {
  font-family: var(--font-stack-serif);
  font-size: var(--font-size-400);
}

.two-up-content p + h2 {
  margin-top: 2.5625rem;
}

.two-up-content p + h3 {
  margin-top: 1.625rem;
}

.two-up-content ul,
.two-up-content ol {
  --body-copy-font-size: var(--font-size-100);
  
  font-family: var(--font-stack-sans);
  font-size: var(--body-copy-font-size);
  line-height: var(--article-copy-line-height);
  margin-bottom: 1.5rem;
}

@media (min-width: 900px) {
  .two-up-content {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    padding: 5.25rem 0;
  }
  
  .two-up-content > div {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem 2.25rem;
  }
  
  .two-up-content > div:not(:first-child) + div {
    margin-top: 12px;
  }

  @supports not selector(:has(div)) {
    .two-up-content > div > .has-picture {
      margin-bottom: unset;
    }
  }

  @supports selector(:has(div)) {
    .two-up-content > div > div:has(picture:only-child) {
      margin-bottom: unset;
    }
  }

  .two-up-content h3 {
    --body-copy-h3-font-size: var(--font-size-650);
  }

}

@media (min-width: 1300px) {
  .two-up-content {
    grid-template-columns: repeat(16, [col-start] 1fr);
  }
}