.two-up-content {
  padding: var(--page-inline-padding) var(--page-inline-padding);
  background-color: var(--color-base-white);
  color: var(--color-base-dark-slate-tertiary);
}

/* BEGIN :HAS() DUPLICATE SELECTOR BLOCKS
 * The selectors here are duplicated because
 * browsers that don’t support :has() will
 * ignore all selectors when used.
 */

.two-up-content > div > .has-picture {
  display: flex;
}

.two-up-content > div > div:has(picture:only-child) {
  display: flex;
}

.two-up-content > div > div:not(.has-picture) {
  padding: var(--page-inline-padding) 0;
}

.two-up-content > div > div:not(:has(picture:only-child)) {
  padding: var(--page-inline-padding) 0;
}

/* END :HAS() DUPLICATE SELECTOR BLOCKS */

.two-up-content picture:only-child img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.two-up-content h2 {
  --body-copy-h2-font-size: var(--font-size-400);

  font-family: var(--font-stack-serif);
  font-size: var(--body-copy-h2-font-size);
  font-weight: var(--font-weight-normal);
  line-height: 1.1;
  margin-bottom: 1.25rem;
}

.two-up-content h3 {
  --body-copy-h3-font-size: var(--font-size-300);

  font-family: var(--font-stack-serif);
  font-size: var(--body-copy-h3-font-size);
  line-height: 1;
  margin-bottom: 0.5rem;
}

.two-up-content p + h2 {
  margin-top: 2.5625rem;
}

.two-up-content p + h3 {
  margin-top: 1.625rem;
}


.two-up-content p,
.two-up-content ul,
.two-up-content ol {
  --body-copy-font-size: var(--font-size-100);
  
  font-family: var(--font-stack-sans);
  font-size: var(--body-copy-font-size);
  line-height: var(--article-copy-line-height);
  margin-bottom: 1.5rem;
}

@media (min-width: 900px) {
  .two-up-content {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    padding: 5.25rem 0;
  }
  
  .two-up-content > div {
    grid-column: 2 / -2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  /* BEGIN :HAS() DUPLICATE SELECTOR BLOCKS
   * The selectors here are duplicated because
   * browsers that don’t support :has() will
   * ignore all selectors when used.
   */

  .two-up-content > div > .has-picture {
    margin-bottom: unset;
  }

  .two-up-content > div > div:has(picture:only-child) {
    margin-bottom: unset;
  }

  .two-up-content > div > div:not(.has-picture) {
    padding: var(--page-inline-padding);
  }

  .two-up-content > div > div:not(:has(picture:only-child)) {
    padding: var(--page-inline-padding);
  }

  /* END :HAS() DUPLICATE SELECTOR BLOCKS */

  .two-up-content h2 {
    --body-copy-h2-font-size: var(--font-size-800);
  }
  
  .two-up-content h3 {
    --body-copy-h3-font-size: var(--font-size-650);
  }

}


@media (min-width: 1300px) {
  .two-up-content {
    grid-template-columns: repeat(16, [col-start] 1fr);
  }
}