.page-type-stories-index .header {
    margin: var(--page-header-margin);
    padding-left: var(--page-header-l-padding);
}

.page-type-stories-index h1 {
    color: white;
    font-weight: var(--weight-black);
    font-size: var(--page-header-size);
    padding: 2em 0 2em 0;
    padding-left: var(--page-header-l-padding);
}

.page-type-stories-index .stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
    box-sizing: border-box;
}

.block.story {
    background: white;
    width: 49.7%;
}


.block.story .image picture img {
    width:100%;
    height:auto;
}

.block.story .image {
    position: relative;
    min-height: clamp(250px, 37vw, 1000px);
}

.block.story .story-text{
    min-height: 220px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
}

.stories .story-text > * {
    padding: 0 clamp(30px, 6.5vw, 70px);
    color: black;
    text-decoration: none;
    margin: unset;
}

.stories .story-text .tag{
    font-size: 0.8em;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.stories .story-text .tag.tag-link{
    text-decoration: unset;
    border-bottom: unset;
    color: inherit;

}

.stories .story-text .tag span{
    border-bottom: 2px solid black;
}

.stories .story-text > .story-header{
    font-weight: var(--weight-black);
    font-size: 2em;
    margin-bottom: 4px;
    margin-top: 6px;
}
.stories .story-text > h3{
    font-family: var(--serif-font);
    font-weight: var(--weight-light);
    font-size: 1em;
    margin-top: 3px;
    margin-bottom: 16px;

}
.stories .story-text > .author,
.stories .story-text > .position{
    font-size: 0.8em;
}

.stories .story-text > .author{
    font-weight: var(--weight-bold);

}
.stories .story-text > .position{
    font-weight: var(--weight-light);

}

.stories .link{
    text-decoration: none;
}

.page-type-stories-index .content .load-more-stories{
    margin: 5px auto 2em;
    padding: 2em;
    text-align: center;
    color: #252525;
}
.page-type-stories-index .content .load-more-stories span {
    font-size: 1em;
    font-weight: 800;
    border: 2px solid black;
    border-radius: 2em;
    padding: 0.75em 1.5em;
}
.page-type-stories-index .content .load-more-stories button{
    font-family: var(--sans-serif-font);
}

.page-type-stories-index .think-differently.block{
    margin-top: 1em;
}



@media (max-width: 2560px) and (min-width: 1921px){
    .page-type-stories-index .header h1{
        font-size: 8em;
    }
    .stories .story-text > *{
        font-size: 1.7em;
    }
    .stories .story-text > .story-header{
        font-size: 3em;
    }
    .stories .story-text > h3{
        font-size: 1.5em;
    }
    .stories .story-text > .author, .stories .story-text > .position{
        font-size: 1em;
    }
    .page-type-stories-index .content .load-more-stories span{
        font-size: 1.5em
    }
    .think-differently.block{
        height: 1300px;
    }
    .think-differently.block .think-differently-content h2{
        font-size: 5em;
    }
    .think-differently.block .think-differently-content .think-differently-slash{
        align-self: auto;
        height: 13em;
    }
    .think-differently.block .think-differently-content .think-differently-number{
        font-size: 15em;
    }
}

@media (max-width: 1920px) and (min-width: 1651px){
    .page-type-stories-index .header h1{
        font-size: 6em;
    }
    .stories .story-text > *{
        font-size: 1.3em;
    }
    .stories .story-text > .story-header{
        font-size: 2.5em;
    }
    .stories .story-text > h3{
        font-size: 1em;
    }
    .stories .story-text > .author, .stories .story-text > .position{
        font-size: .9em;
    }
    .page-type-stories-index .content .load-more-stories span{
        font-size: 1em
    }
    .think-differently.block{
        height: 1200px;
    }
    .think-differently.block .think-differently-content h2{
        font-size: 4.5em;
    }
    .think-differently.block .think-differently-content .think-differently-slash{
        align-self: auto;
        height: 13em;
    }
    .think-differently.block .think-differently-content .think-differently-number{
        font-size: 14em;
    }
}

@media (max-width: 1650px) and (min-width: 1441px){
    .page-type-stories-index .header h1{
        font-size: 5em;
    }
    .stories .story-text > *{
        font-size: 1em;
    }
    .stories .story-text > .story-header{
        font-size: 2.5em;
    }
    .stories .story-text > h3{
        font-size: .9em;
    }
    .stories .story-text > .author, .stories .story-text > .position{
        font-size: .9em;
    }
    .page-type-stories-index .content .load-more-stories span{
        font-size: 1em
    }
    .think-differently.block{
        height: 1100px;
    }
    .think-differently.block .think-differently-content h2{
        font-size: 4.5em;
    }
    .think-differently.block .think-differently-content .think-differently-slash{
        align-self: auto;
        height: 8.5em;
    }
    .think-differently.block .think-differently-content .think-differently-number{
        font-size: 13em;
    }
}

@media (max-width: 1440px) and (min-width: 1281px){
    .page-type-stories-index .header h1{
        font-size: 4.5em;
    }
    .stories .story-text > *{
        font-size: .9em;
    }
    .stories .story-text > .story-header{
        font-size: 2.2em;
    }
    .stories .story-text > h3{
        font-size: .9em;
    }
    .stories .story-text > .author, .stories .story-text > .position{
        font-size: .9em;
    }
    .page-type-stories-index .content .load-more-stories span{
        font-size: 1em
    }
    .think-differently.block{
        height: 1000px;
    }
    .think-differently.block .think-differently-content h2{
        font-size: 4em;
    }
    .think-differently.block .think-differently-content .think-differently-slash{
        align-self: auto;
        height: 8.5em;
    }
    .think-differently.block .think-differently-content .think-differently-number{
        font-size: 12em;
    }
}

@media (max-width: 1280px) and (min-width: 1025px){
    .page-type-stories-index .header h1{
        font-size: 4.2em;
    }
    .stories .story-text > *{
        font-size: .9em;
    }
    .stories .story-text > .story-header{
        font-size: 2em;
    }
    .stories .story-text > h3{
        font-size: .9em;
    }
    .stories .story-text > .author, .stories .story-text > .position{
        font-size: .9em;
    }
    .page-type-stories-index .content .load-more-stories span{
        font-size: 1em
    }
    .think-differently.block{
        height: 900px;
    }
    .think-differently.block .think-differently-content h2{
        font-size: 3.5em;
    }
    .think-differently.block .think-differently-content .think-differently-slash{
        align-self: auto;
        height: 9em;
    }
    .think-differently.block .think-differently-content .think-differently-number{
        font-size: 11em;
    }
}

@media screen and (max-width: 1024px){
    .page-type-stories-index .header{
        padding-left: var(--page-header-l-padding-tablet);
    }
}

@media screen and (max-width: 700px){
    .page-type-stories-index .header{
        margin: 6rem 0 4rem 0;
        padding-left: var(--page-header-l-padding-mobile);
        width: 80%;
    }

    .page-type-stories-index .header h1{
        margin-block: unset;
        font-size: 3em;
    }

    .page-type-stories-index .stories {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        
        padding: unset;
        box-sizing: border-box;
    }
    .block.story {
        background: white;
        width: 100%;
        padding-bottom: 2rem;
        
    }

    .block.story .image {
        min-height: clamp(100px,72vw,500px);
    }

    .stories .story-text > * {
        padding: 0 clamp(30px, 10vw, 70px)
    }
}

@media screen and (min-width: 1024px){
    .block.story .image {
        min-height: clamp(100px, calc(2*19vw), 600px);
    }
}

@media screen and (max-width: 414px){
    .page-type-stories-index h1 {
        padding: 1em 0 2em .7em;
    }
}