.page-type-index .header {
    margin: var(--page-header-margin);
    padding-left: var(--page-header-l-padding);
}

.page-type-index .header h1 {
    color: white;
    font-weight: var(--weight-black);
    font-size: var(--page-header-size);
    padding: .5em 0 1.5em 0;
}

.page-type-index .stories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 5px;
    box-sizing: border-box;
}


.block.story {
    background: white;
    width: 49.7%;
}


.block.story .image picture img {
    width:100%;
    height:auto;
}

.block.story .image {
    position: relative;
    min-height: clamp(250px, 37vw, 1000px);
}

.block.story .story-text{
    min-height: 220px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
}

.stories .story-text > * {
    padding-left: clamp(30px, 6.5vw, 70px);
    color: black;
    text-decoration: none;
    margin: unset;
}

.stories .story-text .tag{
    font-size: 0.8em;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.stories .story-text .tag.tag-link{
    text-decoration: unset;
    border-bottom: unset;
    color: inherit;

}

.stories .story-text .tag span{
    border-bottom: 2px solid black;
}

.stories .story-text > .story-header{
    font-weight: var(--weight-black);
    font-size: 2em;
    margin-bottom: 4px;
    margin-top: 6px;
}
.stories .story-text > h3{
    font-family: var(--serif-font);
    font-weight: var(--weight-light);
    font-size: 1em;
    margin-top: 3px;
    margin-bottom: 16px;

}
.stories .story-text > .author,
.stories .story-text > .position{
    font-size: 0.8em;
}

.stories .story-text > .author{
    font-weight: var(--weight-bold);

}
.stories .story-text > .position{
    font-weight: var(--weight-light);

}

.stories .link{
    text-decoration: none;
}

.page-type-index .content .load-more-stories{
    margin: 5px auto 2em;
    padding: 2em;
    text-align: center;
    color: #252525;
}
.page-type-index .content .load-more-stories span {
    font-size: 1em;
    font-weight: 800;
    border: 2px solid black;
    border-radius: 2em;
    padding: 0.75em 1.5em;
}

.page-type-index .think-differently.block{
    margin-top: 1em;
}

@media screen and (max-width: 1024px){
    .page-type-index .header{
        padding-left: var(--page-header-l-padding-tablet);
    }
}

@media screen and (max-width: 700px){
    .page-type-index .header{
        margin: 6rem 0 4rem 0;
        padding-left: var(--page-header-l-padding-mobile);
        width: 80%;
    }

    .page-type-index .header h1{
        margin-block: unset;
        font-size: 3em;
    }

    .page-type-index .stories {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-between;
        
        padding: unset;
        box-sizing: border-box;
    }
    .block.story {
        background: white;
        width: 100%;
        padding-bottom: 2rem;
        
    }

    .block.story .image {
        min-height: clamp(100px,72vw,500px);
    }

    .stories .story-text > * {
        padding-left: clamp(30px, 10vw, 70px)
    }
}

@media screen and (min-width: 1024px){
    .block.story .image {
        min-height: clamp(100px, calc(2*19vw), 600px);
    }
}