.vertical-cards {
  --text-color: currentColor;

  display: grid;
  column-gap: 12px;
  row-gap: 12px;
  margin: 12px auto;
  padding: 0 var(--page-inline-padding);
  background-color: var(--color-base-white);
  color: var(--text-color);
}

.vertical-cards div > h2 {
  font-size: clamp(var(--font-size-800), 4vw, var(--font-size-1000));
  font-weight: var(--font-weight-black);
  line-height: 1.2;
  margin: 1em 0;
}

.cmp-vertical-card {
  background-color: var(--color-base-white);
}

.cmp-vertical-card.dark-text {
  --text-color: var(--color-base-dark-slate);
} 

.cmp-vertical-card.light-text {
  --text-color: var(--color-base-white);
}

.cmp-vertical-card__media {
  aspect-ratio: 1 / 1;
}

.cmp-vertical-card__media img {
  display: block;
  width: 100%;
  height: 100%;  
  object-fit: cover;
}

.cmp-vertical-card__body {
  padding: 2.25rem 2.5rem;
  color: var(--text-color);
}

.cmp-vertical-card__tag {
  display: inline-block;
  font-size: var(--font-size-100);
  padding-bottom: 5px;
  position: relative;
  text-transform: uppercase;
  width: auto;
  color: inherit;
}

.cmp-vertical-card__tag:hover {
  text-decoration: none;
}

.cmp-vertical-card__tag::after {
  background-color: var(--text-color);
  border-radius: 10px;
  bottom: 0;
  content: '';
  left: 0;
  height: 4px;
  position: absolute;
  width: 100%;
}

.cmp-vertical-card__title {
  color: var(--text-color);
  font-size: min(max(var(--font-size-800), 4vw), var(--font-size-1075));
  font-weight: var(--font-weight-black);
  margin: 1rem 0 1.5rem;
  line-height: 1;
}

.cmp-vertical-card__title a,
.cmp-vertical-card__title a:hover,
.cmp-vertical-card__title a:focus {
  color: var(--text-color);
}

.cmp-vertical-card__description {
  --card-intro-font-size: var(--font-size-400);

  color: var(--text-color);
  font-family: var(--font-stack-serif);
  font-size: var(--card-intro-font-size);
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

.cmp-vertical-card__author {
  --card-author-font-size: var(--font-size-200);
  
  font-size: var(--card-author-font-size);
  font-weight: var(--font-weight-bold);
  line-height: 1.3;
  margin-bottom: 0;
}

.cmp-vertical-card__author-title {
  --card-author-title-font-size: var(--font-size-100);
  
  font-size: var(--card-author-title-font-size);
  line-height: 1.3;
  margin-bottom: 0;
}

@media (min-width: 900px) {
  .vertical-cards {
    padding: 12px;
    grid-template-columns: repeat(12, [col-start] 1fr);
  }

  .vertical-cards > div {
    grid-column: 2 / -2;
  }
  
  .cmp-vertical-card:nth-of-type(odd) {
    grid-column: col-start 1 / span 6;
  }
  
  .cmp-vertical-card:nth-of-type(even) {
    grid-column: col-start 7 / span 6;
  }
}

@media (min-width: 1300px) {
  .vertical-cards {
    grid-template-columns: repeat(16, [col-start] 1fr);
  }
  
  .cmp-vertical-card:nth-of-type(odd) {
    grid-column: col-start 1 / span 8;
  }
  
  .cmp-vertical-card:nth-of-type(even) {
    grid-column: col-start 9 / span 8;
  }
}