.page-type-team .teams >div > div{
    width: 98vw;
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}


.page-type-team .teams *{
    font-weight: var(--weight-light);
}

.page-type-team .title-content{
    margin: var(--page-header-margin);
    padding-left: var(--page-header-l-padding);
    
    color: white;
}

.page-type-team .title-content h1{
    font-size: var(--page-header-size);
    width:60%;
}

.page-type-team .content{
    background: white;
}

.page-type-team .head-content{
    padding: 4em;
}

.page-type-team .head-content .title{
    padding-left: 5rem;
    font-size: 3em;
}

.page-type-team .head-content .head-text{
    display: grid;
    grid-template-columns: 40% 50%;
}

.page-type-team .head-content .head-text p{
    grid-column-start: 2;
}

.page-type-team .head-content h2,
.page-type-team .foot-content .resources-section h2{
    font-size: 3em;
    color: var(--bkg-red);
}

.page-type-team .head-content h2 {
    margin-top: 3em;
}
/*
    Team Card content
*/

.page-type-team .team-cards .team-card{
    position: relative;

    display:grid;
    grid-template-columns: 40% 60%;

    height: 250px;

    overflow-y: hidden;
    transition: height 0.5s;
}
.page-type-team .team-cards .team-card.active{
    height: 500px;
}

.page-type-team .teams img {
    width: 75%;
    padding-left: 3em;
}

.page-type-team .team-cards .team-card h3{
    position: absolute;
    padding-top:0.5em;

    /*This should be contained within the first 40% of the block its in*/
    padding-left: 10%;
    width: 30%;

    font-size: 1.5rem;
}
.page-type-team .team-cards .team-card h3::before{
    content: "⌄";
    position: absolute;
    padding-top:0.5em;
    font-weight: var(--weight-black);
    left: 16%;
    top: -0.6rem;
}
.page-type-team .team-cards .team-card h3::after{
    content: "";
    padding-top: 2em;

    /*This is being positioned to the H3 itself which is contained within the first 40% of the block*/
    position:absolute;
    left: 12.5%; /* 40% * 12.5%  = 5% "padding left" */
    width: 225%; /* 40% * 225%   = 90% "width"*/

    border-bottom: 2px solid black;
}

.page-type-team .team-cards .team-card div{
    padding-top: 10rem;
}

.page-type-team .team-cards .team-card div:last-child{
    padding-left: 3rem;
    padding-right: 3rem;
    color: white;
}

.page-type-team .team-cards .team-card div:last-child > p:first-child{
    font-size: 1.6rem;
    line-height: 1.6em;
}

.page-type-team .team-cards .team-card div:last-child .view-jobs{
    font-size: 0.8em;
    text-decoration: underline 2px;
    text-underline-offset: 3px;
    color: white;
}

/* COLORS */

.page-type-team .team-cards .team-card{
    background-color: lightgrey;
}
.page-type-team .team-cards .team-card div:last-child{
    background-color: grey;
}

.page-type-team .team-cards .team-card.card-0{
    background-color: #FFCAB9;
}
.page-type-team .team-cards .team-card.card-0 div:last-child{
    background-color: #FF7D4F;
}

.page-type-team .team-cards .team-card.card-1{
    background-color: #D4CEFF;
}
.page-type-team .team-cards .team-card.card-1 div:last-child{
    background-color: #3021A0;
}

.page-type-team .team-cards .team-card.card-2{
    background-color: #FFDDDE;
}
.page-type-team .team-cards .team-card.card-2 div:last-child{
    background-color: #E51D24;
}

.page-type-team .team-cards .team-card.card-3{
    background-color: #C5D1C7;
}
.page-type-team .team-cards .team-card.card-3 div:last-child{
    background-color: #3E5241;
}

.page-type-team .team-cards .team-card.card-4{
    background-color: #C7FFEF;
}
.page-type-team .team-cards .team-card.card-4 div:last-child{
    background-color: #4A9681;
}

.page-type-team .team-cards .team-card.card-5{
    background-color: #D5E2FF;
}
.page-type-team .team-cards .team-card.card-5 div:last-child{
    background-color: #3D517B;
}


/*
    Foot Content
*/
.page-type-team .foot-content .resources-section h2{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 7rem auto;
    
    width: 70%;
}



.page-type-team .foot-content .resources-section .resources{
    display:flex;
    justify-content: space-between;
    width: 100%;
    
}

.page-type-team .foot-content .resources-section .resources .resource{
    width: 32.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 333px;
}
.resource-logo{
    height: 95px;
    width: 85px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.page-type-team .foot-content .resources-section .resources .resource a{
    color: white;
    text-decoration: none;
    font-size: 24px;
}
.page-type-team .foot-content .resources-section .resources .resource .learn-more-button {
    color: white;
    font-size: 14px;
    width: fit-content;
    padding-bottom:2px;
    box-sizing: border-box;
    border-bottom: 3px solid white;
}
.resource-bottom-container{
    background: var(--bkg-red);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
@media (max-width: 700px){
    .page-type-team .title-content{
        margin: 6rem 0 4rem 0;
        padding-left: 2rem;
        width: 80%;
    }

    .page-type-team .title-content h1{
        margin-block: unset;
        font-size: 3em;
        width: auto;
    }


    .page-type-team .head-content{
        padding: 2em;
    }

    .page-type-team .head-content .title{
        font-size: 2em;
        padding-left: unset;
    }

    .page-type-team .head-content .head-text{
        display:block;
        padding-left:1em;
        padding-top: 1em;
    }

    .page-type-team .head-content h2{
        margin-top: 3em;
    }

    .page-type-team .head-content h2,
    .page-type-team .foot-content .resources-section h2{
        font-size: 2.2em;
    }

    .page-type-team .team-cards .team-card.active{
        height: auto;
    }
    .page-type-team .team-cards .team-card h3{
        padding-left: 15%;
        width: 80%;
        font-size: 1.5rem;
    }
    .page-type-team .team-cards .team-card h3::before{
        left: 10%;
    }
    .page-type-team .team-cards .team-card h3::after{
        left: 8%; /* 40% * 12.5%  = 5% "padding left" */
        width: 90%; /* 40% * 225%   = 90% "width"*/
    }

    .page-type-team .team-cards .team-card{
        grid-template-columns: unset;
        grid-template-rows: 100px 100%;
    }

    .page-type-team .team-cards .team-card div:last-child{
        padding-top: 4rem;
        padding-bottom: 3rem;
    }


    .page-type-team .foot-content .resources-section h2{
        width: 80%;
    }

    .page-type-team .foot-content .resources-section .resources{
        flex-direction: column;
        align-items: center;
    }

    .page-type-team .foot-content .resources-section .resources .resource{
        width: 90%;
        height: 375px;
        margin: 0.5em;
    }
}
