.page-type-team .teams *{
    font-weight: var(--weight-light);
}

.page-type-team .title-content{
    margin: var(--page-header-margin);
    padding-left: var(--page-header-l-padding);

    color: white;
}

.page-type-team .title-content h1{
    font-size: var(--page-header-size);
    width:50%;
    line-height: 1em;
    font-weight: var(--weight-black);
    padding: 0.5em 0;
}

/* .page-type-team .content{} */

.page-type-team .head-content{
    background: white;
    padding: 4em;
    color: #3E3E3E;
}

.page-type-team .head-content .title{
    font-family: var(--serif-font);
    padding: 0 6rem;
    font-size: 3rem;
}

.page-type-team .head-content .head-text{
    font-family: var(--serif-font);
    display: grid;
    grid-template-columns: 43% 57%;
    font-size: 1.4em;
    line-height: 1.6em;

}

.page-type-team .head-content .head-text p{
    grid-column-start: 2;
    line-height: 1.5em;
}

.page-type-team .head-content h2,
.page-type-team .foot-content .resources-section h2{
    font-size: 3.2em;
    color: var(--bkg-red);
    font-weight: var(--weight-black);
}

.page-type-team .head-content h2 {
    margin-top: 2em;
    margin-bottom: 1.5em;
}

/* --- Team Card content --- */

.page-type-team .team-cards .team-card{
    position: relative;
    display:grid;
    grid-template-columns: 50% 50%;
    height: 11.4em; /* 350px; */
    transition: all 0.5s;
    box-sizing: border-box;
}

/* ----- team card -- Magic Hover state ----- */
/* ----- Query to include desktop or mouse/stylus input: ----- */
@media screen and (min-width: 1000px), screen and (any-pointer: fine) {
    .page-type-team .content,
    .page-type-team .content.scroll-passing{
        z-index: 10;
        /* Set up 3d voodoo magic on container*/
        -webkit-transform-style: preserve-3d;
           -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
                transform-style: preserve-3d;
              -webkit-box-align: center;
                    align-items: center;
            -webkit-perspective: 300px;
                    perspective: 300px;
    }
    .page-type-team .team-cards{
        font-size: clamp(16px, 1.6vw, 30.7px);
        /* 3d voodoo magic on items*/
        -webkit-perspective-origin: top;
                perspective-origin: top;
        -webkit-transform-style: preserve-3d;
           -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
                transform-style: preserve-3d;
            -webkit-perspective: 1000px;
                    perspective: 1000px;
    }
    .page-type-team .team-cards:hover .team-card:not(:hover),
    .page-type-team .team-cards.scroll-passing .team-card:not(.scroll-passing){
        /* More magic, to make effect and preserve height: */
        transform: rotateX(-0.5deg) translate3d(0px, -3px, 2px) scale3d(1, 1.06, 1);
    }
    .page-type-team .team-cards:hover .team-card.active:not(:hover),
    .page-type-team .team-cards.scroll-passing .team-card.active:not(.scroll-passing){
        /* More magic, to make effect and preserve height: */
        transform: rotateX(deg) translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
    }
    .page-type-team .team-cards .team-card:not(:hover),
    .page-type-team .team-cards .team-card:not(.scroll-passing){
        /* More magic, to make effect and preserve height: */
        overflow-y: hidden;
        -webkit-transform: rotateX(0deg) translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
                transform: rotateX(0deg) translate3d(0px, 0px, 0px) scale3d(1, 1, 1);
    }
    .page-type-team .team-cards .team-card:hover,
    .page-type-team .team-cards .team-card.scroll-passing{
        overflow-y: hidden;
            height: 13.4em;
        /* More magic, to make effect and preserve height: */
        -webkit-perspective-origin: top;
                perspective-origin: top;
        -webkit-transform: rotateX(-1deg) translate3d(0px, -12px, 4px) scale3d(1, 1.1086, 1);
                transform: rotateX(-1deg) translate3d(0px, -12px, 4px) scale3d(1, 1.1086, 1);
    }
}
/* ----- END team card -- Magic Hover state ----- */

.page-type-team .team-cards .team-card{
    overflow: hidden;
}

.page-type-team .team-cards .team-card.active{
    height: 25.45em;/* 720px; */
    height: 720px;
}

.page-type-team .team-cards .team-card div:first-child{
    padding-top: 2.5rem;
}

.page-type-team .team-cards .team-card .card-header{
    position: absolute;
    margin: 2em 5%;
    padding: 0.5em 0;
    border-bottom: black 2px solid;
    width: 90%;
    display: flex;
}

.page-type-team .team-cards .team-card .chevron-down{
    box-sizing: border-box;
    margin-right: 2rem;
    width:  20px;
    height: 20px;
    background-image: url("../../resources/chevron-down-black.svg");
    background-position: center top 10px;
    background-repeat: no-repeat;
    transition: transform 0.5s;
    background-size: contain;
    transform-origin: center;
}
.page-type-team .team-cards .team-card.active .chevron-down{
    transform: rotate(180deg);
    background-position: center;
}

.page-type-team .team-cards .team-card h3{
    font-family: var(--serif-font);
    margin-block: unset;
    width: 30%;
    font-size: 1.7rem;
}

.page-type-team .team-cards .team-card div:nth-of-type(2){
    padding-top: 13rem;
}
.page-type-team .team-cards .team-card div:nth-of-type(2) img {
    width: calc(100% - 4em);
    padding-left: 2em;
}
.page-type-team .team-cards .team-card div:nth-of-type(3){
    padding-top: 14.5rem;
    padding-left: 4rem;
    padding-right: 3rem;
    color: white;
}
.page-type-team .team-cards .team-card div:nth-of-type(3) > p:first-child{
    width: 85%;
    font-family: var(--serif-font);
    color: #FAECE7;
    font-size: 1.6rem;
    line-height: 1.7em;
    padding-bottom: 1.5em;
}
.page-type-team .team-cards .team-card div:nth-of-type(3) .view-jobs{
    font-size: 0.6em;
    text-decoration: underline 2px;
    text-underline-offset: 3px;
    color: white;
}


/* COLORS */
.page-type-team .team-cards .team-card div:nth-child(2){background-color: lightgrey;}
.page-type-team .team-cards .team-card div:last-child{background-color: grey;}
.page-type-team .team-cards .team-card.card-0 div:nth-child(2){background-color: #FFCAB9;}
.page-type-team .team-cards .team-card.card-0 div:last-child{background-color: #FF7D4F;}
.page-type-team .team-cards .team-card.card-1 div:nth-child(2){background-color: #D4CEFF;}
.page-type-team .team-cards .team-card.card-1 div:last-child{background-color: #3021A0;}
.page-type-team .team-cards .team-card.card-2 div:nth-child(2){background-color: #FFDDDE;}
.page-type-team .team-cards .team-card.card-2 div:last-child{background-color: #E51D24;}
.page-type-team .team-cards .team-card.card-3 div:nth-child(2){background-color: #C5D1C7;}
.page-type-team .team-cards .team-card.card-3 div:last-child{background-color: #3E5241;}
.page-type-team .team-cards .team-card.card-4 div:nth-child(2){background-color: #C7FFEF;}
.page-type-team .team-cards .team-card.card-4 div:last-child{background-color: #4A9681;}
.page-type-team .team-cards .team-card.card-5 div:nth-child(2){background-color: #D5E2FF;}
.page-type-team .team-cards .team-card.card-5 div:last-child{background-color: #3D517B;}


/*
    Foot Content
*/
.page-type-team .foot-content .resources-section{
    background-color: #ffffff;
}

.page-type-team .foot-content .resources-section h2{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 9.5rem 0;
    font-size: 4em;
    line-height: 1em;
    width: 85%;
}

.page-type-team .foot-content .resources-section .resources{
    display:flex;
    justify-content: space-between;
    width: 100%;
}

.page-type-team .foot-content .resources-section .resources .resource{
    width: 32.8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 333px;
}
.resource-logo{
    height: 95px;
    width: 85px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.page-type-team .foot-content .resources-section .resources .resource a{
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-weight: var(--weight-black);
}
.page-type-team .foot-content .resources-section .resources .resource .learn-more-button {
    color: white;
    font-size: 16px;
    width: fit-content;
    padding-bottom:2px;
    box-sizing: border-box;
    border-bottom: 3px solid white;
}
.resource-bottom-container{
    background: var(--bkg-red);
    width: 100%;
    padding: 15px 20px 35px 45px;
    box-sizing: border-box;
}
.resource > div.resource-bottom-container > p > a > strong {
    font-weight: var(--weight-black);
}

.content > div.foot-content > div.think-differently.block > div > div > p:nth-child(2) > span::after {
    content: "+";
    vertical-align: super;
    font-size: .5em;
    line-height: 0;
}


/*Ipad Size*/
@media (max-width: 1024px){
    .page-type-team .title-content {
        padding-left: var(--page-header-l-padding-tablet);
    }
    .page-type-team .title-content h1 {
        font-size: 5em;
        width: 60%;
    }
    .page-type-team .head-content .title {
        padding: 0 2rem;
    }

    .page-type-team .head-content .head-text {
        grid-template-columns: 35% 65%;
    }
    .page-type-team .head-content .head-text p {
        margin-right: 1em;
    }

    /*TEAM CARD*/

    .page-type-team .team-cards .team-card{
        grid-template-columns: 40% 60%;

        height: 205px;
    }
    .page-type-team .team-cards .team-card.active{
        height: 630px;
    }

    .page-type-team .team-cards .team-card div:first-child{
        padding-top: 0.25rem;
    }
    .page-type-team .team-cards .team-card .card-header{
        margin: 3em 7.5%;
        width: 85%;
    }
    .page-type-team .team-cards .team-card .chevron-down{
        width: 17px;
        margin-right: 0.8rem;
        background-position: center top 8px;
    }
    .page-type-team .team-cards .team-card h3{
        font-size: 1.3rem;
    }

    .page-type-team .team-cards .team-card div:nth-of-type(2){
        padding-top: 8rem;

    }

    .page-type-team .team-cards .team-card div:nth-of-type(3){
        padding-top: 8rem;
        padding-left: 5rem;
    }
    .page-type-team .team-cards .team-card div:nth-of-type(3) > p:first-child{
        width: 92%;
        font-size: 2em;
        line-height: 1.4em;
        padding-bottom: 1em;
    }
    .page-type-team .team-cards .team-card div:nth-of-type(3) .view-jobs {
        font-size: 1em;
        text-decoration: underline 3px;
        text-underline-offset: 9px;
    }

    /*RESOURCES*/

    .page-type-team .foot-content .resources-section .resources .resource {
        height: 585px;
    }
    .resource-logo {
        width: 140px;
        height: 120px;
    }
    .resource-bottom-container {
        padding: 15px 20px 85px 45px;
    }
}
@media (max-width: 1000px){
    .page-type-team .title-content h1 {
        width: 75%;
    }
    .page-type-team .team-cards .team-card div:last-child > p:first-child {
        width: 85%;
        font-size: 1.4rem;
    }
}

@media (max-width: 768px){
    .page-type-team .title-content h1 {
        width: 85%;
    }
    /*TEAM CARD*/

    .page-type-team .team-cards .team-card{
        height: 160px;
    }
    .page-type-team .team-cards .team-card.active{
        height: 470px;
    }

    .page-type-team .team-cards .team-card .card-header{
        margin: 2em 7.5%;
    }
    .page-type-team .team-cards .team-card .chevron-down{
        width: 15px;
        margin-right: 1rem;
        background-position: center;
    }
    .page-type-team .team-cards .team-card h3{
        font-size: 1rem;
    }

    .page-type-team .team-cards .team-card div:nth-of-type(2){
        padding-top: 6rem;

    }

    .page-type-team .team-cards .team-card div:nth-of-type(3){
        padding-top: 6rem;
        padding-left: 5rem;
    }
    .page-type-team .team-cards .team-card div:nth-of-type(3) > p:first-child{
        width: 95%;
        font-size: 1.4rem;
        line-height: 1.5em;
    }
    .page-type-team .team-cards .team-card div:nth-of-type(3) .view-jobs{
        font-size: 0.6em;
    }
    .page-type-team .foot-content .resources-section h2{
        font-size: 3em;
        width: 85%;
    }
}

@media (max-width: 700px){
    .page-type-team .title-content{
        margin: 6rem 0 4rem 0;
        padding-left: var(--page-header-l-padding-mobile);
        width: 80%;
    }

    .page-type-team .title-content h1{
        margin-block: unset;
        font-size: 2.8em;
        padding-left: 1.8rem;
        width: auto;
    }


    .page-type-team .head-content{
        padding: 2em 3.5em 2em 4em;
    }

    .page-type-team .head-content .title{
        font-size: 1.4em;
        line-height: 1.6em;
        padding: unset;
    }

    .page-type-team .head-content .head-text{
        display:block;
        font-size: 1.1em;
        padding-top: 1em;
    }

    .page-type-team .head-content h2{
        margin-top: 3em;
    }

    .page-type-team .head-content h2,
    .page-type-team .foot-content .resources-section h2{
        font-size: 2em;
    }

    /*TEAM CARD*/

    .page-type-team .team-cards .team-card{
        grid-template-columns: unset;
        grid-template-rows: 0 100% ;

        height: 280px;
        overflow: hidden;
    }
    .page-type-team .team-cards .team-card.active{
        height: 560px;
    }

    .page-type-team .team-cards .team-card div:first-child{
        padding-top: 1.5rem;
    }
    .page-type-team .team-cards .team-card .card-header{
        margin: 2em 15%;
        width: 70%;
        padding-bottom: 1em;
    }
    .page-type-team .team-cards .team-card .chevron-down{
        width: 18px;
        margin-right: 0.5rem;
        background-position: center;
        background-image: url("../../resources/chevron-down.svg");
    }
    .page-type-team .team-cards .team-card h3{
        width: 100%;
        font-size: 1.3rem;
        color: white;
    }

/*     .page-type-team .team-cards .team-card div:nth-of-type(2){
        padding-top: 8rem;

    }
    .page-type-team .team-cards .team-card div:nth-of-type(2) img {
        width: calc(100% - 8em);
        padding-left: 4rem;
    } */

    .page-type-team .team-cards .team-card div:nth-of-type(3){
        padding: 0;
        padding-top: 12rem;
    }
    .page-type-team .team-cards .team-card div:nth-of-type(3) > p:first-child,
    .page-type-team .team-cards .team-card div:nth-of-type(3) .view-jobs{
        margin: 0 15%;
        width: 70%;
        padding-bottom: 2em;
    }
    .page-type-team .team-cards .team-card div:nth-of-type(3) > p:first-child{
        font-size: 1.3rem;
    }
    .page-type-team .team-cards .team-card div:nth-of-type(3) .view-jobs{
        font-size: 0.7em;
    }


    /*Resources*/

    .page-type-team .foot-content .resources-section h2{
        width: 83%;
    }

    .page-type-team .foot-content .resources-section .resources{
        flex-direction: column;
        align-items: center;
    }

    .page-type-team .foot-content .resources-section .resources .resource{
        width: 90%;
        height: 500px;
        margin: 0.5em;
    }
}
@media (max-width: 320px){
    .page-type-team .team-cards .team-card.active{
        height: 600px;
    }
}