.cmp-multi-image {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem 12px;
  margin: 4rem auto;
}

.cmp-multi-image__image picture {
  aspect-ratio: 4 / 3;
}

.cmp-multi-image__image:not(:last-child) picture:last-child {
  margin-bottom: 1.5rem;
}

.cmp-multi-image__image picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.cmp-multi-image__caption {
  margin-top: 1rem;
  font-size: var(--font-size-100);
}

@media (min-width: 600px) {
  .cmp-multi-image--2-up {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cmp-multi-image {
    margin: 8.875rem auto;
  }

  .cmp-lede__article-bg > .cmp-multi-image--2-up {
    grid-column: 2 / -2;
  }

  .cmp-lede__article-bg > .cmp-multi-image--3-up {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2 / -2;
  }
}

@media (min-width: 1300px) {
  .cmp-lede__article-bg > .cmp-multi-image--2-up,
  .cmp-lede__article-bg > .cmp-multi-image--3-up {
    grid-column: 3 / -3;
  }
}
