.dark-text .carousel-slide-content, 
.dark-text .carousel-slide-content a,
.light-text .carousel-ui {
    color: var(--color-base-dark-slate);
}

.light-text .carousel-slide-content, 
.light-text .carousel-slide-content a,
.light-text .carousel-ui {
    color: var(--color-base-white);
}

.carousel-group {
    --padding-top: 100px;
    width: 100%;
    padding-top: var(--padding-top);
    height: 100vh;
    max-height: 1040px;
    min-height: 600px;
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    display: flex;
    flex: 1;
    background-color: var(--header-color);
    transition: background-color var(--carousel-transition-time) var(--carousel-transition-ease);
}

.carousel-group.hidden .carousel-slide{
    visibility: hidden;
}

.carousel-group.hidden .carousel-slide:first-child{
    visibility: visible;
}

.carousel-group.hidden .carousel-btn {
    opacity: 0;
}

.carousel-gradient{
    height: 600px;
}

.carousel-gradient-svg{
    width: 100%;
    height: 100%;
}

.carousel-gradient-svg .svg-bg{
    fill: var(--header-color);
    transition: fill var(--carousel-transition-time) var(--carousel-transition-ease);
}

.carousel-indicator-scroll{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
}

.carousel-indicator-scroll svg{
    display: inline;
    margin-left: 25px;
}

.carousel-slides {
    position: relative;
    height: 100%;
    width: 100%;  
}

.carousel-slide {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left:0;

    color: rgba(255,255,255,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.carousel-slide-container {
    margin: 0 auto;
    width: var(--content-width);
    max-width: var(--layout-max-width-desktop);
}

.carousel-slide-content {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    column-gap: 12px;
    row-gap: 12px;
}

.carousel-slide-content h2 {
    font-size: var(--font-size-1000);
    font-weight: var(--font-weight-black);
    line-height: 1;
    margin: 1rem 0 1.5rem;
    margin-top: 20%;
}

.carousel-slide-copy {
    grid-column-start: 8;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 2.25rem 3.5rem;
    padding-left: 0;
    box-sizing: border-box;
}

.home .carousel .cmp-stories-card__tag::after {
    background-color: currentColor;
    border-radius: 10px;
    bottom: 0;
    content: '';
    left: 0;
    height: 4px;
    position: absolute;
    width: 100%;
}

.carousel-slide picture {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
    aspect-ratio: 1;
}

.carousel-slide img {
    aspect-ratio: 1;
    object-fit: cover;
}

.carousel-btn {
    opacity: 1;
    width: 46px;
    height: 46px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-130%, calc(var(--padding-top) / 2)) rotate(180deg) ;
    background-image: url("../../assets/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: center;
    pointer-events: visible;
    transition: opacity 0.5s;
}

.carousel-btn-next {
    transform: translate(130%, calc(var(--padding-top) / 2)) rotate(0deg) ;
}

.carousel-ui {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.carousel-ui-inner{
    position: relative;
    height: 100%;
    margin: 0 auto;
    width: var(--content-width);
    max-width: var(--layout-max-width-desktop);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* adjust margin*/
.home .stories-container{
    margin-top: -600px;
}


@media (max-width: 1300px) {

    .carousel-group {
        height: 80vh;
        overflow-y: hidden;
        min-height: 700px;
    }

    .carousel-slide picture {
        grid-column-start: 1;
    }

    .carousel-slide-copy {
        grid-column-end: 13;
        padding-right: 0;
    }

    .carousel-indicator-scroll{
        display: none;
    }

    .cmp-stories__inner-wrap h1 {
        --stories-page-title-font-size: var(--font-size-4000);
      }
}

@media (max-width: 900px) {

    .carousel-group {
        height: auto;
        box-sizing:content-box;
    }

    .carousel-slide-container{
        box-sizing: border-box;
        height: 100%;
        padding-top: 100px;
    }

    .carousel-slide-content{
        height: 100%;
        grid-template-columns: repeat(6, [col-start] 1fr);
        grid-template-rows: min-content;
    }

    .carousel-slide-copy {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 2;
        justify-content: flex-start;
        padding:0;
        padding-bottom: 12px;
    }
    
    .carousel-slide picture {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    
    .carousel-ui{
        grid-template-columns: repeat(6, [col-start] 1fr);
    }

    .carousel-ui-inner{
        grid-column-start: 1;
        grid-column-end: 7;
        height: 52vw;
        padding-top: 100px;
        width: 60%;
    }

    .carousel-gradient{
        height: 300px;
    }

    .home .stories-container{
        margin-top: -300px;
    }

    .carousel-indicator-scroll{
        display: none;
    }
}

@media (max-width: 500px) {
    .carousel-ui-inner{
        height: 62vw;
    }
}

@media (min-height:1000px) {
    .carousel-indicator-scroll{
        display: none;
    }
}