
.carousel-group {
    width: 100%;
    height: 70vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: visible;
    display: flex;
    flex: 1;
    background-color: var(--header-color);
    transition: background-color var(--carousel-transition-time) var(--carousel-transition-ease);
}

.carousel-group.hidden .carousel-slide{
    visibility: hidden;
}

.carousel-group.hidden .carousel-slide:first-child{
    visibility: visible;
}

.carousel-group.hidden .carousel-ui {
    display: none;
}

.carousel-gradient{
    height: 600px;
}

.carousel-gradient-svg{
    width: 100%;
    height: 100%;
}

.carousel-gradient-svg .svg-bg{
    fill: var(--header-color);
    transition: fill var(--carousel-transition-time) var(--carousel-transition-ease);
}

.carousel-slides {
    position: relative;
    height: 100%;
    width: 100%;  
}

.carousel-slide {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left:0;

    color: rgba(255,255,255,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.carousel-slide-container {
    margin: 0 auto;
    width: 95%;
    max-width: var(--layout-max-width-desktop);
}

.carousel-slide-content {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    column-gap: 12px;
    row-gap: 12px;
}

.carousel-slide-content h2 {
    font-size: var(--font-size-1000);
    font-weight: var(--font-weight-black);
}

.carousel-slide-content a {
    /* text is either base-dark-slate or white*/
    color: white;
}

.carousel-slide-copy {
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel-slide picture {
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
}

.carousel-btn {
    position: absolute;
    width: 46px;
    height: 46px;
    background: white;
    border-radius: 50%;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    background-image: url("../../assets/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    transform-origin: center;
}

.carousel-btn-next {
    right: 0px;
    transform: rotate(0deg);
}

.carousel-ui {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.carousel-ui-inner{
    position: relative;
    height: 100%;
    margin: 0 auto;
    width: 95%;
    max-width: var(--layout-max-width-desktop);
}