@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.carousel {
    overflow: hidden;
    position: relative;
    height: calc(100vh - 87px);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
    display: none;
}

/* .carousel .carousel__item--next {
    display:flex
} */

.carousel .carousel__item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    
}
.carousel .carousel__item .image {
    width: 50%;
    margin-right: 20px
}

.carousel .carousel__item--visible {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .6s ease;
    width: 1000px;
    max-width: 1000px;
}
.visible-animation{
    animation: fadeVisibility .6s ease;
}
.visible-animation-rev{
    animation: fadeVisibilityRev .6s ease;
}
/* tag-line styles */
.carousel .carousel__item--visible p:first-child {
    color: #D8D8D8;
    border-bottom: solid 4px#D8D8D8;
    display: inline;
    font-family: 'Roboto', sans-serif;
}

/* title styles */
.carousel .carousel__item--visible h2 {
    color: #F0E8DD;
    font-size: clamp(2rem, 6vw, 5rem);
    width: 25vw;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
    height:3.3em;
    overflow:hidden;
}

/* person styles */
.carousel .carousel__item--visible p:last-child {
    font-family: 'Roboto', sans-serif;
    color: #F0E8DD;
}

.carousel .carousel__actions {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel .carousel__actions div {
    font-size: 2em;
    cursor: pointer;
    color: black;
    border-radius: 1em;
    
}
.opacity-zero{
    opacity: 0;
    transform: scaleX(95%) translateX(50px);
}

.opacity-zero-rev{
    opacity: 0;
    transform: scaleX(95%) translateX(-50px);
}
/* 
.carousel .carousel__actions div.carousel__button--prev {
    margin-left: 1em;
}

.carousel .carousel__actions div.carousel__button--next {
    margin-right: 1em;
} */


@keyframes fadeVisibility {
    0% {
        opacity: 0;
        transform: scaleX(95%) translateX(-50px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeVisibilityRev {
    0% {
        opacity: 0;
        transform: scaleX(95%) translateX(50px);
    }
    100% {
        opacity: 1;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .carousel {
        margin: 5em 0 1em 0;
    }
    .carousel .carousel__item img {
        margin-left: auto;
    }
    .carousel .number {
        margin-right: 5em;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 767px) {
    .carousel {
        margin: 4em 0 1em 0;
    }

    .carousel .carousel__item img {
        width: 60%;
        max-width: 25em;
        height: auto;
        display: block;
        margin-left: 10em;
        margin-right: auto;
    }

    .carousel .carousel__item--visible p:first-child {
        font-size: clamp(.5rem, 2.5vw, .75rem);
    }

        /* title styles */
    .carousel .carousel__item--visible h2 {
        font-size: clamp(1.5rem, 6vw, 3rem);
    }

    /* person styles */
    .carousel .carousel__item--visible p:last-child {
        font-size: clamp(.5rem, 2.5vw, 1rem);
        width: 35vw;
    }

    .carousel .carousel__actions {
        top: 30%;
    }

}

@media only screen and (min-width: 321px) and (max-width: 424px){
    .carousel {
        margin: 5em 0 1em 0;
    }
    .carousel .carousel__item img {
        margin-left: auto;
    }
    .carousel .number {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .carousel .carousel__item--visible {
        flex-direction: column;
    }
    .carousel .carousel__item .image {
        height: unset;
    }
    
}