main {
  margin: 0 auto;
  padding: 0;
  width: var(--content-width);
  max-width: var(--layout-max-width-desktop);
}

main > div > div > *:not(div) {
  padding: 0 var(--page-inline-padding);
}

.page-header > div {
  display: grid;
  grid-template-columns: repeat(6, [col-start] 1fr);
  column-gap: 12px;
}

.page-header > div > div {
  grid-column: col-start 1 / span 6;
}

.page-header > div:last-child:not(:only-child) {
  background: linear-gradient(180deg, var(--header-color) 20rem, var(--color-base-white) 20rem);
  padding-bottom: 3rem;
}

.page-header > div:last-child img {
  width: 100%;
}

.design-circle .page-header > div:only-child {
  background: transparent;
  padding-bottom: 0;
}

.page-header h1:not([class]) {
  color: var(--reactive-text-color);
  font-size: var(--page-title-font-size);
  line-height: var(--page-title-line-height);
  font-family: var(--font-stack-sans);
  font-weight: var(--font-weight-black);
  margin-bottom: 2rem;
}

.design-circle .page-header #design-circle-scholars {
  margin: var(--page-title-top-space) 0;
}

.page-header p {
  font-family: var(--font-stack-serif);
  font-size: var(--page-subtitle-font-size);
  font-weight: var(--font-weight-normal);
  color: var(--reactive-text-color);
  line-height: 1.3;
  margin-bottom: 2rem;
}

@media (min-width: 900px) {
  .page-header > div {
    grid-template-columns: repeat(12, [col-start] 1fr);
  }

  .page-header > div > div {
    grid-column: col-start 2 / -2;
  }

  .page-header > div:last-child {
    padding-bottom: 5rem;
  }

  .page-header > div:first-child > div {
    grid-column: col-start 3 / span 10;
    margin: var(--page-title-top-space) 0;
  }

  .design-circle .page-header > div:first-child > div {
    margin-bottom: calc(var(--page-title-top-space) - 1.5rem);
  }

  .design-circle .page-header #design-circle-scholars {
    margin: 0 0 2rem;
  }

  .page-header p {
    margin-bottom: 0;
  }
}

@media (min-width: 1300px) {
  .page-header > div {
    grid-template-columns: repeat(16, [col-start] 1fr);
  }

  .page-header > div:first-child > div {
    grid-column: col-start 3 / span 10;
    margin: var(--page-title-top-space) 1.875rem;
  }
}
