.cmp-embed {
  margin: 5.25rem 0;
}

.cmp-embed__container {
  display: flex;
  justify-content: center;
}

.cmp-embed--instagram .instagram-media {
  width: 80%;
}

.cmp-embed--instagram .cmp-embed__container {
  justify-content: center;
}

.cmp-embed--twitter .twitter-tweet {
  justify-content: center;
}

@media (min-width: 900px) {
  .cmp-embed--instagram .instagram-media {
    width: 100%;
  }
}
