.home .cmp-jobs-list {
  --job-link-font-size: var(--font-size-650);
  --details-font-size: var(--font-size-100);

  color: var(--color-base-dark-slate);
  font-family: var(--font-stack-serif);
  list-style: none;
  margin: 0;
  padding: 0 6rem;
}

.home .cmp-jobs-list__item {
  margin: 0 0 2rem;
}

.home .cmp-job__link {
  color: var(--color-base-dark-slate);
  font-size: var(--job-link-font-size);
  line-height: 1.3;
  text-decoration: underline;
}

.home .cmp-job__link:hover,
.home .cmp-job__link:focus {
  text-decoration: none;
}

.home .cmp-job__department {
  margin-top: 0.5rem;
}

.home .cmp-job__department,
.home .cmp-job__location {
  font-size: var(--details-font-size);
}

.home .cmp-jobs-view-all {
  display: flex;
  justify-content: flex-start;
  margin: 4rem 6rem;
}

.home .cmp-jobs-view-all__link {
  border: 2px solid var(--color-base-dark-slate);
  border-radius: 36px;
  color: var(--color-base-dark-slate);
  font-size: var(--details-font-size);
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.home .cmp-jobs-view-all__link:hover,
.home .cmp-jobs-view-all__link:focus {
  text-decoration: none;
}

@media (min-width: 900px) {
  .home .cmp-jobs-list {
    --job-link-font-size: var(--font-size-800);
    --details-font-size: var(--font-size-300);

    padding: 0;
  }

  .home .cmp-jobs-view-all {
    margin-right: 0;
    margin-left: 0;
  }
}
