@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.people {
    display: flex;
    justify-content: space-evenly;
}

.person .tag {
    display: inline;
    position:absolute;
    padding: 5px 0 10px 25px;
}

.person .tag:before {
    content : "";
    position: absolute;
    bottom  : 0px;
    height  : 1px;
    width   : 80%;  /* or 100px */
    border-bottom:solid 4px black;
}

.person .image{
    width: 100%;
}

.person {
    background: #ffffff;
    width: fit-content;
    flex-basis:0;
    flex-grow:1;
    margin:10px;
}

.name {
    font-size: clamp(2rem, 3vw, 5rem);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 20px 0 30px 20px;
}

.title {
    font-size: clamp(1rem, 1vw, 2rem);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 20px 0 30px 20px;
}

.pad {
    margin-top: 0;
}

@media (max-width: 767px) {
    .people {
        display: inherit;
        margin-left: 0;
        margin-right: 0;
    }
    .person {
        margin: 10px 0 10px 0;
        background: #E91D25;
        height: 23em;
    }
    .name {
        text-align: center;
        font-size: 3em;
        position: relative;
        top: -150px;
    }
    .title {
        text-align: center;
        position: relative;
        top: -190px;
    }
}

@media only screen and (max-width: 767px){
    .people.block{
        margin: 0;
    }

    .people.block > .tag:nth-child(1){
        position: static;
    }
    .people.block > .tag:nth-child(2){
        position: static;
    }
    .people.block > .tag:nth-child(3){
        position: static;
    }
}
@media only screen and (max-width: 425px){
    .person{
        background: none;
        height: 26em;
    }
    .people.block > .tag:nth-child(1){
        position: absolute;
        top: 300em;
    }
    .people.block > .tag:nth-child(2){
        position: absolute;
        top: 310em;
    }
    .people.block > .tag:nth-child(3){
        position: absolute;
        top: 355em;
    }
}
@media only screen and (min-width: 321px) and (max-width: 375px){
    .people.block{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .people.block .person{
        margin: 0;
        height: 22em;
    }
}
    .people.block > .tag:nth-child(1){
    top: 310em;
}
    .people.block > .tag:nth-child(2){
    top: 333em;
}
    .people.block > .tag:nth-child(3){
    top: 355em;
}