@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.people {
    display: flex;
    justify-content: space-evenly;
    margin-left: 1em;
    margin-right: 1em;
}

.person .tag {
    display: inline;
    position:absolute;
    padding: 5px 0 10px 25px;
}

.person .tag:before {
    content : "";
    position: absolute;
    bottom  : 0px;
    height  : 1px;
    width   : 80%;  /* or 100px */
    border-bottom:solid 4px black;
}

.image {
    width:100%;
}

.person {
    background: #ffffff;
    width: fit-content;
    flex-basis:0;
    flex-grow:1;
    margin:10px;
}

.name {
    font-size: clamp(2rem, 3vw, 5rem);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 20px 0 30px 20px;
}

.title {
    font-size: clamp(1rem, 1vw, 2rem);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding: 20px 0 30px 20px;
}

.pad {
    margin-top: 0;
}

@media (max-width: 767px) {
    .people {
        display: inherit;
        margin-left: 0;
        margin-right: 0;
    }
    .person {
        margin: 10px 0 10px 0;
        background: #E91D25;
        height: 23em;
    }
    .name {
        text-align: center;
        font-size: 3em;
        position: relative;
        top: -150px;
    }
    .title {
        text-align: center;
        position: relative;
        top: -190px;
    }
}

@media only screen and (max-width: 769px){
    body > main > div > div > div.people.block{
        margin: 0;
    }

    body > main > div > div > div.people.block > div:nth-child(1) > div.content > p.tag{
        top: 300em;
    }
    body > main > div > div > div.people.block > div:nth-child(2) > div.content > p.tag{
        top: 300em;
    }
    body > main > div > div > div.people.block > div:nth-child(3) > div.content > p.tag{
        top: 300em;
    }
}

@media only screen and (max-width: 375px){
    .people.block{

        margin-left: 0;
        
    }
    .person{
        background: #E91D25;
        height: 21em;
    }
}


