.page-type-article .header-image{
    display: flex;
}

:root{
    --h1-font-size: 5em;
    --h2-font-size: 3em;
    --p-font-size: 1em;
    --li-font-size: 1.5em;
}

.page-type-article a{
    color: black;
    cursor: pointer;
}

.art {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 2em 5em 0 0;
    font-size: .75em;
    /* font-style: italic; */
}
/* this block added extra space that did not match the designs */
.page-type-article .article-feed.block{
    display: none;
}

.page-type-article  {
    font-size:16px;
}

/* multi image problem solver */
.page-type-article p:not(.article-picture) + .article-picture {
    margin-top: 5em;
}
.page-type-article .article-picture + .article-picture {
    margin-bottom: 4em;
}
.page-type-article .article-picture + p:not( .article-picture + .article-picture){
    margin-top: 4em;
}

.page-type-article .content{
    padding-top:140px;
    padding-bottom: 5em;
    background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 1810px,rgba(255,255,255, 1) 1810px);
}
.page-type-article .header-tag{
    margin-left: 7em;
    color: black;
    border-radius: 10%;
    font-family: var(--sans-serif-font);
    font-weight: var(--weight-regular);
}
.page-type-article .header-tag .tag{
    border-bottom: solid .2em black;
}
.page-type-article .content:not(.page-type-article .header.block) {
    padding-left: 5rem;
    padding-right: 5rem;
}
.page-type-article .content .block{
    width: auto
}
body > main > div > div > p:nth-child(4) > em{
    font-family: var(--sans-serif-font);
    font-weight: var(--weight-light);
    font-style: italic;
}
.page-type-article .content p:not(.article-picture) {
    text-align:left;
    font-size:var(--p-font-size);
    color: #4A4545;
    font-family: var(--sans-serif-font);
    font-weight: var(--weight-regular);
    line-height:2em;
    padding: .5em 4em .5em 0;
}
.page-type-article .content .lede.block{
    color: #4A4545;
    padding-bottom: 3em;
    padding: 1em 1em 3em 0;
    width: 90%;
}
body > main > div > div > p:nth-child(3){
    padding-bottom: 1em;
}
.page-type-article h1{
    text-align: left;
    margin: unset;
    font-size: var(--h1-font-size);
    font-family: var(--sans-serif-font);
    font-weight: var(--weight-black);
    color: #3A3A3A;
    padding: .2em 2em .3em 1.4em;
    line-height: 1;
}
.page-type-article .header.block h2{
    text-align: left;
    padding: 0 7em 2.5em 3.5em;
    font-size: 2em;
}
.page-type-article .content h2{
    font-size: var(--h2-font-size);
    font-family: var(--serif-font);
    font-weight: var(--weight-regular);
    padding-top: .5em;
    padding-left: 5.8em;
    padding-bottom: .7em;
    color: #4A4545;

}
.page-type-article .content h3{
    font-size: 1.8em;
    font-family: var(--serif-font);
    font-weight: var(--weight-regular);
    padding-top: 1em;
    padding-left: 9.7em;
    /* padding-bottom: .7em; */
    margin-bottom: 0;
    color: #4A4545;
}
body > main > div > div > p:nth-child(8){
    padding-bottom: 1em;
}
.page-type-article .header >div:not(.author){
    display: flex;
    flex-direction: column;
    overflow:hidden;
}
body > main > div > div > div.header.block > div > div:nth-child(1){
    order: 2;
}

.header.block > div{
    width: 100%;
    height: 75%;
}

.page-type-article .header .author{
    padding-top:2rem;
}

.page-type-article .header .author-body{
    display:flex;
    width:15em;
    gap: 5%;
}

.page-type-article .header .author-desc{
    display:flex;
    flex-direction: column;
}
.page-type-article .author.block .name{
    font-size: 1.3em;
    height: auto;
}

.page-type-article .header .author-desc h2,
.page-type-article .header .author-desc h3{
    display:unset;
    padding: unset;
    margin-block:unset;
    font-size: 1em;
    height:50%;
    padding-top:.2em;
}

.page-type-article .header .author-desc h2{
    font-size: 1.4em;
    font-family: var(--sans-serif-font);
    font-weight: var(--weight-bold);
}

.page-type-article .header .author-desc h3{
    font-family: var(--sans-serif-font);
    font-weight: var( --weight-regular);
    font-size: .7em;
}

.page-type-article main p:not(.author-bio.block p, .additional-reading.block p, .article-picture, .header-tag) {
    font-size: 1em;
    text-align: left;
    padding-left: 17.5em;
    padding-right: 0;
}
.page-type-article .content ul{
    padding-left: 17.5em;
}
.page-type-article .content li{
    color: #4A4545;
    padding-bottom: 1em;
    line-height: 1.8;
    font-size: var(--p-font-size);
    font-family: var(--sans-serif-font);
    font-weight: var(--weight-regular);
}


.page-type-article .article-picture{
    padding: 0;
    margin: 0;
    line-height: 0;
}

.page-type-article main img{
    width: 100%;
}
.page-type-article .header.block{
     /* width: 80%; */
    color: black;
    padding-top: 5em;
    padding-bottom: 7em;
    /* padding-left: 5em; */
}
.page-type-article .pull-quote.block{
    font-size: 2em;
    justify-items: center;
    padding: 2em 0 2em 3em;
}
.page-type-article p + p + .pull-quote.block {
    /* padding-right: 5em; */
}

.page-type-article .content div:nth-child(3){
    padding: 0;
    padding-bottom: 1em;
}
body > main > div > div > div:nth-child(3) > div > div{
    color: black;
    justify-items: center;
    padding: 0;
}
body > main > div > div.content > picture > img{
    padding-bottom: 5em;
}
.page-type-article .content ul{
    list-style: none;
    text-align: left;
}

.page-type-article .additional-reading.block > div{
    display:flex;
    flex-direction: column;
    padding-left: 13.7em;
}
.page-type-article .additional-reading.block h2{
    padding: 0;
    text-align: left;
}
.page-type-article .additional-reading.block p{
    padding-left: 0;
    font-size: var(--p-font-size);
}
.page-type-article .additional-reading.block ul{
    padding: 0;
}
.page-type-article .additional-reading.block li{
    line-height: 1.5;
    padding: 0.5rem 0;
    font-size: 1em;
}
.page-type-article .additional-reading.block p{
    grid-column-start: 2;
    margin-top: 0;
    padding-right: 0;
}
.page-type-article .additional-reading.block a{
    font-family: var( --sans-serif-font);
    font-weight: var( --weight-regular);
}

.page-type-article .additional-reading.block{
    font-size: 1.2em;
}

.page-type-article .additional-reading.block{
    width: 100%;
    padding: 1em;
}


/** AUTHOR BIO */

.page-type-article .author-bio {
    background: #F5F5F5;
    /* height: 30em; */
    /* display: flex; */
    /* align-items: center; */
    /* margin: 0 218px; */
    padding: 5em 6em 2em 6em;
}

body > div.author-bio.block > div > author-name{
    text-align: center;
}
.page-type-article .author-bio > div {
    /* display: flex; */
    display: grid;
    grid-template-columns: auto auto;
    /* grid-template-columns: 14% 70%; */
    /* margin: 0 25% 5em 25%; */
    /* align-items: center; */
}

.page-type-article .author-image {
    width: 3em;
}

.page-type-article author-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 9em;
    width: 45%
}

.page-type-article .author-info {
    /* margin-left: 7em; */
}

.page-type-article .author-info > p:nth-child(1) {
    margin-bottom: 2em;
}

.page-type-article .author-info > p:nth-child(3) {
    margin-top: 8em;
}
.page-type-article .author-bio .author-title {
    font-size: clamp(5px, 6vw, 12px);
    margin-top: .3em;
}
.page-type-article .author-bio .name {
    font-size: clamp(20px, 5vw, 22px);
    margin: 0;
}

.page-type-article .similar-stories{
    background-color: var(--bkg-navy-dark);
    padding: 2rem 0 6rem 0;
}
.page-type-article .author-info{
    font-family: var(--serif-font);
    color: #4A4545;
    /* font-size: .9em; */
}


.page-type-article .similar-stories-content{
    max-width: 1000px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* margin: 6em; */
}

.page-type-article .similar-stories .similar-stories-header{
    font-family: var(--sans-serif-font);
    font-weight: var(--weight-black);
    font-size: 2.5rem;
    padding-bottom: 3rem;
    color: white;
}

.page-type-article .similar-stories .stories{
    /* display: flex;
    gap: 1em;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center; */

    display: grid;
    grid-template-columns: 50% 50%;
    gap: .5em;
}
.page-type-article .story.block{
    /* padding: 0 .5em; */
}
.page-type-article .similar-stories img{
    width: 100%;
}

.page-type-article .link{
    text-decoration: none;
}
.page-type-article .similar-stories .stories .block.story a{
    color: white;
    
}
.page-type-article .similar-stories .stories .block.story a > .story-text{
    margin-top: 1em;
}
.page-type-article .similar-stories .stories .block.story a > .story-text > * {
    margin: unset;
}

.page-type-article .similar-stories .stories .block.story .story-text .tag{
    font-weight:var(--weight-light)
}
.page-type-article .similar-stories .stories .block.story .story-text .tag.tag-link{
    color: inherit;
    text-decoration: none;
}

.page-type-article .similar-stories .stories .block.story .story-text .tag span{
    text-decoration: underline 3px;
    text-underline-offset: 6px;
}

.page-type-article .similar-stories .stories .block.story a > .story-text > .story-header{
    font-weight: var(--weight-black);
    font-family: var( --sans-serif-font);
    font-size: 2em;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    line-height: 1em;
}

.page-type-article .similar-stories .stories .block.story a > .story-text > h3{
    font-family: var(--serif-font);
    font-weight: var(--weight-regular);
    font-size: 1em;
    margin-bottom: 2rem;
    padding-top: 1em;
}

.page-type-article .similar-stories .stories .block.story a > .story-text > .author{
    font-weight: var(--weight-bold);
    font-size: 0.8em;
}
.page-type-article .similar-stories .stories .block.story a > .story-text > .position{
    font-family: var(--sans-serif-font);
    font-weight: var(--weight-light);
    margin-bottom: 1em;
    font-size: 0.6rem;
    padding-top: 1em;
}
.page-type-article .similar-stories .stories .block.story .image{
    /* position: relative; */
    min-height: clamp(100px, 34vw,730px);
}

.page-type-article .author-bio > div{
    padding-right: 2em;
}
.page-type-article .author-info p{
    margin-top: 0;
}



.page-type-article .similar-stories .stories .block.story .image picture img{
    width: 100%;
}
/* @media (max-width: 1024px){
    .page-type-article .similar-stories-content{
        width: 96%;
    }
    .page-type-article .similar-stories .stories .block.story a > .story-text > .story-header {
        width: 50%;
        font-size: clamp(2em, 4vw ,2.5em);
    }
} */
/* @media(max-width: 700px){
    .page-type-article .similar-stories-content{
        width: 95%;
        margin: 2em auto;
    }
    .page-type-article .similar-stories .stories{
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
    }
    .page-type-article .similar-stories .stories .block.story{
        margin-bottom: 6em;
    }
    .page-type-article .similar-stories .stories .block.story:last-of-type{
        margin-bottom: 2em;
    }
    .page-type-article .similar-stories .stories .block.story a > .story-text > *{
        padding: 0;
    }
    .page-type-article .similar-stories .stories .block.story .story-text .tag{
        font-size: 0.6em;
    }
    .page-type-article .similar-stories .stories .block.story a > .story-text > .story-header {
        width: 80%;
    }
    .page-type-article .similar-stories .stories .block.story a> .story-text > h3{
        font-size: 1.4em;
    }
} */
@media (max-width: 2560px) and (min-width: 1920px){
    
    .page-type-article .header-tag{
        padding-left: 3.5em;
        font-size: 1.2em;
    }
    .page-type-article h1{
        font-size: 9em;
        padding-right: 4em;

    }
    .page-type-article .header.block h2{
        font-size: 4em;
        padding-left: 3.5em;
        padding-right: 9em;
    }
    .page-type-article .author.block{

    }
    .page-type-article .author.block .name{
        padding: 0;
    }
    .page-type-article .content .lede.block{
        font-size: 4.5em;
        width: 100%;
    }
    .page-type-article .content .lede.block > div{
        padding-right: 1em;
    }
    .page-type-article main p:not(.author-bio.block p, .additional-reading.block p, .article-picture, .header-tag){
        font-size: 2em;
        padding-left: 12.5em;
    }
    .page-type-article .content h2{
        padding-left: 4.2em;
        font-size: 6em;
    }
    .page-type-article .content .pull-quote.block{
        font-size: 4.5em;
        padding: 2em 1.4em 2em 2em;
    }
    .page-type-article .content ul{
        font-size: 1.8em;
        padding-left: 14em;
    }
    .page-type-article .content li{
        padding-left: 0;
    }
    .page-type-article .content h3{
        font-size: 3.5em;
        padding-left: 7em;
    }
    .page-type-article .additional-reading.block > div{
        padding-left: 21em;
    }
    .page-type-article .additional-reading.block ul{
        font-size: 1.3em;
    }
    .page-type-article .similar-stories-content{
        max-width: 1920px;
    }
}
@media (max-width: 1920px) and (min-width: 1651px){
    :root{
        --h1-font-size: 5em;
        --h2-font-size: 5em;
        --h3-font-size: 3em;
        --font-size-lede: 3.6em;
        --p-font-size: 1em;
        --li-font-size: 1.5em;
    }
    .page-type-article .header-tag{
        padding-left: 3em;
    }
    .page-type-article h1{
        font-size: 7em;
        padding-right: 4em;

    }
    .page-type-article .header.block h2{
        font-size: 3em;
        padding-left: 4em;
        padding-right: 9em;
    }
    .page-type-article .author.block{

    }
    .page-type-article .author.block .name{
        padding: 0;
    }
    .page-type-article .lede.block{
        font-size: var(--font-size-lede);
    }
    .page-type-article main p:not(.author-bio.block p, .additional-reading.block p, .article-picture, .header-tag){
        font-size: 1.8em;
        padding-left: 12.5em;
    }
    .page-type-article .content h2{
        padding-left: 4.5em;
    }
    .page-type-article .content .pull-quote.block{
        font-size: var(--font-size-lede);
        padding: 2em 1.4em 2em 2em;
    }
    .page-type-article .content ul{
        font-size: 1.8em;
        padding-left: 12.5em;
    }
    .page-type-article .content li{
        padding-left: 0;
    }
    .page-type-article .content h3{
        font-size: var(--h3-font-size);
        padding-left: 7.5em;
        margin-bottom: 0;
    }
    .page-type-article .additional-reading.block > div{
        padding-left: 18em;
    }
    .page-type-article .additional-reading.block ul{
        font-size: 1.3em;
    }
    .page-type-article .similar-stories-content{
        max-width: 103em;
    }
}
@media (max-width: 1650px) and (min-width: 1441px){
    .page-type-article .content{
        background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 1350px,rgba(255,255,255, 1) 1350px);
    }
    :root{
        --h2-font-size: 4.5em;
        --h3-font-size: 2.7em;
        --font-size-lede: 3.3em;
        --li-font-size: 1.5em;
    }
    .page-type-article .header-tag{
        padding-left: 3.5em;
    }
    .page-type-article h1{
        font-size: 7em;
        padding-right: 3em;
        
    }
    .page-type-article .header.block h2{
        font-size: 2.5em;
        padding-left: 4.6em;
        padding-right: 14em;
    }
    .page-type-article .author.block .name{
        padding: 0;
    }
    .page-type-article .lede.block{
        font-size: var(--font-size-lede);
    }
    .page-type-article main p:not(.author-bio.block p, .additional-reading.block p, .article-picture, .header-tag){
        font-size: 1.7em;
        padding-left: 12.5em;
    }
    .page-type-article .content h2{
        padding-left: 4.8em;
    }
    .page-type-article .content .pull-quote.block{
        font-size: var(--font-size-lede);
        padding: 2em 1.6em 2em 2em;
    }
    .page-type-article .content ul{
        font-size: 1.4em;
        padding-left: 15.3em;
    }
    .page-type-article .content li{
        padding-left: 0;
    }
    .page-type-article .content h3{
        font-size: var(--h3-font-size);
        padding-left: 7.9em;
    }
    .page-type-article .additional-reading.block > div{
        padding-left: 17.5em;
    }
    .page-type-article .similar-stories-content{
        max-width: 1440px;
    }

}
@media (max-width: 1440px) and (min-width: 1281px){
    .page-type-article .content{
        background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 1190px,rgba(255,255,255, 1) 1190px);
    }
    :root{
        --h1-font-size: 5em;
        --h2-font-size: 4em;
        --h3-font-size: 2.5em;
        --font-size-lede: 2.8em;
        --p-font-size: 1em;
        --li-font-size: 1.5em;
    }
    
    .page-type-article .header-tag{
        padding-left: 1.8em;
    }
    .page-type-article h1{
        font-size: 6em;
        padding-right: 3em;

    }
    .page-type-article .header.block h2{
        font-size: 2em;
        padding-left: 5em;
        padding-right: 14em;
    }
    .page-type-article .author.block{

    }
    .page-type-article .author.block .name{
        padding: 0;
    }
    .page-type-article .lede.block{
        font-size: var(--font-size-lede);
    }
    .page-type-article main p:not(.author-bio.block p, .additional-reading.block p, .article-picture, .header-tag){
        font-size: 1.4em;
        padding-left: 12.5em;
    }
    .page-type-article .content h2{
        padding-left: 4.4em;
    }
    .page-type-article .content .pull-quote.block{
        font-size: var(--font-size-lede);
        padding: 2em 1.6em 2em 2em;
    }
    .page-type-article .content ul{
        font-size: 1.4em;
        padding-left: 12.5em;
    }
    .page-type-article .content li{
        padding-left: 0;
    }
    .page-type-article .content h3{
        font-size: var(--h3-font-size);
        padding-left: 7em;
    }
    .page-type-article .additional-reading.block > div{
        padding-left: 13.7em;
    }
    .page-type-article .additional-reading.block ul{
        font-size: 1em;
    }
    .page-type-article .similar-stories-content{
        max-width: 1269px;
    }
}
@media (max-width: 1280px) and (min-width: 1025px) {
    .page-type-article .content{
        background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 1040px,rgba(255,255,255, 1) 1040px);
    }
    .page-type-article .similar-stories-content{
        width: 1024px;
    }
}
@media (max-width: 1024px) and (min-width:769px) {
    .page-type-article .content{
        background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 990px,rgba(255,255,255, 1) 990px);
    }
    .page-type-article .content .header.block h1{
        font-size: 4.7em;
        padding-right: 3em;
    }
    .page-type-article .content .header.block h2{
        padding-left: 3.8em;
    }
    .page-type-article .content .header.block .author-desc h2{
        padding-left: 0;
    }
    .page-type-article .author-bio.block .author-info{
        width: 56%;
    }
    .page-type-article .similar-stories-content{
        width: 925px;
    }
    
    
}
@media (max-width: 768px) and (min-width:426px) {
.page-type-article #global-background{
        top: -850px;
    }
    .page-type-article .content{
        background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 740px,rgba(255,255,255, 1) 740px);
    }
    .page-type-article main p:not(.author-bio.block p, .additional-reading.block p, .article-picture, .header-tag){
        padding-left: 6.5em;
    }
    .page-type-article .header-tag{
        margin-left: 5.2em;
    }
    .page-type-article .content .header.block h1{
        font-size: 3.3em;
        padding-right: 3em;
    }
    .page-type-article .content .header.block h2{
        font-size: 1.2em;
        padding-left: 3.1em;
        padding-right: 1em;
    }
    .page-type-article .content .header.block .author-desc h2{
        padding-left: 0;
    }
    .page-type-article .author-image{
        width: 3.5em;
    }
    .page-type-article .content .lede.block{
        padding: 0;
        padding-bottom: 3em;
    }
    .page-type-article p:not(.article-picture) + .article-picture{
        margin-top: 2em;
        padding-bottom: 2em;
    }
    .page-type-article p + p + .pull-quote.block{
        padding-right: 0;
    }
    .page-type-article .content h2{
        padding-left: 2.1em;
    }
    .page-type-article .content .article-picture{
        padding-right: 0;
    }
    .page-type-article .content h3{
        padding: 0 0 0 3.5em;
        margin: 1em 0 0 0;
    }
    .page-type-article main p{
        /* padding-left: 6.5em; */
    }
    .page-type-article .pull-quote.block{
        padding-left: 1em;
    }
    body > main > div > div > div:nth-child(41) > div > div{

    }
    .page-type-article .content ul{
        padding-left: 6.5em;
    }
    .page-type-article .additional-reading.block > div{
        padding-left: 4.7em;
    }
    .page-type-article .author-bio.block .author-info{
        width: 56%;
    }
    .page-type-article .similar-stories .similar-stories-header{
        font-size: 2em;
    }
    .page-type-article .similar-stories-content{
        width: 96%;
    }

}
@media (max-width: 425px) and (min-width:376px) {
    .page-type-article #global-background{
        top: -990px;
    }
    .page-type-article .content:not(.page-type-article .header.block){
        padding: 1.5em;
        background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 535px,rgba(255,255,255, 1) 535px);
    }
    .page-type-article main p:not(.author-bio.block p, .additional-reading.block p, .article-picture, .header-tag){
        padding: 0
    }
    .page-type-article .header.block{
        padding-bottom: 4em;
    }
    .page-type-article .header-tag{
        margin-left: 0;
    }
    .page-type-article .content .header.block h1{
        font-size:3em;
        padding-right: 1em;
        padding-left: 0;
    }
    .page-type-article .content .header.block h2{
        font-size: 1.2em;
        padding-left: 0;
        padding-right: 2em;
    }
    .page-type-article .content .header.block .author-desc h2{
        padding-left: 0;
    }
    .page-type-article .art{
        display: block;
        text-align: end;
        padding: 1em 3em 0 0;
        margin: 0;
    }
    .page-type-article .author-image{
        width: 2.8em;
    }
    .page-type-article .content .lede.block{
        font-size: 1.4em;
        padding: 0;
        padding-bottom: 3em;
    }
    .page-type-article p:not(.article-picture) + .article-picture{
        margin-top: 2em;
    }
    .page-type-article .content h2{
        padding: 0;
        font-size: 2.5em;
    }
    .page-type-article .content h3{
        padding: 0;
        margin: 1em 0 0 0;
    }
    .page-type-article .content p{
        padding: 0;
    }
    .page-type-article .pull-quote.block{
        font-size: 1.4em;
        padding: 0;
    }
    .page-type-article p + p + .pull-quote.block{
        padding: 0;
    }
    body > main > div > div > div:nth-child(41) > div > div{
        padding: 0;
    }
    .page-type-article .content .caption{
        padding: 0;
        margin: 0;
    }

    .page-type-article .content ul{
        padding: 0;
    }
    .page-type-article .content li{
        padding: 0;
        padding-bottom: 1em;
    }
    .page-type-article .additional-reading.block{
        padding: 0;
    }
    .page-type-article .additional-reading.block > div{
        padding: 0;
    }
    .page-type-article .author-bio.block{
        padding: 1em;
    }
    .page-type-article .author-bio > div{
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        padding: 1em;
        margin: 0;
    }
    .page-type-article .author-info{
        text-align: center;
        margin-left: 0em;
    }
    .page-type-article .content p:not(.article-picture){
        padding: 0;
    }
    .page-type-article author-name{
        padding: 0;
    }
    .page-type-article .similar-stories .similar-stories-header{
        font-size: 2em;
    }
    
}
@media (max-width: 375px) and (min-width:321px) {
    .page-type-article #global-background{
        top: -1000px;
    }
    .page-type-article .content:not(.page-type-article .header.block){
        padding: 1.5em;
        background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 490px,rgba(255,255,255, 1) 490px);
    }
    .page-type-article main p:not(.author-bio.block p, .additional-reading.block p, .article-picture, .header-tag){
        padding: 0
    }
    .page-type-article .header.block{
        padding-bottom: 4em;
    }
    .page-type-article .header-tag{
        margin-left: 0;
    }
    .page-type-article .content .header.block h1{
        font-size:2.6em;
        padding-right: 1em;
        padding-left: 0;
    }
    .page-type-article .content .header.block h2{
        font-size: 1.2em;
        padding-left: 0em;
        padding-right: 0;
    }
    .page-type-article .art{
        display: block;
        text-align: end;
        padding: 1em 3em 0 0;
        margin: 0;
    }
    .page-type-article .author-image{
        width: 2.5em;
    }
    .page-type-article .content .lede.block{
        font-size: 1.4em;
        padding: 0;
        padding-bottom: 3em;
    }
    .page-type-article p:not(.article-picture) + .article-picture{
        margin-top: 2em;
    }
    .page-type-article .content h2{
        padding: 0;
        font-size: 2.5em;
    }
    .page-type-article .content h3{
        padding: 0;
        margin: 1em 0 0 0;
    }
    .page-type-article .content p{
        padding: 0;
    }
    .page-type-article .pull-quote.block{
        font-size: 1.4em;
        padding: 0;
    }
    .page-type-article p + p + .pull-quote.block{
        padding: 0;
    }
    body > main > div > div > div:nth-child(41) > div > div{
        padding: 0;
    }
    .page-type-article .content .caption{
        padding: 0;
        margin: 0;
    }
    .page-type-article .content ul{
        padding: 0;
    }
    .page-type-article .content li{
        padding: 0;
        padding-bottom: 1em;
    }
    .page-type-article .additional-reading.block{
        padding: 0;
    }
    .page-type-article .additional-reading.block > div{
        padding: 0;
    }
    .page-type-article .author-bio.block{
        padding: 1em;
    }
    .page-type-article .author-bio > div{
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        padding: 1em;
        margin: 0;
    }
    .page-type-article .author-info{
        text-align: center;
        margin-left: 0em;
    }
    .page-type-article .content p:not(.article-picture){
        padding: 0;
    }
    .page-type-article author-name{
        padding: 0;
    }
    .page-type-article .similar-stories .similar-stories-header{
        font-size: 2em;
    }
}
@media (max-width: 320px) and (min-width:0px) {
    .page-type-article #global-background{
        top: -1050px;
    }
    .page-type-article .content:not(.page-type-article .header.block){
        padding: 1.5em;
        background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 450px,rgba(255,255,255, 1) 450px);
    }
    .page-type-article main p:not(.author-bio.block p, .additional-reading.block p, .article-picture, .header-tag){
        padding: 0
    }
    .page-type-article .header-tag{
        margin-left: 0;
    }
    .page-type-article .header.block{
        padding-bottom: 4em;
    }
    .page-type-article .content .header.block h1{
        font-size:2.3em;
        padding-right: 1em;
        padding-left: 0;
    }
    .page-type-article .content .header.block h2{
        font-size: 1em;
        padding: 0 0 3em 0 ;
    }
    .page-type-article .content .header.block .author-desc h2{
        padding-top: .5em;
        padding-left: 0;
        padding: 0 1em 1em 0  ;
    }
    .page-type-article .art{
        display: block;
        text-align: end;
        padding: 1em 1em 0 0;
        margin: 0;
    }
    .page-type-article .author-image{
        width: 2.5em;
    }
    .page-type-article .content .header.block .author-desc h2{
        padding-bottom: 0;
        padding-left: 0;
    }
    .page-type-article .content .lede.block{
        font-size: 1.4em;
        padding: 0;
        padding-bottom: 3em;
    }
    .page-type-article p:not(.article-picture) + .article-picture{
        margin-top: 2em;
    }
    .page-type-article .content h2{
        padding: 0;
        font-size: 2.5em;
    }
    .page-type-article .content h3{
        margin: 1em 0 0 0;
        padding: 0;
    }
    .page-type-article .content p{
        padding: 0;
    }
    .page-type-article .pull-quote.block{
        font-size: 1.4em;
        padding: 0;
    }
    .page-type-article p + p + .pull-quote.block{
        padding: 0;
    }
    body > main > div > div > div:nth-child(41) > div > div{
        padding: 0;
    }
    .page-type-article .content .caption{
        padding: 0;
        margin: 0;
    }
    .page-type-article .content ul{
        padding: 0;
    }
    .page-type-article .content li{
        padding: 0;
        padding-bottom: 1em;
    }
    .page-type-article .additional-reading.block{
        padding: 0;
    }
    .page-type-article .additional-reading.block > div{
        padding: 0;
    }
    .page-type-article .author-bio.block{
        padding: 1em;
    }
    .page-type-article .author-bio > div{
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        padding: 1em;
        margin: 0;
    }
    .page-type-article .author-info{
        text-align: center;
        margin-left: 0em;
    }
    .page-type-article .content p:not(.article-picture){
        padding: 0;
    }
    .page-type-article author-name{
        padding: 0;
    }
    .page-type-article .similar-stories .similar-stories-header{
        font-size: 2em;
    }

}

.page-type-article .content .pull-quote.block p{
    padding: 0;
}
.page-type-article .caption{
    margin: 0;
}



/* #who-should-you-whiteboard-with{
    padding-right: 6em;
}
body > main > div > div > p:nth-child(13){
    padding-top: 4em;
}
body > main > div > div > p:nth-child(27){
    padding-bottom: 6em;
}
body > main > div > div > p:nth-child(16){
    padding-bottom: 4em;
} */





/* @media (max-width: 767px) {
    .author-bio {
        height: 25em;
    }
    .author-bio .author-name {
        width: 80%;
    }
    .author-bio .author-image {
        border: 1px solid black;
    }
    .author-bio .author-bio > div {
        margin: 0 12% 5em 12%;
        flex-direction: column;
    }
    .author-bio .author-info {
        padding-top: 1em;
        margin-left: 0;
        text-align: center;
    }
    .author-bio .author-info > p:nth-child(1) {
        font-weight: bold;
        font-size: 1.5em;
        margin-bottom: 1em;
    }
    .author-bio .author-info > p:nth-child(3) {
        margin-top: 2em;
    }

    .similar-stories .stories{
        flex-direction: column;
    }
    .similar-stories .stories .block.story a > .story-text > * {
        padding-left: 1rem;
    }
} */
/** END AUTHOR BIO */






/* @media (max-width:425px) and (min-width: 376px){
    /* header */
    /* .page-type-article .header.block{
        padding-bottom: 0;
    }
    .page-type-article .content:not(.page-type-article .header.block){
        padding: 1em;
    }
    .page-type-article .content .header.block h1{
        padding: 0;
        font-size: 2.7em;
    }
    .page-type-article .header.block h2{
        padding: 0;
    }
    .page-type-article .header.block img:not(.author-image){
        padding-bottom: 1em;
    }

    .page-type-article .header .author-body{
        padding-bottom: 3em;
    }  */
    /* header */

    /* main */
    /* .page-type-article main{
        width: 90%;
    }
    .page-type-article .content{
        padding-left: 1rem;
        padding-right: 1rem;
        background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 570px,rgba(255,255,255, 1) 570px);
    }
    .page-type-article .header.block > div{
        padding: 0;
        width: 100%;
    }
    .page-type-article .content .pull-quote.block{
        padding: 0;
        font-size: 1.7em;
    }
    .page-type-article .content .article-picture{
        width: 100%;
        padding: 0;
    }
    .page-type-article .content h2{
        padding: 0;
    }
    .page-type-article .content p{
        padding: 0;
    }
    .page-type-article .caption{
        margin: 0;
        padding: 0;
    }
    .page-type-article .content ul{
        padding: 0;
    }
    .page-type-article .content li{
        padding: 0;
        padding-bottom: 1em;
        font-family: var(--sans-serif-font);
        font-weight: var(--weight-regular);
    }   
    .page-type-article .additional-reading.block{
        width: auto;
        padding: 0;
    }
    .page-type-article .additional-reading.block > div{
        padding-left: 0;
    } */
    /* main */

    /* authod bio block */
    /* .page-type-article .author-bio.block{
        height: auto;
        padding: 1em;
    }
    .page-type-article .author-bio > div{
        margin: 0;
    }
    .page-type-article .author-bio.block p{
        padding: 0;
    } */
    /* authod bio block */
/* }    */
/* @media (max-width: 375px) and (min-width:321px){
    .page-type-article .content .header.block h1{
        font-size: 2.3em;
    }
    .page-type-article .content .header.block h2{
        font-size: 1.5em;
    }
}
@media (max-width: 320){
    .page-type-article .content .header.block h1{
        font-size: 1em;
    }
    .page-type-article .content .header.block h2{
        font-size: 1.5em;
    }
} */

/* @media (min-width: 426px) and (max-width: 767px){
    .page-type-article .content{
        background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 730px,rgba(255,255,255, 1) 730px);
    }
    .page-type-article .content .header.block h1{
        padding: 0;
        font-size: 1em;
    }
    .page-type-article .header.block h2{
        padding: 0;
    }
    .page-type-article main > div > div > p{
        padding-left: 2em;
        padding-right: 1em;
    }
    .page-type-article .author-bio.block > div{
        margin: 0 6% 5em 6%;
    }
    .similar-stories .stories .block.story a > .story-text > * {
        padding-left: 1rem;
    }
} 

/* @media (min-width:768px) and (max-width:1024px){
    .page-type-article main{
       width: 90%;
    }
    .page-type-article .content .header.block h1{
        font-size: 4em;
    }
    .page-type-article .content h2{
        padding-left: 4.4em;
    }
    .page-type-article main > div > div > p{
        padding-left: 9em;
        padding-right: 0;
    }
    .page-type-article .content .pull-quote.block{
        padding: 0;
    }
    .page-type-article .content li{
        padding-right: 0;
        padding-left: 7em;
    }
    .page-type-article .author-bio.block > div{
        margin: 0 10% 5em 10%;
    }

    .similar-stories .stories .block.story a > .story-text > * {
        padding-left: 3rem;
    }
    .page-type-article .additional-reading.block > div{
        padding-left: 10.3em;
    }
}
*/