.page-type-article .header-image{
    display: flex;
}


:root{
    --h1-font-size: 5em;
    --h2-font-size: 3em;
    --p-font-size: 1.5em;
    --li-font-size: 1.5em;
}

.page-type-article main{
    width: 98vw;
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}

.page-type-article  {
    font-size:16px;
}
.page-type-article .content{
    display: grid;
    grid-template-columns: 100%;
    padding-top:140px;
    padding-bottom: 5em;
    background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 1000px,rgba(255,255,255, 1) 1000px);
}
.page-type-article .content:not(.page-type-article .header.block) {
    padding-left: 5rem;
    padding-right: 3rem;
}

.page-type-article .content .block{
    width: auto
}

.page-type-article .content p {
    text-align:left;
    font-size:var(--p-font-size);
    line-height:1.5em;

}

.page-type-article h1{
    text-align: left;
    margin: unset;
    font-size: var(--h1-font-size);
    font-weight: 500;
    padding-left: 1em;
    padding-right: 2em;
}
.page-type-article .header.block h2{
    text-align: left;
    padding: 0 7em 1em 3em;
    font-size: 2em;
}

.page-type-article .content h2{
    font-size: var(--h2-font-size);
    padding-top: 1em;
    text-align: center;
    font-weight: normal;

}

.page-type-article .header >div{
    display: grid;
    grid-template-rows: auto auto;
}
body > main > div > div > div.header.block > div > div:nth-child(1){
    grid-row-start: 2;
}

.header.block > div{
    width: 100%;
    height: 75%;
}

.page-type-article main > div > div > p {
    font-size: 1.5em;
    text-align: left;
    padding-left: 11em;
    padding-right: 4em;
}

.page-type-article .article-picture{
    padding: 4em 0;
}

.page-type-article main img{
    width: 100%;
}

.page-type-article .header.block{
     width: 80%;
    color: black;
    padding-top: 5em;
    padding-bottom: 15em;
    /* padding-left: 5em; */
}
.page-type-article .lede.block{
    font-size: 2em;
}

body > main > div > div.content > picture > img{
    padding-bottom: 5em;
}

.page-type-article .additional-reading.block > div > div{
    text-align: right;

}
.page-type-article .content ul{
    list-style: none;
    text-align: left;
}
#a-few-good-books{
    padding: 0;
    text-align: left;
}
.page-type-article .additional-reading.block ul{
    padding: 0;
}
.page-type-article .content li{
    line-height: 1.5;
    padding-bottom: 1em;
    font-size: var(--li-font-size);
}
.page-type-article .additional-reading.block p{
    grid-column-start: 2;
    margin-top: 0;
}
.page-type-article .additional-reading.block a{
    font-weight: 600;
    font-size: .8em;
    text-decoration: none;
    color: black;
}

.additional-reading.block{
    font-size: 1.2em;
}

.additional-reading.block{
    width: 100%;
    padding: 1em;
}


/** AUTHOR BIO */

.author-bio {
    background: #F5F5F5;
    height: 30em;
    display: flex;
    align-items: center;
}

.author-bio > div {
    display: flex;
    margin: 0 25% 5em 25%;
    align-items: center;
}

.author-image {
    width: 6em;
}

.author-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%
}

.author-info {
    margin-left: 7em;
}

.author-info > p:nth-child(1) {
    margin-bottom: 2em;
}

.author-info > p:nth-child(3) {
    margin-top: 8em;
}

.author-bio .author-title {
    font-size: clamp(5px, 6vw, 12px);
}

.author-bio .name {
    font-size: clamp(20px, 5vw, 25px);
    margin: 0;
}

@media (max-width: 767px) {
    .author-bio {
        height: 25em;
    }

    .author-name {
        width: 80%;
    }

    .author-image {
        border: 1px solid black;
    }

    .author-bio > div {
        margin: 0 12% 5em 12%;
        flex-direction: column;
    }

    .author-info {
        padding-top: 1em;
        margin-left: 0;
        text-align: center;
    }

    .author-info > p:nth-child(1) {
        font-weight: bold;
        font-size: 1.5em;
        margin-bottom: 1em;
    }

    .author-info > p:nth-child(3) {
        margin-top: 2em;
    }
}

/** END AUTHOR BIO */



@media (min-width:768px) and (max-width:1024px){
    .page-type-article main{
        width: 90%;
    }

}

@media (min-width: 375px) and (max-width: 425px){

    .page-type-article main{
        width: 90%;
    }
    .page-type-article main > div > div > p {
        font-size: 1.5em;
        text-align: left;
    }
}
@media (min-width:320px) and (max-width:425px){

    /* header */

    .page-type-article .header.block{
        padding: 1em;
        width: 100%;
    }
    /* header */

    /* main */

    .page-type-article .header.block > div{
        padding: 0;
        width: 100%;
    }
    body > main > div > div.content > picture > img{
        bottom: 10em;
    }
    .page-type-article .header.block  h1{
       font-size: 4em;
    }
    body > main > div > div.content > picture > img{
        padding-bottom: 0;
    }

    .page-type-article .chapter-heading {
        text-align: left;
        font-weight: normal;
        padding-right: 0;
    }

    .page-type-article .content{
        background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 300px,rgba(255,255,255, 1) 300px);
    }
    .page-type-article .chapters.block .chapter{
    grid-template-columns: auto;
    justify-items: center;

    }
    .page-type-article .chapter-heading{
        text-align: start;
        padding-bottom: 1em;
    }
    .page-type-article .additional-reading.block{
        width: auto;
        padding: 0;
    }

    .page-type-article .content{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    /* main */
}

@media (min-width: 426px) and (max-width: 768px){
    .page-type-article .content{
        background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 400px,rgba(255,255,255, 1) 400px);

    }
}