.page-type-article .header-image{
    display: flex;
}

:root{
    --h1-font-size: 5em;
    --h2-font-size: 3em;
    --p-font-size: 1.5em;
    --li-font-size: 1.5em;
}

.page-type-article  {
    font-size:16px;
}
.page-type-article .content{
    padding-top:140px;
    padding-bottom: 5em;
    background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 1000px,rgba(255,255,255, 1) 1000px);
}
.page-type-article .content:not(.page-type-article .header.block) {
    padding-left: 5rem;
    padding-right: 5rem;
}
.page-type-article .content .block{
    width: auto
}
.page-type-article .content p {
    text-align:left;
    font-size:var(--p-font-size);
    line-height:1.5em;
}
.page-type-article h1{
    text-align: left;
    margin: unset;
    font-size: var(--h1-font-size);
    font-weight: 500;
    padding-left: 1em;
    padding-right: 2em;
}
.page-type-article .header.block h2{
    text-align: left;
    padding: 0 7em 1em 3em;
    font-size: 2em;
}
.page-type-article .content h2{
    font-size: var(--h2-font-size);
    padding-top: 1em;
    padding-left: 5.5em;
    font-weight: normal;

}
.page-type-article .header >div{
    display: flex;
    flex-direction: column;
    overflow:hidden;
}
body > main > div > div > div.header.block > div > div:nth-child(1){
    order: 2;
}

.header.block > div{
    width: 100%;
    height: 75%;
}
.page-type-article main p {
    font-size: 1.5em;
    text-align: left;
    padding-left: 11em;
    padding-right: 0;
}
.page-type-article .content li{
    padding-left: 9.4em;
    padding-right: 4em;
    padding-bottom: 1em;
    font-size: var(--li-font-size);
}
.page-type-article .article-picture{
    padding: 0;
    margin: 0;
}
.page-type-article .content p.article-picture{
    line-height: 0;

}
.page-type-article main img{
    width: 100%;
}
.page-type-article .header.block{
     /* width: 80%; */
    color: black;
    padding-top: 5em;
    padding-bottom: 13em;
    /* padding-left: 5em; */
}
.page-type-article .pull-quote.block{
    font-size: 2em;
    color: #FF7D4F;
    font-weight: lighter;
    justify-items: center;
    padding: 2em 3em;
}
/* first pull-quote */
/* body > main > div > div > div:nth-child(2) > div > div{
    color: black;
} */
.page-type-article .content div:nth-child(3){
    padding: 0;
    padding-bottom: 1em;
}
body > main > div > div > div:nth-child(3) > div > div{
    color: black;
    justify-items: center;
    padding: 0;
}
body > main > div > div.content > picture > img{
    padding-bottom: 5em;
}
.page-type-article .content ul{
    list-style: none;
    text-align: left;
}

.page-type-article .additional-reading.block > div{
    display:flex;
    flex-direction: column;
    padding-left: 12em;
}
.page-type-article .additional-reading.block h2{
    padding: 0;
    text-align: left;
}
.page-type-article .additional-reading.block p{
    padding-left: 0;
    font-size: var(--p-font-size);
}
.page-type-article .additional-reading.block ul{
    padding: 0;
}
.page-type-article .additional-reading.block li{
    line-height: 1.5;
    padding: 0.5rem 0;
    font-size: 1em;
}
.page-type-article .additional-reading.block p{
    grid-column-start: 2;
    margin-top: 0;
}
.page-type-article .additional-reading.block a{
    text-decoration: none;
    color: black;
}

.additional-reading.block{
    font-size: 1.2em;
}

.additional-reading.block{
    width: 100%;
    padding: 1em;
}


/** AUTHOR BIO */

.author-bio {
    background: #F5F5F5;
    height: 30em;
    display: flex;
    align-items: center;
}

.author-bio > div {
    display: flex;
    margin: 0 25% 5em 25%;
    align-items: center;
}

.author-image {
    width: 6em;
}

.author-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%
}

.author-info {
    margin-left: 7em;
}

.author-info > p:nth-child(1) {
    margin-bottom: 2em;
}

.author-info > p:nth-child(3) {
    margin-top: 8em;
}
.author-bio .author-title {
    font-size: clamp(5px, 6vw, 12px);
}
.author-bio .name {
    font-size: clamp(20px, 5vw, 25px);
    margin: 0;
}

.similar-stories{
    background-color: var(--bkg-navy-dark);
    padding: 2rem 0 4rem 0;
}

.similar-stories-content{
    max-width: 1280px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.similar-stories .similar-stories-header{
    font-weight: var(--weight-regular);
    font-size: 2.5rem;
    padding-bottom: 3rem;
    color: white;
}

.similar-stories .stories{
    display: flex;
    gap: 1em;
    justify-content: space-between;
    box-sizing: border-box;
    
    align-items: center;
}

.similar-stories .stories .block.story a{
    color: white;
    
    text-decoration: none;
}

.similar-stories .stories .block.story a > .story-text > * {
    padding-left: 5rem;
    margin: unset;
}

.similar-stories .stories .block.story a > .story-text > .story-header{
    font-weight: var(--weight-regular);
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.similar-stories .stories .block.story a > .story-text > h3{
    font-weight: var(--weight-regular);
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.similar-stories .stories .block.story a > .story-text > .author{
    font-weight: var(--weight-bold);
}
.similar-stories .stories .block.story a > .story-text > .position{
    margin-bottom: 1em;
    font-size: 0.8rem;
}
.similar-stories .stories .block.story .image{
    position: relative;
}

.similar-stories .stories .block.story .image p{
    position: absolute;
    text-decoration: underline 3px;
    text-underline-offset: 3px;
    top: 1.5rem;
    left: 1.5rem;
    margin: unset;
    color: black;
}

.similar-stories .stories .block.story .image picture img{
    width: 100%;
}

@media (max-width: 767px) {
    .author-bio {
        height: 25em;
    }
    .author-name {
        width: 80%;
    }
    .author-image {
        border: 1px solid black;
    }
    .author-bio > div {
        margin: 0 12% 5em 12%;
        flex-direction: column;
    }
    .author-info {
        padding-top: 1em;
        margin-left: 0;
        text-align: center;
    }
    .author-info > p:nth-child(1) {
        font-weight: bold;
        font-size: 1.5em;
        margin-bottom: 1em;
    }
    .author-info > p:nth-child(3) {
        margin-top: 2em;
    }

    .similar-stories .stories{
        flex-direction: column;
    }
    .similar-stories .stories .block.story a > .story-text > * {
        padding-left: 1rem;
    }
}
/** END AUTHOR BIO */






@media (max-width:425px){
    /* header */
    .page-type-article .header.block{
        padding-bottom: 0;
    }
    .page-type-article .content:not(.page-type-article .header.block){
        padding: 1em;
    }
    .page-type-article .header.block h1{
        padding: 0;
        font-size: 4em;
    }
    .page-type-article .header.block h2{
        padding: 0;
    }
    .page-type-article .header.block img{
        padding-bottom: 5em;
    }
    /* header */

    /* main */
    .page-type-article main{
        width: 90%;
    }
    .page-type-article .content{
        padding-left: 1rem;
        padding-right: 1rem;
        background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 570px,rgba(255,255,255, 1) 570px);
    }
    .page-type-article .header.block > div{
        padding: 0;
        width: 100%;
    }
    .page-type-article .content .pull-quote.block{
        padding: 0;
    }
    .page-type-article .content .article-picture{
        width: 100%;
        padding: 0;
    }
    .page-type-article .content h2{
        padding: 0;
    }
    .page-type-article main > div > div > p{
        padding: 0;
    }
    /* .page-type-article .lede.block{
        margin: 0;
        padding: 0;
        font-size: 2em;
    } */
    .page-type-article .caption{
        margin: 0;
        padding: 0;
    }
    .page-type-article .content ul{
        padding: 0;
    }
    .page-type-article .content li{
        padding: 0;
        padding-bottom: 1em;
    }   
    .page-type-article .additional-reading.block{
        width: auto;
        padding: 0;
    }
    .page-type-article .additional-reading.block > div{
        padding-left: 0;
    }
    /* main */

    /* authod bio block */
    .page-type-article .author-bio.block{
        height: auto;
        padding: 1em;
    }
    .page-type-article .author-bio > div{
        margin: 0;
    }
    .page-type-article .author-bio.block p{
        padding: 0;
    }
    /* authod bio block */
}   

@media (min-width: 426px) and (max-width: 768px){
    .page-type-article .content{
        background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 730px,rgba(255,255,255, 1) 730px);
    }
    .page-type-article .header.block h1{
        padding: 0;
    }
    .page-type-article .header.block h2{
        padding: 0;
    }
    .page-type-article main > div > div > p{
        padding-left: 2em;
        padding-right: 1em;
    }
    .page-type-article .author-bio.block > div{
        margin: 0 6% 5em 6%;
    }
    .similar-stories .stories .block.story a > .story-text > * {
        padding-left: 1rem;
    }
}

@media (min-width:768px) and (max-width:1024px){
    .page-type-article main{
       width: 90%;
    }
    /* .page-type-article .content .lede.block{
        padding-right: 0;
        padding-right: 1em;
    } */
    .page-type-article .content h2{
        padding-left: 4.4em;
    }
    .page-type-article main > div > div > p{
        padding-left: 9em;
        padding-right: 0;
    }
    .page-type-article .content .pull-quote.block{
        padding: 0;
    }
    .page-type-article .content li{
        padding-right: 0;
        padding-left: 7.4;
    }
    .page-type-article .author-bio.block > div{
        margin: 0 10% 5em 10%;
    }

    .similar-stories .stories .block.story a > .story-text > * {
        padding-left: 3rem;
    }
}