.cmp-stats {
  background-color: var(--color-base-lighter-black);
  color: var(--color-base-light-rose);
  margin: 0 auto;
}

.cmp-stats__item {
  margin-bottom: 5em;
}

.cmp-stats__item:last-of-type {
  margin-bottom: 0;
}

.cmp-stats__slash {
  display: none;
}

.cmp-stats__item-number {
  --stats-number-font-size: var(--font-size-4000);

  font-family: var(--font-stack-serif);
  font-size: var(--stats-number-font-size);
  line-height: 1;
  margin: 0;
  padding: 0;
}

.cmp-stats__item-description {
  --stats-description-font-size: var(--font-size-650);

  font-family: var(--font-stack-serif);
  font-size: var(--stats-description-font-size);
  line-height: 1;
  margin: 0;
  padding: 0;
}

.stats-horizontal-container {
  background-color: var(--color-base-lighter-black);
  margin: 0 auto;
  max-width: var(--layout-max-width-desktop);
  padding: 7.125rem 4rem;
  width: var(--content-width);
}

.team .stats-horizontal-container {
  padding: 7.125rem 15% 7.125rem 17%;
}

.team .cmp-stats,
.stories .cmp-stats,
.toolkit .cmp-stats,
.cards-container .cmp-stats {
  padding: 7.125rem 0 0;
}

.stats-horizontal-container a {
  text-decoration: underline;
  text-transform: uppercase;
}

.stats-horizontal-container a,
.stats-horizontal-container h2,
.stats-horizontal-container a:hover,
.stats-horizontal-container a:focus {
  color: var(--color-base-light-rose);  
}

.stats-horizontal-container a:hover,
.stats-horizontal-container a:focus {
  text-decoration: none;
}

.stats-horizontal-container h2{
  --stats-title-font-size: var(--font-size-800);

  font-family: var(--font-stack-sans);
  font-size: var(--stats-title-font-size);
  font-weight: var(--font-weight-black);
  line-height: 1.1;
  margin-bottom: 2rem;
  padding-right: 3rem;
}

@media (min-width: 900px) {
  .stats-horizontal-container,
  .team .stats-horizontal-container {
    padding: 7.125rem 0;
  }

  .stats-horizontal-container > div {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    column-gap: 12px;
  }

  .stats-horizontal-container > div > h2,
  .stats-horizontal-container > div > p {
    grid-column: 2 / -2;
  }

  .stats-horizontal-container > div > div {
    grid-column: 2 / -2;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .home .cmp-stats-parent {
    display: block;
  }

  .cmp-stats {
    display: flex;
    justify-content: space-evenly;
  }

  .cmp-stats__item {
    margin-bottom: 0;
  }
  
  .cmp-stats__slash {
    display: block;
    margin: 10px;
    height: 6.5em;
  }

  .cmp-stats__slash svg {
    height: 100%;
  }

  .cmp-stats__item-number {
    text-align: center;
  }
  
   .cmp-stats__item-description {
    text-align: center;
  }

  .home .cmp-stats {
    background-color: var(--color-base-tan);
    color: var(--color-base-dark-slate);
    display: block;
    padding: 0;
    margin: 0;
  }
  
  .stats-horizontal-container h2 {
    --stats-title-font-size: var(--font-size-1075);
  }
}

@media (min-width: 1300px) {
  .stats-horizontal-container > div {
    grid-template-columns: repeat(16, [col-start] 1fr);
  }

  .stats-horizontal-container h2 {
    --stats-title-font-size: 6.25rem;
  }

  .stats-horizontal-container > div > h2,
  .stats-horizontal-container > div > p {
    grid-column: 3 / -3;
  }

}
