.about-adobe-design{
    width: 100%;
    background: var(--bkg-red);
    color: white;
    font-family: var(--serif-font);
}

.about-adobe-design > div{
    padding: 4.39em 8.33em 7em 8.33em; /* 150px 256px 216px 256px*/
    box-sizing: border-box;
    margin: auto;
    max-width: 62.5em;
}

.about-adobe-design > div h2,
.about-adobe-design > div p{
    width: 100%;
    max-width: 45.8632em;
}

.about-adobe-design > div h2{
    font-weight: var(--weight-regular);
    font-size: 1.33em; /* 40px */
    margin-block: 0em 3.68em; /* 0 ~147px */
}
.about-adobe-design > div p{
    font-size: 2em; /* 61px */
    line-height: 1.75em;
    margin-block: 2.4em  0em; /* ~147px 0 */
}

@media screen and (max-width: 900px) {
    .about-adobe-design > div{
        padding: 4em 3em 6em 3em;
    }
}