.about-adobe-design{
    width: 100%;
    background: var(--bkg-red);
    color: white;
    font-family: var(--serif-font);
}

.about-adobe-design > div{
    padding: 4.39em 8.33em 7em 8.33em; /* 150px 256px 216px 256px*/
    box-sizing: border-box;
    margin: auto;
    max-width: 62.5em;
}

.about-adobe-design > div h2,
.about-adobe-design > div p{
    width: 100%;
    max-width: 45.8632em;
}

.about-adobe-design > div h2{
    font-weight: var(--weight-regular);
    font-size: 1.33em; /* 40px */
    margin-block: 0em 3.68em; /* 0 ~147px */
}
.about-adobe-design > div p{
    font-size: 2em; /* 61px */
    line-height: 1.75em;
    margin-block: 2.4em  0em; /* ~147px 0 */
}

@media screen and (max-width: 900px) {
    .about-adobe-design > div{
        padding: 4em 3em 6em 3em;
    }
}

.job-post .about-adobe-design{
    font-size: 1.56em;
}
.job-post .eq-op-policy-stmnt{
    font-size: 1.0625em;
}
@media screen and (min-width: 414px) and (max-width: 1300px) {
    .job-post .about-adobe-design h2{
        font-size: 1.56em;
    }
    .job-post .about-adobe-design p{
        font-size: 1.0625em;
    }
}

.about-adobe-design{
    font-size: 1.6vw;
    max-height: 95em;
}





.eq-op-policy-stmnt{
    font-size: 30.7px;
    width: 100%;
    background: white;
    color: var(--text-dark);
}

@media screen and (max-width:1000px) {
    .eq-op-policy-stmnt{
        font-size: 16px;
    }
}

@media screen and (min-width:1000px) {
    .eq-op-policy-stmnt{
        font-size: 1.6vw;
    }
}

@media screen and (min-width:1920px) {
    .eq-op-policy-stmnt{
        font-size: 30.7px;
    }
}

.eq-op-policy-stmnt > div{
    box-sizing: border-box;
    max-width: 62.5em;
    margin: auto;
    padding: 3.4em 4.5em 3.1em 8.7em; /* 104px 138px 94px 268px*/
}

@media screen and (max-width: 1200px) {
    .eq-op-policy-stmnt > div{
        padding: 3.4em 3em; /* 42px */
    }
}

.eq-op-policy-stmnt > div p{
    font-size: 0.75em; /* 12px */
    line-height: 1.67em; /* = 20px; 12px based */
    margin-block: 1.5em; /* Should be 18px between paragraphs ( 12 * 1.5 = 18 ) */
}

