.about-adobe-design{
    width: 100%;
    background: var(--bkg-red);
    border: 2px solid black;
    color: white;
}

.about-adobe-design .about-container{
    padding: 5.875em 7.5em 12.5em 7.5em; /* 94px 120px 200px 120px*/
    box-sizing: border-box;
    height: fit-content;
    width: fit-content;
    max-width: 1000px;
    margin: auto;
    font-family: var(--serif-font);
}

.about-adobe-design .about-header{
    font-size: 1.375em; /* 22px */
    margin-block: 0em 3.625em; /* 0 80px */
}
.about-adobe-design .about-text{
    font-size: 2em; /* 32px */
    line-height: 1.75em;
    margin-block: 2.5em  0em; /* 80px 0 */
}

@media screen and (max-width: 600px) {
    .about-adobe-design .about-container{
        font-size: 10px;
        padding: 3.5em 3.75em 6.25em 3.75em; /* 94px 120px 200px 120px*/
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    .about-adobe-design{
        font-size: 14px;
    }
}
@media screen and (min-width: 1201px) and (max-width: 1600px) {
    .about-adobe-design{
        font-size: 16px;
    }
}
@media screen and (min-width: 1601px) {
    .about-adobe-design{
        font-size: 18px;
    }
}