.eq-op-policy-stmnt{
    width: 100%;
    background: white;
    color: var(--text-dark);
    height: fit-content;
    font-size: 16px;
    padding: 4em; /* 64px */
}
.eq-op-policy-stmnt .container{
    width: fit-content;
    max-width: 1000px;
    height: fit-content;
    margin: auto;
}

.eq-op-policy-stmnt .container .eq-op{
    font-size: 0.75em; /* 12px */
    line-height: 1.67em; /* = 20px; 12px based */
    margin-block: 1.5em; /* Should be 18px between paragraphs ( 12 * 1.5 = 18 ) */
}

@media screen and (max-width: 600px) {
    .eq-op-policy-stmnt .container{
        font-size: 12px;
        padding: 2em; /* 24px */
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
    .eq-op-policy-stmnt .container{
        font-size: 14px;
        padding: 3em; /* 42px */
    }
}