.eq-op-policy-stmnt{
    font-size: 30.7px;
    width: 100%;
    background: white;
    color: var(--text-dark);
}

@media screen and (max-width:1000px) {
    .eq-op-policy-stmnt{
        font-size: 16px;
    }
}

@media screen and (min-width:1000px) {
    .eq-op-policy-stmnt{
        font-size: 1.6vw;
    }
}

@media screen and (min-width:1920px) {
    .eq-op-policy-stmnt{
        font-size: 30.7px;
    }
}

.eq-op-policy-stmnt > div{
    box-sizing: border-box;
    max-width: 62.5em;
    margin: auto;
    padding: 3.4em 4.5em 3.1em 8.7em; /* 104px 138px 94px 268px*/
}

@media screen and (max-width: 1200px) {
    .eq-op-policy-stmnt > div{
        padding: 3.4em 3em; /* 42px */
    }
}

.eq-op-policy-stmnt > div p{
    font-size: 0.75em; /* 12px */
    line-height: 1.67em; /* = 20px; 12px based */
    margin-block: 1.5em; /* Should be 18px between paragraphs ( 12 * 1.5 = 18 ) */
}

