.job-post .header-block,
.job-post .header-block::after{
    display: grid;
    z-index: -1;
    position: fixed;
    gap: 0px;
    top: 0px;
    left: 0px;
    background-color: var(--bkg-navy-dark);
    /* background-color: #3041a041; */
}
/* SM */
@media screen and (max-width: 1000px) {
    .job-post .header-block{
        font-size: 16px;
        /* grid-template-rows: 1fr 1fr; */
        grid-column: 1 / span 1;
        max-width: 100vw;
        width: 100vw;
    }
    .job-post .header-block .job-header-container{
        max-width: 100vw;
        margin: 2em;
    }
}
/* Med */
@media screen and (min-width: 1000px) {
    .job-post .header-block{
        font-size: 1.6vw;
        /* padding: 5.86em 3.9em 0 0; */
        width: calc(50vw - 5px); /*10px for gutter*/
        max-width: calc(50vw - 5px); /*10px for gutter*/
    }
}
/* XL */
@media screen and (min-width: 1920px) {
    .job-post .header-block{
        font-size: 30.7px;
    }
}

.job-post .header-block{
    padding: 3.45em 0 0 0;  /* 3.45em = 106px -- space for global header  */
}

.job-post .header-block:after{
    content: '';
}

.job-post .header-block  button.unfilled.reg{
    width: max-content;
}

@media screen and (max-width: 640px) {
    .job-post .header-block .job-header-container{
        max-width: 100vw;
        margin-left:  auto;
        margin-right: auto;
    }
    .job-header-container h1,
    .job-post .header-block  button.unfilled.reg{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .job-post .header-block  button.unfilled.reg{
        width: max-content;
        margin: 0 2em 2em 2em; /* 120px */
    }
}

@media screen and (min-width: 640px) and (max-width: 1000px) {
    .job-post .header-block .job-header-container{
        max-width: calc(31.25em - 10px);
        margin-left: 5.6875em;
        margin-right: 5.6875em;
    }
}

@media screen and (min-width: 1000px) {
    .job-post .header-block .job-header-container {
        box-sizing: border-box;
        max-width: calc(31.25em - 10px);
        padding: 0 3.91em 4.5em 4.49em;
        margin: 0 0 0  auto;
    }
}

.job-post .header-block .job-title{
    font-size: 3.91em; /* 120px */
    max-width: 5.83em;
    width: 5.83em;
    line-height: 0.96em; /* 115px */
    font-weight: var(--weight-black);
    color: white;
    margin-top: 2.4em;    /* 276px */
    margin-bottom: 2.4em; /* 276px */
}