/*
 *  Similar Opportunities block should work on any screen:
 *  368 - inf px  wide
 *
 *  1000 -> 16 ||  1.6vw  | 62.5 x 16 = 1000
 *  1920 -> 30.72px -> 1rem
*/

@media screen and (max-width: 1000px) {
    div.similarOpps-block{ font-size: 14px}
    div.similarOpps-block .opp-block{
        max-width: 1000px;
    }
}

@media screen and (min-width: 1001px){
    div.similarOpps-block{
        font-size: 16px;
        font-size: 1.6vw;
    }
    div.similarOpps-block .opp-block{
        max-width: 1920px;
    }
}

@media screen and (min-width: 1921px) {
    div.similarOpps-block{ font-size: 30.7px}
    /* div.similarOpps-block .opp-block{} */
}

.similarOpps-block,
.similarOpps-block .opp-block,
.similarOpps-block div.header-c,
.similarOpps-block div.header-c p.title,
/* Subheader, if 1em = 30.7 */
.similarOpps-block .subhead-a,
.similarOpps-block .psns-container{
    width: 100%;
}

.similarOpps-block{
    background-color: var(--bkg-navy-dark);
    color: white;
    width: 100vw;
    font-family: var(--serif-font);
}

.similarOpps-block .opp-block{
    /* max-width: 1000px; */
    margin: auto;
    padding: 5.2em 0em 7.7em 0em;/* 160px 132px 237px 132px; */
    box-sizing: border-box;
}

@media screen and (min-width: 1000px) {
    .similarOpps-block .opp-block{
        padding: 5.2em 4.3em 7.7em 4.3em;/* 160px 132px 237px 132px; */
    }
}

.similarOpps-block div.header-c p.title,
.similarOpps-block div.header-c .subhead-a{
    margin-block: unset;
    height: fit-content;
    font-family: var(--serif-font);
    font-size: 1.6em;   /* 50px */
    line-height: 1.4em; /* 70px */
    height: 3em;
}

/* .similarOpps-block .psns-container{
    display: grid;
    gap: 0 6em;
    grid-template-columns: repeat(2, 24em);
    grid-template-rows: repeat(auto-fill, 4.69em);
    grid-auto-flow: row dense;
} */

.similarOpps-block .psns-container{
    display: grid;
    grid-auto-flow: row dense;
    grid-template-rows: repeat(auto-fill, 4.69em);
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .similarOpps-block div.header-c,
    .similarOpps-block .psns-container{
        gap: 0em;
        grid-template-columns: 1fr;
        place-items: center;
        width: fit-content;
        margin: auto;
    }
}
@media screen and (min-width: 1001px) {
    .similarOpps-block .psns-container{
        gap: 0 6em; /* = 245px/30.7 */
        /* grid-template-columns: repeat(2, 1fr); */
        grid-template-columns: repeat(2, 24em);
    }
}



.similarOpps-block .psns-container div.job{
    /* border-bottom: 3px solid #ffffff; */
    height: 4.8em; /* = 144px / 30.7 */
    width: 22.6em;
    grid-column: span 1;
    grid-row: span 1;
    display: grid;
    gap: 1.1em 0;
    grid-template-rows: 0.98em 0.5em; /* 30px, 15px*/
    grid-template-columns: 16em 7em; /* 490px, 215px*/
    padding: 1em 0em;
    box-sizing: border-box;
    grid-auto-flow: column;
    align-items: end;
    place-content: space-evenly;
    position: relative;
}
.similarOpps-block .psns-container div.job::after{
    height: 2px;
    width: calc(100% + 8px);
    position: absolute;
    top: 100%;
    left: -4px;
    content: '';
    display: block;
    background-color: #fff;
    border-radius: 1px;
}

/* .similarOpps-block .psns-container div.job div.left,
.similarOpps-block .psns-container div.job div.right{
    width: 100%;
    grid-column: span 1;
    grid-row: span 1;
    padding: 0px;
    height: fit-content;
    grid-template-rows: 1em 0.5em;
    gap: 1em 0em;
    display: grid; */
    /* grid-row: span 1; */
/* } */

.similarOpps-block .department,
.similarOpps-block .city,
.similarOpps-block .title,
.similarOpps-block .sub-title{
    grid-column: span 1;
    grid-row: span 1;
    margin-block: 0px;
    padding-block: 0px;
    padding: 0px;
    align-items: end;
}




.similarOpps-block .title{
    font-size: 1em;
}

.similarOpps-block .sub-title,
.similarOpps-block .department,
.similarOpps-block .city{
    font-size: 0.5em;
}

.similarOpps-block .department,
.similarOpps-block .city{
    text-align: right;
}

