.chapters.block{
    padding-top: 5em;
    width: 100%;
}

.chapters.block .chapter{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-start: 2;
}

.chapter-heading{
    padding-right: 6em;
    padding-bottom: 2em;
}

.chapter-heading h2{
    padding: 0;
    font-size: 3em;
    font-weight:lighter;
    text-align:right;
    margin:0;
}

.chapter-content{
    font-size: 1.2em;
    line-height: 1.5;
}

.chapter-content h3{
    font-size: 2em ;
}

.chapter-content p {
    margin-top: 0;
}

/* @media (min-width:768px) and (max-width:1024px){} */

@media (min-width:425px) and (max-width:768px){
    .page .chapters.block{
        display: flex;
        flex-direction: column;
    }
    .chapter-heading{
        position: static;
    }
}

@media (min-width: 375px) and (max-width: 425px){
    .chapters.block{
        padding: 0;
    }
    .chapter-heading{
        font-size: .9em;
    }
}

@media (min-width:320px) and (max-width:375px){
    .chapters.block{
        display: flex;
        flex-direction: column;
        padding-top: 5em;
    }
    .chapter-heading{
        position: static;
    }
}