@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* above the fold CSS goes here */
body {
    background:#E91D25;
}

.hero-carousel {
    display:block;
    width:100%;
    padding:40px;
    box-sizing: border-box;
}

/* Slides */
.hero-carousel .slide {
    display: flex;
    flex-direction:row;
    justify-content: center;
    width:100%;
    flex-grow: 1;
    flex-basis:0;
    padding:10px;
}

.hero-carousel .image img {
    width: 33vw;
    float: right;
    margin-right: 3em;
}

.profile img {
    width:50vw;
}

.hero-carousel .title {
    color: #F0E8DD;
    font-size: clamp(2rem, 6vw, 8rem);
    width: 25vw;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 40px;
}

.hero-carousel .author {
    font-family: 'Roboto', sans-serif;
    color: #F0E8DD;
}

/* container for all of carousel text */
.hero-carousel.block > div:nth-child(1) > div:nth-child(2) {
    padding-top: 5em;
    margin-left: 4em;
}
