@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* above the fold CSS goes here */

.hero-carousel {
    display:block;
    width:100%;
    padding:40px;
    box-sizing: border-box;
}

/* Slides */
.hero-carousel .slide {
    display: flex;
    flex-direction:row;
    justify-content: center;
    width:100%;
    flex-grow: 1;
    flex-basis:0;
    padding:10px;
}

.hero-carousel .image img {
    width: 30vw;
    float: right;
    margin-right: 3em;
}

.profile img {
    width:50vw;
}

.hero-carousel .title {
    color: #F0E8DD;
    font-size: clamp(2rem, 6vw, 8rem);
    width: 25vw;
    font-family: 'Adobe Clean','Roboto', sans-serif;
    margin-bottom: 40px;
}

.hero-carousel .author {
    font-family: 'Adobe Clean','Roboto', sans-serif;
    color: #F0E8DD;
}

/* container for all of carousel text */
.hero-carousel.block > div:nth-child(1) > div:nth-child(2) {
    padding-top: 5em;
    margin-left: 4em;
}
/* Black placeholder text*/
body > main > div > div > div.hero-carousel.block > div > div:nth-child(3){
    display: none;
}
@media only screen and (max-width: 1024px){
    .hero-carousel.block{
        display: grid;
    }
    .hero-carousel.block .slide .image{
        width: auto;
    }
    .hero-carousel.block > div:nth-child(1) > div:nth-child(2){
        padding: 0;
    }
    #illustrator-for-ipad{
        padding: 0;
    }

}
@media only screen and (max-width: 767px){
    .hero-carousel.block{
        width: 100vw;
        margin: 4em 0;
        margin-left: 0;
        padding: 0;
    }
    .hero-carousel.block .slide{
        display: flex;
        justify-content: space-around;
        align-items:center;
    }
    /* Container for the img */
    .hero-carousel.block .image{
        width: 1em;
    }
    .hero-carousel.block .image img{
        margin-right: 0;
        width: 15em;
        float: none;
    }
    #illustrator-for-ipad{
        margin: 0;
        margin-top: 2em;
        font-size: 2.5em;
        width: auto;
        padding: 0;
    }
    /* Black placeholder text*/
    body > main > div > div > div.hero-carousel.block > div > div:nth-child(3){
        display: none;
    }

}
@media only screen and (max-width: 425px){
    .hero-carousel.block{
        margin: 5em 0;

    }
    .hero-carousel.block .slide{
        display: block;
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .hero-carousel.block .slide .image {
        width: 100%;
        margin-bottom: 2em;

    }
    .hero-carousel.block > div:nth-child(1) > div:nth-child(2){

        padding: 0;
        padding-top: 0;
        margin-left: 0;
    }
    #illustrator-for-ipad{
        margin-top: .5em;
        position: static;
    }

}
@media only screen and (max-width: 375px) {
    .hero-carousel {
        text-align: center;
    }
    .hero-carousel.block .slide{
        display: block;
        width: 95%;
        padding: 0;
        box-sizing: unset;
    }
    /* Container for the img */
    .hero-carousel.block .slide .image{
        width: 100%;
    }
    .hero-carousel.block .picture{
        width: 100%;
    }
    .hero-carousel.block .image img{
        width: 50%;
    }

    /* Div for #PROCESS, Illustrator for Ipad, Gabe Campbell | CTO */
    .hero-carousel.block > div:nth-child(1) > div:nth-child(2){
        padding-top: 1em;
    }
    /* #PROCESS */
    #illustrator-for-ipad{
        position: static;
        margin-top: .5em;
    }
     /* Black placeholder text*/
     body > main > div > div > div.hero-carousel.block > div > div:nth-child(3){
        display: none;
    }
}