/* A single scoreboard */
.scoreboards.block{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
}
.scoreboards > div{
    width: 100%;
    height: 874px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scoreboards > div:first-child{
    background-color:  #FAECE7;
    color: #0B1C40;
}
.scoreboards > div:nth-child(2){
    background-color: #0B1C40;
    color: white;
}
.scoreboards > div:nth-child(3){
    background-color: #FFFAE2;
    color: #0B1C40;
}
.scoreboards .number {
    font-size: 250px;
}
.scoreboards .caption{
    font-size: 25px;
    width: 500px;
}
.scoreboards .tag{
    font-size: 20px;
    border-bottom: solid 4px #0B1C40;
    position: absolute;
    padding-top: 40em;
}
.scoreboards > div:nth-child(2) .tag{
    border-bottom: solid 4px white;
}

@media only screen and (max-width: 375px){
    .scoreboards .number{
        font-size: 5em;
    }
    .scoreboards .caption{
        font-size: 1.5em;
        width: 100%;
    }
}