/* A single scoreboard */
.scoreboards.block{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
}
.scoreboards > div{
    width: 100%;
    height: 834px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.scoreboards > div:first-child{
    background-color:  #FAECE7;
    color: #0B1C40;
}
.scoreboards > div:nth-child(2){
    background-color: #0B1C40;
    color: white;
}
.scoreboards > div:nth-child(3){
    background-color: #FFFAE2;
    color: #0B1C40;
}
.scoreboards .number {
    font-size: 250px;
}
.scoreboards .caption{
    font-size: 25px;
    width: 500px;
}
.scoreboards .tag{
    font-size: 20px;
    border-bottom: solid 4px #0B1C40;
    position: absolute;
    padding-top: 38em;
}
.scoreboards > div:nth-child(2) .tag{
    border-bottom: solid 4px white;
}
@media (max-width: 1024px) and (min-width: 767px){
    .scoreboards .number{
        font-size: 13em;
    }
    .scoreboards .caption{
        font-size: 1.5em;
        width: 80%;
    }
}

@media (max-width: 425px){
    
    .scoreboards .number{
        font-size: 10em;
    }
    .scoreboards .caption{
        font-size: 1.5em;
        width: 90%;
    }
    .scoreboards .tag{
        font-size: 1em;
        padding-top: 25em;
    }

    .scoreboards > div{
        height: 30em;
    }
}
@media only screen and (max-width: 375px){

    .scoreboards .caption{
        font-size: 1em;
        width: 80%;
    }
    
    
}
@media only screen and (max-width: 320px){
    .scoreboards .number{
        font-size: 5em;
    }

    .scoreboards > div{
        height: 20em;
    }

    .scoreboards .tag{
        padding-top: 15em;
    }

}