.jobs .section-wrapper {
  background-color: transparent;
  margin: 0 auto;
  width: var(--content-width);
  max-width: var(--layout-max-width-desktop); 
}

.jobs .cmp-jobs-list__inner-wrap {
  display: grid;
  grid-template-columns: repeat(6, [col-start] 1fr);
  column-gap: 12px;
  row-gap: 12px;
}

.jobs .page-title,
.jobs .page-subtitle {
  grid-column: 2 / -2;
}

.jobs .page-title {
  margin: var(--page-title-top-space) 0;
}

.jobs .page-subtitle {
  margin-bottom: 2rem;
}

.jobs .page-subtitle:last-of-type {
  margin-bottom: 4rem;
}

.jobs .cmp-jobs-list__bg {
  background-color: var(--color-base-lighter-black);
  color: var(--color-base-white);
  display: grid;
  font-family: var(--font-stack-serif);
  font-weight: var(--font-weight-normal);
  grid-template-columns: repeat(6, [col-start] 1fr);
  column-gap: 12px;
  row-gap: 12px;
  grid-column: 1 / -1;
  padding: 6rem 0;
}

.jobs .cmp-jobs-list__bg > * {
  grid-column: 2 / -2;
}

.jobs .cmp-jobs-list__bg h2 {
  --opportunities-title-font-size: var(--font-size-900);

  font-size: var(--opportunities-title-font-size);
  font-weight: var(--font-weight-normal);
  margin-bottom: 6rem;
}

.jobs .cmp-job__group {
  margin-bottom: 6rem;
}

.jobs .cmp-job__group:last-of-type {
  margin-bottom: 0;
}

.jobs .cmp-job__group-title {
  font-size: 2rem;
  font-family: var(--font-stack-sans);
  font-weight: var(--font-weight-black);
  line-height: 1.1;
  margin-bottom: 3rem;
}

/* list of job postings per category */
.jobs .cmp-jobs-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.jobs .cmp-jobs-list__item {
  margin-bottom: 3rem;
}

.jobs .cmp-jobs-list__item:last-of-type {
  margin-bottom: 0;
}

.jobs .cmp-jobs-none {
  font-size: var(--font-size-650);
}

.jobs .cmp-job__link {
  color: var(--color-base-white);
  font-size: var(--font-size-650);
  text-decoration: underline;
}

.jobs .cmp-job__link:hover,
.jobs .cmp-job__link:focus {
  color: var(--color-base-white);
  text-decoration: none;
}

.jobs .cmp-job__department,
.jobs .cmp-job__location {
  font-size: var(--font-size-100);
}

@media (min-width: 900px) {
  .jobs .cmp-jobs-list__inner-wrap {
    grid-template-columns: repeat(12, [col-start] 1fr);
  }

  .jobs .page-title,
  .jobs .page-subtitle {
    grid-column: 2 / -2;
  }

  .jobs .page-subtitle {
    margin-bottom: 4rem;
  }

  .jobs .page-subtitle:last-of-type {
    margin-bottom: 6rem;
  }
  
  .jobs .cmp-jobs-list__bg {
    grid-template-columns: repeat(12, [col-start] 1fr);
  }

  .jobs .cmp-jobs-list__bg h2 {
    --opportunities-title-font-size: var(--font-size-1050);
  }

  .cmp-all-jobs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 200px;
    row-gap: 0;
  }

  .cmp-job__group:first-of-type {
    /*
      this is a hack to get the "experience design" column to always show first
      and to take up its own column *without* resorting to some kind of js solution.
    */

    grid-row: 1 / 50;
  }
}

@media (min-width: 1300px) {
  .jobs .cmp-jobs-list__inner-wrap {
    grid-template-columns: repeat(16, [col-start] 1fr);
  }

  .jobs .cmp-jobs-list__bg {
    grid-template-columns: repeat(16, [col-start] 1fr);
    grid-column: 1 / -1;
  }

  .jobs .page-title,
  .jobs .page-subtitle {
    grid-column: 3 / -3;
  }

  .jobs .page-subtitle:last-of-type {
    margin-bottom: 8rem;
  }

  .jobs .cmp-jobs-list__bg h2 {
    --opportunities-title-font-size: var(--font-size-1090);
  }
}
