.cmp-page__title-wrap {
  display: grid;
  grid-template-columns: repeat(6, [col-start] 1fr);
  margin: 0 auto;
  width: var(--content-width);
  max-width: var(--layout-max-width-desktop);
}

.cmp-stories__inner-wrap .page-title {
  grid-column: 1 / -1;
  margin: var(--page-title-top-space) 1.875rem;
}

.cmp-stories__inner-wrap .story-feed {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(6, [col-start] 1fr);
  column-gap: 12px;
  row-gap: 12px;
  margin: 0 auto 12px;
  width: var(--content-width);
  max-width: var(--layout-max-width-desktop);
}

.cmp-stories-card {
  background-color: var(--color-base-white);
  grid-column: col-start 1 / span 6;
}

.cmp-stories-card a {
  overflow: hidden;
}

.cmp-stories-card__media {
  aspect-ratio: 1 / 1;
}

.cmp-stories-card__media img {
  display: block;
  width: 100%;
  height: 100%;  
  object-fit: cover;
}

.cmp-stories-card__body {
  padding: 2.25rem 2.5rem;
}

.cmp-stories-card__tag {
  color: var(--color-base-navy);
  display: inline-block;
  font-size: var(--font-size-100);
  padding-bottom: 5px;
  position: relative;
  text-transform: uppercase;
}

.cmp-stories-card__tag:hover {
  text-decoration: none;
}

.cmp-stories-card__tag::after {
  background-color: var(--color-base-navy);
  border-radius: 10px;
  bottom: 0;
  content: '';
  left: 0;
  height: 4px;
  position: absolute;
  width: 100%;
}

.cmp-stories-card__title {
  color: var(--color-base-navy);
  font-size: min(max(var(--font-size-800), 4vw), var(--font-size-1075));
  font-weight: var(--font-weight-black);
  margin: 1rem 0 1.5rem;
  line-height: 1;
}

.cmp-stories-card__title a,
.cmp-stories-card__title a:hover,
.cmp-stories-card__title a:focus {
  color: var(--color-base-navy);
}

.cmp-stories-card__intro {
  --card-intro-font-size: var(--font-size-400);
  
  font-family: var(--font-stack-serif);
  font-size: var(--card-intro-font-size);
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

.cmp-stories-card__author {
  --card-author-font-size: var(--font-size-200);
  
  font-size: var(--card-author-font-size);
  font-weight: var(--font-weight-bold);
  line-height: 1.3;
  margin-bottom: 0;
}

.cmp-stories-card__author-title {
  --card-author-title-font-size: var(--font-size-100);
  
  font-size: var(--card-author-title-font-size);
  line-height: 1.3;
  margin-bottom: 0;
}

.cmp-stories-card__author-title + .cmp-stories-card__author {
  margin-top: 12px;
}

@media (min-width: 900px) {
  .cmp-page__title-wrap,
  .cmp-stories__inner-wrap .story-feed {
    grid-template-columns: repeat(12, [col-start] 1fr);
  }

  .cmp-stories__inner-wrap .page-title {
    grid-column: 2 / span 10;
    margin-right: 0;
    margin-left: 0;
  }

  .cmp-stories-card:nth-of-type(odd) {
    grid-column: col-start 1 / span 6;
  }

  .cmp-stories-card:nth-of-type(even) {
    grid-column: col-start 7 / span 6;
  }
}

@media (min-width: 1300px) {
  .cmp-page__title-wrap {
    grid-template-columns: repeat(16, [col-start] 1fr);
  }
  
  .cmp-stories__inner-wrap .page-title {
    grid-column: 3 / span 10;
  }
}
