#global-footer {
    background: #E91D25;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

#global-footer .source {
    content:url(/resources/adobe-design.png);
    height: 3em;
    width: auto;
    grid-column-start: 1;
}

#global-footer > nav:nth-child(2) {
    display: flex;
    flex-direction: column;
}

#global-footer > nav:nth-child(3) {
    display: flex;
    flex-direction: column;
}