/* Beginning of global-header styling */
#global-header {
    display:flex;
    align-items: center;
    padding:20px 0px;
    box-sizing: border-box;
}

#global-header .logo img{
    height: 44px;
    padding-top: 1em;
}
/* Used in Job Posting pages */
#global-header.split{
    background-color: transparent;
    background: transparent;
}
#global-header.split nav a{
    color: var(--text-dark)
}

#global-header .tagline {
    font-family: var(--serif-font);
    margin-left: 5em;
    color: #FFFFFF;
    width: 18vw;
}
#global-header .tagline.black {
    color: var(--text-dark);
}

#global-header nav {
    box-sizing: border-box;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#global-header nav a {
    padding:10px;
    box-sizing: border-box;
    color: #FFFFFF;
    text-decoration: none;
}
#global-header nav.black a {
    color: var(--text-dark);
    font-weight: var(--weight-black);
}
#global-header .dropdown-menu-button{
    padding: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
}
#global-header .menu-dropdown-container{
    position: absolute;
    top: 88px;
    right: 15px;
    width: 215px;
    padding: 8px 20px;
    background: #FAFAFA;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    opacity: 1;
    transition: all .2s cubic-bezier(.63,.07,.46,.99);
    z-index: 150
    
}
#global-header .exit-menu{
    transform: translate(2% ,-4px ) skew(-1.5deg, -1.5deg) scale(.98);
    opacity: 0;
}
#global-header  .hide-menu{
    display: none;
}
#global-header .menu-dropdown-container a {
    padding: 15px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-dark);
    border-bottom: 1px solid #F3F3F3;
    width: 100%;
    text-align: right;
    font-size: 20px;
}
#global-header .menu-dropdown-container a:last-child {
    border-bottom: unset;
}
@media only screen and (max-width: 1000px) {
    #global-header{
        padding: 20px 20px
    }
}
/* @media only screen and (max-width: 1024px) and (min-width: 767px) {
    #global-header .tagline {
        padding: 0;
    }
    #global-header{
        display: grid;
        grid-template-rows: 5em;
        grid-template-columns: 9em 25em auto;
        margin: 0em 1em;
    }
    #global-header .tagline{
        grid-row-start: 1;
        grid-column-start:2 ;
        width: 100%;
        margin-left: 10px;
    }
    #global-header nav{
        grid-column-start: 3;
        grid-row-start: 1;
        position: static;
    }
    #global-header > .logo img {
        max-width: 75%;
    }
}

@media only screen and (max-width: 767px) {
    #global-header{
        display: flex;;
        margin: 0;
        padding: 0;
    }
    #global-header .tagline {
        text-align: center;
        width: 100vw;
        margin: 0;
        padding-right: 1em;
    }
    #global-header nav {
        position: static;
        margin: 0;
    }
}

@media only screen and (max-width: 425px){
    .tagline {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100vw;
    padding: 0;
    text-align: center;
    }
    #global-header{
        display: grid;
        justify-items: center;
    }
    #global-header .tagline {
        text-align: center;
        width: 20em;
        margin: 0;
        padding-top: 2em;
    }
    #global-header nav {
        position: static;
        margin: 0;
        padding-top: 2em;
    }
}

@media only screen and (max-width: 375px) {
    .tagline {
        display:flex;
        flex-direction: column;
        justify-content: center;
        width:100vw;
        padding: 0;
        text-align: center;
    }
    #global-header{
        margin-right: 0;
    }
    #global-header .tagline {
        text-align: center;
        width: 20em;
        margin: 0;
        padding-top: 2em;
    }

    #global-header nav {
        position: static;
        margin: 0;
        padding-top: 2em;
    }
} */
/* End of navbar styling */
