#global-footer,
#global-footer .footer-content,
#global-footer p,
#global-footer a,
#global-footer span{
    text-rendering: geometricPrecision;
    box-sizing: border-box;
}

#global-footer {
    background: #E91D25;
}

#global-footer .footer-content {
    width: 100vw;
    max-width: 100vw;
    height: auto;
    margin: auto;
    padding: 14.3em 14.75em 7em 8.6em;
    box-sizing: border-box;
    display: grid;
    grid-auto-flow: column dense;
    grid-template-columns: 37.3% 31.3% 31.3%;
    grid-template-rows: 50% 50%;
}

#global-footer .footer-content nav a,
#global-footer .footer-content nav p{
    /*remove p + a defaults*/
    color: white;
    margin-block: unset;
    padding-block: unset;
    text-decoration: none;
}

#global-footer .footer-content .footer.logo {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
}
#global-footer .footer-content .source {
    content:url(/resources/adobe-design-white.svg);
    height: 3.63em;
    width: auto;
}

#global-footer nav p.med,
#global-footer nav p.lg{
    display: none;
}

#global-footer .footer-content nav.foot.left,
#global-footer .footer-content nav.foot.right{
    display: flex;
    flex-direction: column;
    grid-column: span 1;
    grid-row: 1 / span 1;
}


#global-footer nav.foot.last{
    flex-wrap: wrap;
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    flex-direction: row;
    font-size: 0.8em;
    align-self: flex-end;
}

#global-footer .footer-content nav.right a,
#global-footer .footer-content nav.left a{
    padding: 0px 0px 1em 0px;
}

#global-footer .footer-content p,
#global-footer .footer-content a{
    padding-top: 1em;
}
#global-footer .footer-content p.sm{
    padding: 3px 5px 0px 5px;
    /* display: contents; */
}


@media (max-width: 950px) {
    #global-footer,
    #global-footer .footer-content {
        max-width: 100vw;
        width: 100%;
    }
    #global-footer .footer-content {
        grid-template-columns: clamp(10em, 45.8%, 45.8%) 54.2%;
        grid-template-rows: repeat(3, 1fr);
        padding: 5.315em 2.875em 4.25em 5em;
        box-sizing: border-box;
        height: 29.25em;
    }

    #global-footer .footer-content .footer.logo,
    #global-footer .footer-content .footer.logo img {
        grid-row: 1 / span 1;
        grid-column:  1 / span 1;
        width: 100%;
        max-width: 6.5625em;
        height: auto;
        margin: unset;
    }
    #global-footer .footer-content nav{
        align-items: left;
    }
    #global-footer .footer-content nav.foot.left,
    #global-footer .footer-content nav.foot.right{
        grid-row: 2 / span 1;
        grid-column: span 1;
    }
    #global-footer .footer-content nav.foot.left a,
    #global-footer .footer-content nav.foot.right a{
        font-size: 20px;
        line-height: 20px;
        padding: 0 0 .75em 0;
    }

    #global-footer .footer-content nav.last {
        grid-row: 3 / span 1;
        grid-column: 1 / span 2;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #global-footer .footer-content nav.last p,
    #global-footer .footer-content nav.last a{
        font-size: 16px;
        line-height: 18px;
        padding: 0.2125em 0 0 0;
    }
    #global-footer .footer-content nav.last div.break.med a,
    #global-footer .footer-content nav.last div.break.med p{
        display: contents;
    }
    #global-footer div nav p.med,
    #global-footer div nav p.lg {
        display: none;
    }

}

@media (min-width: 951px){
    #global-footer .footer-content {
        padding: 7.4vw 8.3vw 5.2vw 6.25vw;
        grid-template-columns: 32% 34% 34%;
        height: calc(14.5em + 12.2vw)
    }
    #global-footer .footer.logo img{
        width: clamp(100px, 9.7vw, 186px)
    }
    #global-footer nav.last p.med{
        padding: 3px 5px 0 5px;
    }
    #global-footer p.med,
    #global-footer p.lg{
        display: none;
    }
    #global-footer nav.last p.med,
    #global-footer nav.last p.lg
    #global-footer nav.last p.lg + div {
        padding: 3px 5px 0 5px;
    }
}

@media (max-width: 400px) {
    footer#global-footer,
    footer#global-footer .footer-content,
    footer#global-footer .footer-content a,
    footer#global-footer .footer-content p {
        font-size: 3.86vw;
    }
    footer#global-footer,
    footer#global-footer .footer-content{
        min-height: 380px;
        height: 29em;
    }
}

@media (min-width: 650px){
    #global-footer nav.last div.break,
    #global-footer nav.last p,
    #global-footer nav.last a{
        display: contents;
    }
    #global-footer nav p.lg{
        display: none;
    }
    #global-footer nav.last div.break.lg{
        display: block;
    }
}

@media (min-width: 1350px){
    #global-footer nav.last div.break.sm,
    #global-footer nav.last div.break.med,
    #global-footer nav.last div.break.lg{
        display: contents;
    }
}

@media screen and (min-width: 1920px) {
    #global-footer .footer-content {
        height: 37.1875em;
        max-width: 120em;
        padding: 14.3em 14.75em 7em 8.6em;
        grid-template-columns: 37.3% 31.3% 31.3%;
        grid-template-rows: 50% 50%;
    }
}

body:not(.loaded) #global-footer {
    display:none;
}