/* Beginning of navbar styling */
.tagline {
    display:flex;
    width:100%;
    padding:40px;
}

.tagline.block > div:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    margin-left: 5em;
    color: #FFFFFF;
    width: 19vw;
}

.tagline.block > div:nth-child(3) {
    font-family: 'Roboto', sans-serif;
    margin-left: 5em;
    color: #FFFFFF;
    position: absolute;
    right: 30em;
}

.tagline.block > div:nth-child(4) {
    font-family: 'Roboto', sans-serif;
    margin-left: 5em;
    color: #FFFFFF;
    position: absolute;
    right: 25em;
}

.tagline.block > div:nth-child(5) {
    font-family: 'Roboto', sans-serif;
    margin-left: 5em;
    color: #FFFFFF;
    position: absolute;
    right: 20em;
}

.tagline.block > div:nth-child(6) {
    font-family: 'Roboto', sans-serif;
    margin-left: 5em;
    color: #FFFFFF;
    position: absolute;
    right: 15em;
}

@media only screen and (max-width: 375px) {
    .tagline {
        display:flex;
        flex-direction: column;
        justify-content: center;
        width:100vw;
        padding: 0;
        text-align: center;
    }

    .tagline.block{
        margin-right: 0;
    }
    
    .tagline.block > div:nth-child(2) {
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        text-align: center;
        width: 100vw;
        margin: 0;
        padding-top: 2em;
    }
    
    .tagline.block > div:nth-child(3) {
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        position: relative;
        margin: 0;
        width: 100%;
        right: 0;
        padding-top: 2em;
    }
    
    .tagline.block > div:nth-child(4) {
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        position: relative;
        margin: 0;
        width: 100%;
        right: 0;
        padding-top: 2em;
    }
    
    .tagline.block > div:nth-child(5) {
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        position: relative;
        margin: 0;
        width: 100%;
        right: 0;
        padding-top: 2em;
    }
    
    .tagline.block > div:nth-child(6) {
        font-family: 'Roboto', sans-serif;
        color: #FFFFFF;
        position: relative;
        margin: 0;
        width: 100%;
        right: 0;
        padding-top: 2em;
    }
}
/* End of navbar styling */