/* Beginning of navbar styling */
.tagline {
    display:flex;
    align-items: center;
    width:100%;
    padding-top:40px;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.tagline.block > div:nth-child(2) {
    font-family: 'Roboto', sans-serif;
    margin-left: 5em;
    color: #FFFFFF;
    width: 19vw;
}

.tagline.block > div:nth-child(3) {
    padding-right: 1em;
    box-sizing: border-box;
    margin-left: auto;
}

.tagline.block > div:nth-child(4) {
    padding-right: 1em;
    box-sizing: border-box;
}

.tagline.block > div:nth-child(5) {
    padding-right: 1em;
    box-sizing: border-box;
}

.tagline.block > div:nth-child(6) {
    padding-right: 1em;
    box-sizing: border-box;
}
@media only screen and (max-width: 1024px) and (min-width: 767px) {
    .tagline {
        padding: 0;
    }
    .tagline.block{
        display: grid;
        grid-template-rows: 5em;
        grid-template-columns: 9em 25em auto auto auto auto;
    }
    .tagline.block > div:nth-child(2){
        grid-row-start: 1;
        grid-column-start:2 ;
        width: 100%;
        margin-left: 10px;
    }
    .tagline.block > div:nth-child(3){
        grid-column-start: 3;
        grid-row-start: 1;
        position: static;

    }
    .tagline.block > div:nth-child(4){
        grid-column-start: 4;
        grid-row-start: 1;
        margin-left: 0;
        position: static;

    }
    .tagline.block > div:nth-child(5){
        grid-column-start: 5;
        grid-row-start: 1;
        margin-left: 0;
        position: static;

    }
    .tagline.block > div:nth-child(6){
        grid-column-start: 6;
        grid-row-start: 1;
        margin-left: 0;
        position: static;
    }
    .tagline.block > div:nth-child(1) > div > picture > img {
        max-width: 75%;
    }
}
@media only screen and (max-width: 767px) {
    .tagline.block{
        display: flex;;
        margin: 0;
        padding: 0;
    }
    .tagline.block > div:nth-child(2) {
        text-align: center;
        width: 100vw;
        margin: 0;
        padding-right: 1em;
    }
    
    .tagline.block > div:nth-child(3) {
        position: static;
        margin: 0;
        padding-right: 1em;
    }
    
    .tagline.block > div:nth-child(4) {
        position: static;
        margin: 0;
        padding-right: 1em;
    }
    
    .tagline.block > div:nth-child(5) {
        position: static;
        margin: 0;
        padding-right: 1em;
    }
    
    .tagline.block > div:nth-child(6) {
        position: static;
        margin: 0;
        padding-right: 1em;
    }
    
    @media only screen and (max-width: 425px){
        .tagline {
        display:flex;
        flex-direction: column;
        justify-content: center;
        width:100vw;
        padding: 0;
        text-align: center;
    }
    .tagline.block{
        display: grid
    }
    .tagline.block > div:nth-child(2) {
        text-align: center;
        width: 20em;
        margin: 0;
        padding-top: 2em;
    }
    .tagline.block > div:nth-child(3) {
        position: static;
        margin: 0;
        padding-top: 2em;
    }
    .tagline.block > div:nth-child(4) {
        position: static;
        margin: 0;
        padding-top: 2em;
    }
    .tagline.block > div:nth-child(5) {
        position: static;
        margin: 0;
        padding-top: 2em;
    }
    .tagline.block > div:nth-child(6) {
        position: static;
        margin: 0;
        padding-top: 2em;
    }
    
}
@media only screen and (max-width: 375px) {
    .tagline {
        display:flex;
        flex-direction: column;
        justify-content: center;
        width:100vw;
        padding: 0;
        text-align: center;
    }

    .tagline.block{
        margin-right: 0;
    }

    
    .tagline.block > div:nth-child(2) {
        text-align: center;
        width: 20em;
        margin: 0;
        padding-top: 2em;
    }
    
    .tagline.block > div:nth-child(3) {
        position: static;
        margin: 0;
        padding-top: 2em;
    }
    
    .tagline.block > div:nth-child(4) {
        position: static;
        margin: 0;
        padding-top: 2em;
    }
    
    .tagline.block > div:nth-child(5) {
        position: static;
        margin: 0;
        padding-top: 2em;
    }
    
    .tagline.block > div:nth-child(6) {
        position: static;
        margin: 0;
        padding-top: 2em;
    }
}
}
/* End of navbar styling */


@media (max-width:767px) {
    .tagline.block > div:nth-child(2) {
        display:none;
    }
    .carousel.block {
        display:none;
    }
}