@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "body-styles.css";
@import "navbar-styles.css";

@import "./page-types/home.css";
@import "./page-types/article.css";

body {
    background: rgb(231,204,222);
    background: linear-gradient(0deg, rgba(231,204,222,1) 4%, rgba(251,109,33,1) 19%, rgba(250,89,61,1) 37%, rgba(255,186,148,1) 52%, rgba(255,186,11,1) 64%, rgba(255,186,11,1) 70%, rgba(14,188,151,1) 73%, rgba(166,117,109,1) 75%, rgba(255,65,34,1) 84%, rgba(233,29,37,1) 100%);
    font-family:sans-serif;
    transition: all .4s ease-in-out;
}

main > div > div > div:not(.full-bleed) {
    width: 98vw;
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}

html, body{
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.tag-link {
    color: #D8D8D8;
    text-decoration: underline solid 4px#D8D8D8;
    /* border-bottom: solid 4px#D8D8D8; */
    display: inline;
    font-family: 'Roboto', sans-serif;
}
.tag-link.black {
    color: #17212D;
    text-decoration: underline solid 4px#17212D;
    /* border-bottom: solid 4px#17212D; */
    display: inline;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .page-home main > div{
        width: auto;
        margin: 1em;
        overflow-x: hidden;
        margin-right: 2em;
    }
    main > div > div > div:not(.full-bleed) {
        width: auto;
        max-width:1000px;
        margin-left:auto;
        margin-right:auto;
    }
}
@media only screen and (min-width: 425px) and (max-width: 768px){
    .page-home main > div{
        width: auto;
        margin: 1em;
        overflow-x: hidden;
    }
}
@media only screen and (min-width: 375px) and (max-width: 425px){
    .page-home main > div{
        width: auto;
        margin: 1em;
        overflow-x: hidden;
    }
    main > div > div > div:not(.full-bleed) {
        width: auto;
        max-width:1000px;
        margin-left:auto;
        margin-right:auto;
        overflow-x: hidden;
    }
}
@media only screen and (min-width: 321px) and (max-width: 375px){
    .page-home main > div{
        width: auto;
        margin: 1em;
        overflow-x: hidden;
    }
   
}
