@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "body-styles.css";
@import "navbar-styles.css";

@import "./page-types/home.css";
@import "./page-types/article.css";

main > div > div > div:not(.full-bleed) {
    width: 98vw;
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}

html, body{
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.tag-link {
    color: #D8D8D8;
    border-bottom: solid 4px#D8D8D8;
    display: inline;
    font-family: 'Roboto', sans-serif;
}
.tag-link.black {
    color: #17212D;
    border-bottom: solid 4px#17212D;
    display: inline;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    main > div{
        width: auto;
        margin: 1em;
        overflow-x: hidden;
    }
    main > div > div > div:not(.full-bleed) {
        width: auto;
        max-width:1000px;
        margin-left:auto;
        margin-right:auto;
    }
}
@media only screen and (min-width: 425px) and (max-width: 768px){
    main > div{
        width: auto;
        margin: 1em;
        overflow-x: hidden;
    }
}
@media only screen and (min-width: 375px) and (max-width: 425px){
    main > div{
        width: auto;
        margin: 1em;
        overflow-x: hidden;
    }
    main > div > div > div:not(.full-bleed) {
        width: auto;
        max-width:1000px;
        margin-left:auto;
        margin-right:auto;
        overflow-x: hidden;
    }
}
@media only screen and (min-width: 321px) and (max-width: 375px){
    main > div{
        width: auto;
        margin: 1em;
        overflow-x: hidden;
    }
   
}
