.cmp-image-with-caption__image {
  display: block;
  margin: 0 0 1rem;
}

.cmp-image-with-caption__caption {
  --caption-font-size: var(--font-size-100);
  
  font-size: var(--caption-font-size);
  font-style: italic;
  margin: 0 0 2rem;
}
