button{
    background-color: unset;
    color: white;
    border: 2px solid white;
    border-radius: 1.5em;
    height: 3em;
    font-size: 1em;
    padding: 0.5em 1.5em;
    line-height: 1em;
}

button.reg{
    border-radius: 1.5em;
    height: 3em;
    font-size: 1em;
    padding: 0.5em 1.5em;
    line-height: 1em;
}

button.reg.unfilled{
    border: 2px solid var(--btn-color);
    color: var(--btn-color);
    background-color: unset;
}
button.reg.filled{
    border: none;
    color: var(--btn-color);
    background-color: unset;
}



button.carousel__button--prev,
button.carousel__button--next,
button.carousel__button--prev img,
button.carousel__button--next img{
    background-color: transparent;
    padding: 0px;
    height:  3em;
    width:   3em;
}

button.carousel__button--prev,
button.carousel__button--next{
    border: 3px solid transparent;
    padding: .25em;
    border-radius: 50%;
    box-sizing: content-box;
}

button.carousel__button--prev:focus,
button.carousel__button--next:focus{
    border-color: var(--color-navy);
}

button.carousel__button--prev{
    transform: rotate(180deg)
}