.seventy.block {
    width: 135%;
    height: 100%;
}
.seventy{
    height: 100%
}
.seventy .seventy-link{
    height: 100%;
    display: flex;
    align-content: center;
}
.seventy .image {
    background-color: white;
    width: 60%;
}
.seventy .image img {
    width: 100%;
    height: 100%;
}
.seventy .content {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1.6em 3em 1em 5em;
    box-sizing: border-box;
    font-size: 28px;
    width: 80%;
}
.seventy .tag {
    border-bottom: solid 0.2em #000000;
    width: fit-content;
    color: inherit;
    font-size: 1em;
    line-height: 1.125em;
    margin: 0em 0em 0.5em 0em;
    text-decoration: none;
    text-transform: uppercase;
    width: max-content;
    padding-bottom: .25em;
}
.seventy .tag.tag-link {
    border-bottom: none;
}
.seventy .hed {
    font-family: var(--sans-serif-font);
    font-size: 3em;
    line-height: 1em;
    margin: 1em 0rem 0em;
    max-width: 100%;
    text-decoration: none;
    color: inherit;
}
.seventy .dek {
    font-size: 1.4em;
    line-height: 1.2em;
    margin: 3em 0em 2rem 0em;
    font-weight: var(--weight-light);
    max-height: 3.6em;
    max-width: 100%;
}
.seventy .byline {
    font-size: 1em;
    margin: 3em 0em 0.5rem 0em;
    line-height: 1.6em;
}
@media (max-width: 1920px){
    .seventy .content {
        width: unset;
    }
}

@media(max-width: 1920px) and (min-width: 1651px){
    .seventy .image {
        width: 70%;
    }
    .seventy .content{
        font-size: 24px;
    }
}
@media(max-width: 1650px) and (min-width: 1441px){
    .seventy .image {
        width: 75%;
    }
    .seventy .content{
        font-size: 20px;
    }
}
@media(max-width: 1440px) and (min-width: 1281px){
    .seventy .image {
        width: 75%;
    }
    .seventy .content{
        font-size: 18px;
    }
}
@media(max-width: 1280px){
    .seventy .image {
        width: 100%;
    }

    .seventy .content{
        font-size: 16px;
    }
    
}

@media (max-width: 1023px){
    .seventy .image {
        display: none;
    }
}

@media (max-width: 767px){
    .seventy.block{
        width: auto;
    }
    .seventy {
        flex-direction: column;
    }
    .seventy .content {
        width: auto;
        margin-bottom: .5em;
        padding: 1.6em 3em 1em 3em;
    }
}

@media(min-width: 1920px) {
    .seventy .tag {
        font-size: .85em;
    }
    .seventy .byline {
        font-size: .8em;
        font-weight: bold;
    }
}