.page-type-jobs .jobs >div > div{
    width: 98vw;
    max-width:1000px;
    margin-left:auto;
    margin-right:auto;
}

.page-type-jobs .jobs *{
    font-weight: var(--weight-light);
}

.page-type-jobs .head-content{
    font-size: 2rem;
    color: white;
}

.page-type-jobs .head-content>*{
    padding-left: 5rem;
}

.page-type-jobs .head-content h1{
    font-weight: var(--weight-regular);
    margin: 7rem 0 5rem 0;
    width:50%;
}
.page-type-jobs .head-content p{
    font-size: 3rem;
    padding-right: 5rem;
}

.page-type-jobs .head-content p:last-child{
    line-height: 1.6em;
    margin: 5rem 0;
    font-size: 1.2rem;
    padding-left: 40%;
    padding-right: 10%;
}

.page-type-jobs .jobs-block-container{
    color: white;
    background-color: #0B1C40;
    padding: 1em;
}

.page-type-jobs .jobs-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10%;
    padding: 2rem 3rem 5rem 3rem;
    min-height: 1000px; /* Remove/Change this once we populate job listings*/
}
.page-type-jobs .jobs-container .job-category{
    padding-top: 3rem;
}
.page-type-jobs .jobs-container .job-category h2{
    font-size: 2rem;
}

@media (max-width: 700px){
    .page-type-jobs .jobs-container{
        grid-template-columns: 1fr;
    }
    .page-type-jobs .head-content h1,
    .page-type-jobs .head-content p,
    .page-type-jobs .head-content p:last-child{
        width: 80%;
        padding: 0;
        margin: 5rem auto;
    }

    .page-type-jobs .head-content p{
        font-size: 2rem;
    }
}
