.page-type-jobs .jobs *{
    font-weight: var(--weight-light);
}

.page-type-jobs .head-content{
    font-size: 2rem;
}

.page-type-jobs .head-content>*{
    padding-left: var(--page-header-l-padding);
}

.page-type-jobs .head-content h1{
    font-size: var(--page-header-size);
    font-weight: var(--weight-regular);
    margin: var(--page-header-margin);
    width:45%;
}
.page-type-jobs .head-content p{
    font-size: 3rem;
    padding-right: 5rem;
}

.page-type-jobs .head-content p:last-child{
    line-height: 1.6em;
    margin: 7rem 0 9rem 0;
    font-size: 1.5rem;
    padding-left: 25%;
    padding-right: 10%;
}

.page-type-jobs .jobs-block-container{
    color: white;
    background-color: #0B1C40;
    padding: 1em;
}

.page-type-jobs .jobs-block-container #opportunities{
    font-weight: var(--weight-bold);
    font-size: 3rem;
    padding: 2rem 3rem;
    color: #FFFE8B;
}

.page-type-jobs .jobs-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 15%;
    padding: 2rem 3rem 5rem 3rem;
    min-height: 1000px; /* Remove/Change this once we populate job listings*/
}
.page-type-jobs .jobs-container .job-category{
    display: grid;
    grid-template-rows: 8em auto;
    padding-top: 5rem;
}
.page-type-jobs .jobs-container .job-category h2{
    font-weight: var(--weight-bold);
    font-size: 2rem;
    padding-bottom: 2rem;
}

.page-type-jobs .jobs-container .job-category a{
    display:grid;
    grid-template-columns: auto;
    grid-column-gap: 1em;
    grid-template-rows: repeat(4, minmax(30%,auto));
    align-items: start;

    color: white;
    text-decoration: none;
    padding: 2em 0;
    height: 5em;

    border-bottom: 2px white solid
}
.page-type-jobs .jobs-container .job-category a>p{
    display: unset;
    margin-block: unset;
}
.page-type-jobs .jobs-container .job-category a .job-title{
    font-weight: 300; /*Currently we only have vars for 200 and 400*/
    font-size: clamp(1rem, 2.2vw, 1.5rem);
    grid-area: 1/1/3/2;
}
.page-type-jobs .jobs-container .job-category a .job-whatchamacallit{
    grid-area: 4/1/5/2
}
.page-type-jobs .jobs-container .job-category a .job-section{
    padding-top:0.2em;
    grid-area: 1/2/2/3;
    text-align: end;
}
.page-type-jobs .jobs-container .job-category a .job-location{
    grid-area: 3/2/4/3;
    text-align: end;
}


@media (max-width: 768px){
    .page-type-jobs .jobs-container .job-category a{
        grid-column-gap: 0;
    }
}

@media (max-width: 700px){
    .page-type-jobs .jobs-container{
        grid-template-columns: 1fr;
    }
    
    .page-type-jobs .head-content h1,
    .page-type-jobs .head-content p,
    .page-type-jobs .head-content p:last-child{
        width: 80%;
        padding: 0;
        margin: 5rem 0;
        padding-left: 2rem;
    }
    .page-type-jobs .head-content h1{
        margin-block: unset;
        margin: 6rem 0 4rem 0;
        font-size: 3rem;
    }

    .page-type-jobs .head-content p{
        font-size: 2rem;
    }
}

@media (max-width: 425px){
    .page-type-jobs .jobs-container .job-category a .job-title{
        font-size: 1.3rem;
    }
    .page-type-jobs .jobs-container .job-category a{
        height: auto;
    }

    .page-type-jobs .jobs-block-container #opportunities{
        padding: 2rem;
    }
}

@media (max-width: 320px){
    .page-type-jobs .jobs-block-container #opportunities{
        padding: 2rem 0;
    }
}