.inclusive-design h1{
    color: white;
    font-weight: var(--weight-light);
    margin: var(--page-header-margin);
    padding-left: var(--page-header-l-padding);
    font-size: var(--page-header-size);
    width: 60%
} 

body > main > div > div > p {
    display: none;
}

.inclusive-design .tag-link {
    display: none;
}

.inclusive-design .article-card.block .text .hed {
    font-size: 2.5em;
    font-weight: 300;
    padding-right: 2em;
    width: 60%;
    overflow: visible;
    margin-top: 0.5em;
}

.inclusive-design .article-card.block .text .dek {
    font-size: 1.15em;
    font-weight: 300;
    padding-top: 1em;
    max-height: 10em;
    margin-bottom: 0;
    max-width: 90%;
}

.inclusive-design .article-card.block .text .byline {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-family: var(--serif-font);
}

.inclusive-design .article-card.block .text .byline .author {
    font-weight: 300;
}



.inclusive-design .statement{
    padding: 4em;
    background: #E04827;
    background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 650px,rgba(224,72,39, 1) 650px);
    width: auto;
}
.inclusive-design .statement img{
    width: 100%;
    background: white;
}
.inclusive-design .statement h2{
    margin: 0;
    margin-top: 5em;
}
.inclusive-design .statement p{
    color: white;
    font-size: 3em;
    font-weight: 300;
}

body > main > div > div > p{
    margin: 0;
}

#wed-like-to-share-what-weve-learned-with-you{
    background: white;
    color: red;
    font-size: 4em;
    font-weight: 300;
    padding: 2em 2em;
    text-align: center;
    margin: 0;
}
.inclusive-design .article-card.block{
    margin-bottom: 0;
}
.inclusive-design .statementTwo{
    background: #F7EFFC;
    padding: 5em 15em;
    width: auto;
    margin: 0;
}
.inclusive-design .statementTwo h2{
    padding-top: 5em;
    padding-bottom: 2em;
    margin: 0;
}
.inclusive-design .statementTwo p{
    font-size: 3em;
    font-weight: 400;
    margin: 0;
}
body > main > div > div > div:nth-child(5) > div > div.text{
    color: white;
    background: #360D5A;
}
body > main > div > div > div:nth-child(6) > div > div.text{
    color: white;
    background: #E91D25;
}
.inclusive-design .people.block{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    background: #F7EFFC;
    padding: 3.5em;
    margin: 0;
    width: auto;
}

/* Name of person */
.people > .person > div:nth-child(2) {
    color: #574B77;
    padding: .5em 0 5px 1em;
    font-size: 1.5em;
}

/* Title of Person */
.people > .person > div:nth-child(3) {
    padding: 0 0 .5em 2em;
    font-size: .75em;
}

/* Fact about Person */
.people > .person > div:nth-child(4) {
    color: #917496;
    padding: 1em 0 3em 1.5em;
    font-size: 1em;
    width: 12em;
}

.inclusive-design .people.block img{
    width: 18em;
    height: 18em;
    
}
.inclusive-design .person{
    margin: 0;
    background: none;
}
body > main > div > div > div:nth-child(17) > div:nth-child(2) > div:nth-child(1){
    margin: 1em;
}

.inclusive-design .statementThree{
    background: #F7EFFC;
    padding: 3em 10em;
    width: auto;
}
.inclusive-design .statementThree h2{
    margin: 0;
    padding-bottom: 2em;
}
.inclusive-design .statementThree p{
    margin: 0;
    font-size: 3em;
}

body > main > div > div > div:nth-child(10){
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: auto;
}


@media (max-width: 700px){
    .inclusive-design h1{
        margin: 6rem 0 4rem 0;
        padding-left: 2rem;
        font-size: 3em;
        width: 80%
    } 
}
@media (min-width: 768px) and (max-width:1024px){
    .inclusive-design .article-card.block .text .dek {
        font-size: 2em;
        font-weight: 300;
        padding-top: 4em;
        max-height: 10em;
        margin-bottom: 0;
        max-width: 90%;
    }
}
@media (min-width: 426px) and (max-width:768px){
    .inclusive-design .statement{
        padding: 1em;
        background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 450px,rgba(224,72,39, 1) 450px);
    }
    #wed-like-to-share-what-weve-learned-with-you{
        background: white;
        color: red;
        font-size: 3em;
        font-weight: 400;
        padding: 5em 3em;
        text-align: center;
        margin: 0;
    }
    .inclusive-design .block-content .text{
        font-size: 2em;
    }

    .inclusive-design .article-card.block .block-content{
        display: grid;
    }
    .inclusive-design .article-card.block .text .hed{
        padding-right: 0;
    }
    .inclusive-design .article-card.block .text .dek {
        font-size: 1.5em;
        font-weight: 300;
        padding-top: 1em;
        margin-top: 0;
        max-height:none;
        margin-bottom: 0;
        max-width: 100%;
    }
    .inclusive-design .statementTwo{
        background: #F7EFFC;
        padding: 5em 1em;
        width: auto;
        margin: 0;
    }
    .inclusive-design .people.block{
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
        background: #F7EFFC;
        padding: 0;
        margin: 0;
        width: auto;
    }
    .inclusive-design .statementThree{
        background: #F7EFFC;
        padding: 3em 1em;
        width: auto;
    }
}
@media (min-width: 320px) and (max-width:425px){
    .inclusive-design .statement{
        padding: 1em;
        background: linear-gradient(to bottom, rgba(255,255,255, 0) 0%, rgba(255,255,255, 0) 250px,rgba(224,72,39, 1) 250px);
    }
    .inclusive-design .statementTwo h2{
        padding-top: 1em;
    }
    #wed-like-to-share-what-weve-learned-with-you{
        background: white;
        color: red;
        font-size: 3em;
        font-weight: 400;
        padding: 2em .2em;
        text-align: center;
        margin: 0;
    }
    .inclusive-design .block-content{
        display: block;
    }


    .article-card.block .block-content{
        grid-template-rows: auto;
    }

    .inclusive-design .article-card.block .text{
        height: auto;
        padding: 0em;
        margin: 0;
    }
    .inclusive-design .article-card.block .text .hed {
        height: auto;
        padding: 1em;
        margin: 0;
    }
    .inclusive-design .article-card.block .text .dek{
        overflow: visible;
        padding: 0;
        padding-top: 2em;
        padding-left: 2.5em;
        padding-right: 1em;
        margin: 0;
    }
    .inclusive-design .article-card.block .byline{
        padding-left: 1.6em;
        padding-right: 1em;
        padding-bottom: 1em;

    }
    .inclusive-design .statementTwo{
        background: #F7EFFC;
        padding: 5em 1em;
        width: auto;
        margin: 0;
    }
    .inclusive-design .people.block{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        background: #F7EFFC;
        padding: 0;
        margin: 0;
        width: auto;
    }
    .inclusive-design .people.block .person{
        height: auto;
    }
    .inclusive-design .statementThree{
        background: #F7EFFC;
        padding: 3em 1em;
        width: auto;
    }
}
